<app-banner [pagename]="pname"></app-banner>

<p>ebook-ghostwriting works!</p>
<section class="banner-sec book-video serv-bnr-st" id="bnr-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
                    <h1 class="green_clr">Turn Ideas into <br> Best-Sellers</h1>
                    <div class="bnr-btn">
                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="satisfied-sec" class="satify-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/images/logo-img-client.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="promote-book" class="promote-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-col-rem pad_col_rem_mm">
                <div class="col-sm-5">

                    <div class="wow bounceInLeft">
                        <div class="bok-vid-side ">

                            <img src="assets/images/cus-img-slide2.png">
                            <!--<div class="box-content">-->
                            <!--    <img src="assets/images/play-icon-gren.png">-->
                            <!--</div>-->

                        </div>

                    </div>
                    <!--  <div class="bok-vid-side">
              <img src="assets/images/book-video-side-img.jpg">
            </div> -->
                </div>
                <div class="col-sm-7">
                    <div class="hd-txt hd_txt_mm">
                        <h1 class=" wow bounceInRight">PROFESSIONAL EBOOK GHOSTWRITERS FOR HIRE</h1>
                        <h5 class=" wow bounceInRight">Online Book Writers is the place where your literary dreams come
                            to life. Our team of skilled and experienced ghostwriters is dedicated to crafting
                            captivating eBooks that leave a lasting impact on readers. Whether you're an aspiring author
                            with a brilliant concept or a busy professional seeking to share your expertise, our
                            services cater to your unique needs.
                            <br><br>
                            Our ghostwriters possess a profound understanding of various genres and writing styles,
                            ensuring your eBook resonates with your intended audience. From meticulously researching
                            your chosen topic to expertly developing characters and plotlines, we meticulously handle
                            every aspect of the writing process.
                        </h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 promot-bx-col promot_bx_col_mm">
                <h1>WHAT OUR EBOOK GHOSTWRITING <br> AGENCY OFFERS</h1>
                <p>Unlock the power of words with our eBook ghostwriting agency, offering expert storytelling,
                    impeccable research, and unrivaled editorial <br> finesse to bring your vision to life.</p>
                <div class="col-sm-4">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/vidbok-prm-icon1.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Concept Development and <br> Story Outlining</h4>
                            <p>Our professional eBook ghostwriters specialize in developing initial ideas into
                                comprehensive and engaging stories. We work closely with you through detailed
                                discussions and brainstorming sessions to refine your concept, create compelling
                                characters, and outline a captivating plot. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/vidbok-prm-icon2.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Research and Fact-Checking</h4>
                            <p>Our ghostwriters excel at conducting thorough research for non-fiction eBooks or those
                                requiring a strong factual basis. We delve into reputable sources, gather relevant
                                information, and verify facts to ensure the accuracy and credibility of your eBook. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/vidbok-prm-icon3.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Manuscript Editing and Proofreading</h4>
                            <p>We offer comprehensive editing and proofreading services to polish your eBook to
                                perfection. Our skilled editors review the manuscript with a keen eye for detail,
                                refining the language, improving the flow, and addressing any inconsistencies or errors.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="pricing-sec" class="price-sec new-priicng-st-srv">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="500ms"
                        style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">Services &amp;
                        Pricing</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Standard</h3>
                            <ul class="audio-books-pricing">
                                <li> The chief ghostwriter will be a published author. </li>
                                <li> Procedure includes a detailed strategy building and implementing session. </li>
                                <li> The team will comprise of a chief editor who will provide editing and consultation
                                    throughout the planning and writing process.</li>
                                <!--<li> Contact/Query Form </li>-->
                                <!--<li> Complete W3C Certified HTML </li>-->
                                <!--<li> 48 to 72 hours TAT </li>-->
                                <!--<li> Complete Deployment </li>-->
                                <!--<li> 100% Satisfaction Guarantee </li>-->
                                <!--<li> 100% Unique Design Guarantee </li>-->
                                <!--<li> 100% Money Back Guarantee * </li>-->
                            </ul>
                            <h2>$10,500 - $15,500</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Premium</h3>
                            <ul class="audio-books-pricing">
                                <li> The chief ghostwriter will be a bestseller or an extensively published author.
                                </li>
                                <li> Procedure includes detailed strategy building and implementing session(s). </li>
                                <li> The team will comprise of a chief editor who will provide editing, consultation and
                                    recommendations throughout the planning and writing process.</li>
                                <!--<li> 1 jQuery Slider Banner </li>
          <li> <span>FREE</span> Google Friendly Sitemap </li>-->
                                <!--<li> Complete W3C Certified HTML </li>-->
                                <!--<li> 48 to 72 hours TAT </li>-->
                                <!--<li> 100% Satisfaction Guarantee </li>-->
                                <!--<li> 100% Unique Design Guarantee </li>-->
                                <!--<li> 100% Money Back Guarantee * </li>-->
                                <!--<li> Mobile Responsive will be Additional <span>$200*</span> </li>-->
                                <!--<li> CMS will be Additional <span>$250*</span> </li>-->
                            </ul>
                            <h2>$19,500 - $25,500 </h2>
                            <!--<span> (Approx. $230/page)</span>-->

                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-4">-->
                <!--  <div class="price-box bdr-rem">-->
                <!--    <div class="price-icon-bx">-->
                <!--      <img src="assets/images/price-icon-1.png">-->
                <!--    </div>-->
                <!--    <div class="price-txt">-->
                <!--      <h3>Website Design Economy  </h3>-->
                <!--      <ul>-->
                <!--        <li> 10 Unique Pages Website </li>-->
                <!--            <li> CMS / Admin Panel Support </li>-->
                <!--            <li> 8 Stock images </li>-->
                <!--            <li> 5 Banner Designs </li>-->
                <!--            <li> 1 jQuery Slider Banner </li>-->
                <!--            <li> <span>FREE</span> Google Friendly Sitemap </li>-->
                <!--            <li> Complete W3C Certified HTML </li>-->
                <!--            <li> 48 to 72 hours TAT </li>-->
                <!--            <li> Complete Deployment </li>-->
                <!--            <li> 100% Satisfaction Guarantee </li>-->
                <!--            <li> 100% Unique Design Guarantee </li>-->
                <!--            <li> 100% Money Back Guarantee * </li>-->
                <!--            <li> Mobile Responsive will be Additional <span>$200*</span> </li>-->
                <!--      </ul>-->
                <!--      <h2>$644</h2>-->
                <!--      <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>-->
                <!--    </div>-->
                <!--  </div>-->
                <!--</div>-->
            </div>
            <!--<div class="col-sm-12 new-packg-web">-->
            <!--  <div class="col-sm-4">-->
            <!--    <div class="price-box">-->
            <!--      <div class="price-icon-bx">-->
            <!--        <img src="assets/images/price-icon-1.png">-->
            <!--      </div>-->
            <!--      <div class="price-txt">-->
            <!--        <h3>Web design Custom</h3>-->
            <!--        <ul>-->
            <!--          <li> Upto 15 Unique Pages Website </li>-->
            <!--          <li> Conceptual and Dynamic Website </li>-->
            <!--          <li> Mobile Responsive </li>-->
            <!--          <li> Online Reservation/Appointment Tool (Optional) </li>-->
            <!--          <li> Online Payment Integration (Optional) </li>-->
            <!--          <li> Custom Forms </li>-->
            <!--          <li> Lead Capturing Forms (Optional) </li>-->
            <!--          <li> Striking Hover Effects </li>-->
            <!--          <li> Newsletter Subscription (Optional) </li>-->
            <!--          <li> Social Media Integration </li>-->
            <!--          <li> Search Engine Submission </li>-->
            <!--          <li> 5 Stock Photos </li>-->
            <!--          <li> 3 Unique Banner Design </li>-->
            <!--          <li> 1 jQuery Slider Banner </li>-->
            <!--          <li> Complete W3C Certified HTML </li>-->
            <!--          <li> 48 to 72 hours TAT </li>-->
            <!--          <li> Complete Deployment </li>-->
            <!--          <li> 100% Satisfaction Guarantee </li>-->
            <!--          <li> 100% Unique Design Guarantee </li>-->
            <!--          <li> 100% Money Back Guarantee * </li>-->
            <!--        </ul>-->
            <!--        <h2>$1194</h2>-->
            <!--        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>-->
            <!--      </div>-->
            <!--    </div>-->
            <!--  </div>-->
            <!--  <div class="col-sm-4">-->
            <!--    <div class="price-box">-->
            <!--      <div class="price-icon-bx">-->
            <!--        <img src="assets/images/price-icon-1.png">-->
            <!--      </div>-->
            <!--      <div class="price-txt">-->
            <!--        <h3>Web Design Elite</h3>-->
            <!--        <ul>-->
            <!--          <li> 15 to 20 Pages Website </li>-->
            <!--          <li> Custom Made, Interactive, Dynamic &amp; High End Design </li>-->
            <!--          <li> Custom WP (or) Custom PHP Development </li>-->
            <!--          <li> 1 jQuery Slider Banner </li>-->
            <!--          <li> Up to 10 Custom Made Banner Designs </li>-->
            <!--          <li> 10 Stock Images </li>-->
            <!--          <li> Unlimited Revisions </li>-->
            <!--          <li> Special Hoover Effects </li>-->
            <!--          <li> Content Management System (CMS) </li>-->
            <!--          <li> Online Appointment/Scheduling/Online Ordering Integration (Optional) </li>-->
            <!--          <li> Online Payment Integration (Optional) </li>-->
            <!--          <li> Multi Lingual (Optional) </li>-->
            <!--          <li> Custom Dynamic Forms (Optional) </li>-->
            <!--          <li> Signup Area (For Newsletters, Offers etc.) </li>-->
            <!--          <li> Search Bar </li>-->
            <!--          <li> Live Feeds of Social Networks integration (Optional) </li>-->
            <!--          <li> Mobile Responsive </li>-->
            <!--          <li> FREE 5 Years Domain Name </li>-->
            <!--          <li> Free Google Friendly Sitemap </li>-->
            <!--          <li> Search Engine Submission </li>-->
            <!--          <li> Complete W3C Certified HTML </li>-->
            <!--          <li> Industry Specified Team of Expert Designers and Developers </li>-->
            <!--          <li> Complete Deployment </li>-->
            <!--          <li> Dedicated Accounts Manager </li>-->
            <!--          <li> 100% Ownership Rights </li>-->
            <!--          <li> 100% Satisfaction Guarantee </li>-->
            <!--          <li> 100% Unique Design Guarantee </li>-->
            <!--          <li> 100% Money Back Guarantee * </li>-->
            <!--        </ul>-->
            <!--        <h2>$4388</h2>-->
            <!--        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>-->
            <!--      </div>-->
            <!--    </div>-->
            <!--  </div>-->
            <!--  <div class="col-sm-4">-->
            <!--    <div class="price-box bdr-rem">-->
            <!--      <div class="price-icon-bx">-->
            <!--        <img src="assets/images/price-icon-1.png">-->
            <!--      </div>-->
            <!--      <div class="price-txt">-->
            <!--        <h3>Website Design POrtal  </h3>-->
            <!--        <ul>-->
            <!--          <li>Complete Custom Design &amp; Development</li>-->
            <!--          <li>Dating Portal, Job Portal, Professional Network Portal, Social Network Portal, Restaurant Portal, Medical</li>-->
            <!--          <li>Portal, Enterprise Portal (Any One)</li>-->
            <!--          <li>Unique, User Friendly, Interactive, Dynamic, High End UI Design</li>-->
            <!--          <li>Unlimited Banner Designs</li>-->
            <!--          <li>Interactive Sliding Banners</li>-->
            <!--          <li>Special Hoover Effects</li>-->
            <!--          <li>Unlimited Stock Images</li>-->
            <!--          <li>User Signup Area</li>-->
            <!--          <li>User Sign in Area</li>-->
            <!--          <li>Client/User Dashboard Area</li>-->
            <!--          <li>Custom Coding and Development</li>-->
            <!--          <li>Content Management System (Custom)</li>-->
            <!--          <li>Online Appointment/Scheduling/Online Ordering Integration (Optional)</li>-->
            <!--          <li>Online Payment Integration (Optional)</li>-->
            <!--          <li>Multi Lingual (Optional)</li>-->
            <!--          <li>Custom Dynamic Forms (Optional)</li>-->
            <!--          <li>Shopping Cart Integration (Optional)</li>-->
            <!--          <li>Complete Database Creation</li>-->
            <!--          <li>Signup Automated Email Authentication</li>-->
            <!--          <li>Web Traffic Analytics Integration</li>-->
            <!--          <li>3rd Party API Integrations</li>-->
            <!--          <li>Signup Area (For Newsletters, Offers etc.)</li>-->
            <!--          <li>Search Bar for Easy Search</li>-->
            <!--          <li>Live Feeds of Social Networks integration (Optional)</li>-->
            <!--          <li>Search Engine Submission</li>-->
            <!--          <li>Module-wise Architecture</li>-->
            <!--          <li>Extensive Admin Panel</li>-->
            <!--          <li>Award Winning Team of Expert Designers and Developers</li>-->
            <!--          <li>Complete Deployment</li>-->
            <!--          <li> <h4><b><u>Value Added Services</u></b></h4></li>-->
            <!--          <li>Complete Source Files and Codes</li>-->
            <!--          <li>Devoted &amp; Enthusiastic Project Manager</li>-->
            <!--          <li>100% Ownership Rights</li>-->
            <!--          <li>100% Unique &amp; Custom Website Design and Development</li>-->
            <!--          <li>100% Approval Assurance </li>-->
            <!--          <li>30 Days Refund Warranty</li>-->
            <!--          <li><strong>*NO MONTHLY OR ANY HIDDEN FEE*</strong></li>-->
            <!--          <li> <h4><b><u>Add on</u></b></h4></li>-->
            <!--          <li>Professional Content/Copywriting - $1340 (Up to 20 Pages) - (Per Page is $97)</li>-->
            <!--          <li>Shopping Cart Integration - $250</li>-->
            <!--          <li>Additional Professional Email ID - $20 (Each)</li>-->
            <!--        </ul>-->
            <!--        <h2>$5322</h2>-->
            <!--        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>-->
            <!--      </div>-->
            <!--    </div>-->
            <!--  </div>-->
            <!--</div>-->
        </div>
    </div>
</section>





<!--<section id="ebook-portfolio" class="ebok-port">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-12">-->
<!--        <div class="hd-txt">-->
<!--          <h2 class=" wow fadeInUp" data-wow-delay="400ms">Ebook Portfolio</h2>-->
<!--          <p class=" wow fadeInUp" data-wow-delay="500ms">There may be a plethora of reasons causing obstacles between you and the achievement of your dream.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-12">-->
<!--        <div class="col-sm-7 col-pd-rm-port">-->
<!--          <div class="col-sm-12 col-pd-rm-port ebk-port-1">-->
<!--            <div class="box18 wow bounceIn">-->
<!--              <div class="bok-vid-side ">-->
<!--                <a href="https://www.youtube.com/embed/mzSzHpTGYbQ" class="fancybox" rel="ligthbox">-->
<!--                    <img class="ebk-img-p" src="assets/images/ebook-port/port-1.png">-->
<!--                    <div class="box-content">-->
<!--                        <img src="assets/images/play-icon-gren.png">-->
<!--                    </div>-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6 col-pd-rm-port ">-->
<!--            <div class="col-sm-12 col-pd-rm-port ebk-port-2">-->
<!--               <div class="box18 wow bounceIn">-->
<!--                  <div class="bok-vid-side ">-->
<!--                    <a href="https://www.youtube.com/embed/J08MnhD0if4" class="fancybox" rel="ligthbox">-->
<!--                        <img class="ebk-img-p" src="assets/images/ebook-port/port-2.png">-->
<!--                        <div class="box-content">-->
<!--                            <img src="assets/images/play-icon-gren.png">-->
<!--                        </div>-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-12 col-pd-rm-port ebk-port-3">-->
<!--               <div class="box18 wow bounceIn">-->
<!--                  <div class="bok-vid-side ">-->
<!--                    <a href="https://www.youtube.com/embed/GZlXaoh_8y8" class="fancybox" rel="ligthbox">-->
<!--                        <img class="ebk-img-p" src="assets/images/ebook-port/port-3.png">-->
<!--                        <div class="box-content">-->
<!--                            <img src="assets/images/play-icon-gren.png">-->
<!--                        </div>-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6 col-pd-rm-port ebk-port-4">-->
<!--             <div class="box18 wow bounceIn">-->
<!--                <div class="bok-vid-side ">-->
<!--                  <a href="https://www.youtube.com/embed/KsmELwsv31M" class="fancybox" rel="ligthbox">-->
<!--                      <img class="ebk-img-p" src="assets/images/ebook-port/port-4.png">-->
<!--                      <div class="box-content">-->
<!--                          <img src="assets/images/play-icon-gren.png">-->
<!--                      </div>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-5 col-pd-rm-port">-->
<!--          <div class="col-sm-12 col-pd-rm-port ebk-port-5">-->
<!--               <div class="box18 wow bounceIn">-->
<!--                  <div class="bok-vid-side ">-->
<!--                    <a href="https://www.youtube.com/embed/eU9zf3iinYc" class="fancybox" rel="ligthbox">-->
<!--                        <img class="ebk-img-p" src="assets/images/ebook-port/port-5.png">-->
<!--                        <div class="box-content">-->
<!--                            <img src="assets/images/play-icon-gren.png">-->
<!--                        </div>-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-12 col-pd-rm-port ebk-port-6">-->
<!--               <div class="box18 wow bounceIn">-->
<!--                  <div class="bok-vid-side ">-->
<!--                    <a href="https://www.youtube.com/embed/Ba35JJ5z4Ew" class="fancybox" rel="ligthbox">-->
<!--                        <img class="ebk-img-p" src="assets/images/ebook-port/port-6.png">-->
<!--                        <div class="box-content">-->
<!--                            <img src="assets/images/play-icon-gren.png">-->
<!--                        </div>-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-12 col-pd-rm-port ebk-port-7">-->
<!--               <div class="box18 wow bounceIn">-->
<!--                  <div class="bok-vid-side ">-->
<!--                    <a href="https://www.youtube.com/embed/C8p9gK1Q6eE" class="fancybox" rel="ligthbox">-->
<!--                        <img class="ebk-img-p" src="assets/images/ebook-port/port-7.png">-->
<!--                        <div class="box-content">-->
<!--                            <img src="assets/images/play-icon-gren.png">-->
<!--                        </div>-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</section>-->

<section class="sec_portfolio services-portfolio ">
    <div class="container-fluid">
        <div class="row">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms">OUR PORTFOLIO</h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">Check out some of our work that landed amongst the
                    bestsellers.</p>
            </div>
            <div class="services-port">
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInLeft">
                        <a href="assets/images/portfolio/t-1.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-1.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInLeft">
                        <a href="assets/images/portfolio/t-2.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-2.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInUp">
                        <a href="assets/images/portfolio/t-3.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-3.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInUp">
                        <a href="assets/images/portfolio/t-4.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-4.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInRight">
                        <a href="assets/images/portfolio/t-5.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-5.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInRight">
                        <a href="assets/images/portfolio/t-6.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-6.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- <div class="slider-bnt-st">
              <a href="#" class="btn-sts strd-btn">View More</a>
            </div> -->

        </div>
    </div>
</section>

<section class="just_a_click_sec">
    <div class="container">
        <div class="row">
            <div class="pad-col-rem pad_col_rem_mm">
                <div class="col-sm-7">
                    <div class="hd-txt hd_txt_mm">
                        <h2 class=" wow bounceInLeft">YOUR VOICE, OUR EXPERTISE.</h2>
                        <p class=" wow bounceInLeft">With an unwavering commitment to quality and confidentiality, we
                            transform your vision into a compelling eBook that reflects your voice and ideas. Embrace
                            the power of collaboration and let our professional eBook ghostwriters breathe life into
                            your story, providing you with a masterpiece that captivates readers and establishes your
                            presence in the literary world.</p>
                    </div>
                </div>
                <div class="col-sm-5">

                    <div class="wow bounceInRight">
                        <div class="bok-vid-side ">

                            <img src="assets/images/book-video-side-img.jpg">
                            <!--<div class="box-content">-->
                            <!--    <img src="assets/images/play-icon-gren.png">-->
                            <!--</div>-->

                        </div>

                    </div>
                    <!--  <div class="bok-vid-side">
              <img src="assets/images/book-video-side-img.jpg">
            </div> -->
                </div>


            </div>

        </div>
    </div>
</section>

<section id="what-get" class="what-gt-sec what_gt_sec_mm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="400ms">WHY HIRE A GHOSTWRITER FOR EBOOK?</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Time Efficiency</h4>
                                <p>Writing a book requires significant time and energy, from research and outlining to
                                    the actual writing process. By delegating this task to a professional ghostwriter,
                                    you can save valuable time while ensuring that your eBook is in capable hands.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Expertise and Skill</h4>
                                <p>Ghostwriters have a deep understanding of storytelling techniques, narrative
                                    structures, and literary conventions. Their knowledge and proficiency in various
                                    genres enable them to create compelling and polished manuscript that resonates with
                                    readers.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Objectivity and Fresh Perspective</h4>
                                <p>Hiring a ghostwriter provides an objective and fresh perspective on your ideas. They
                                    can offer valuable insights, identify potential plot holes or inconsistencies, and
                                    provide constructive feedback to enhance the overall quality of your eBook. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Maintaining Your Voice and Vision</h4>
                                <p>Through effective collaboration, ghostwriters ensure that the final product reflects
                                    your ideas and maintains authorial authenticity. The writing prowess allows them to
                                    seamlessly adapt your tone, style, and personality, creating a cohesive and
                                    immersive reading experience.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section id="writer-edi-sec" class="wri-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInLeft" data-wow-delay="400ms">Hire a Professional eBook Ghostwriter and
                            Make Your Mark in the Literary World.</h2>
                        <p class=" wow bounceInLeft" data-wow-delay="500ms">Don't let the daunting task of writing hold
                            you back. Hire an eBook ghostwriter from Online Book Writers and watch your story come alive
                            on the pages.</p>
                    </div>
                    <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:844-387-1932 ">Toll Free <span>-</span>844-387-1932 </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
                        <img src="assets/images/wri-edi-simg.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="why-hire" class="why-sec-hire">
    <div class="types-of-videos">
        <div class="container">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms"> Why Choose Us? </h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">Online Book Writers is the one-stop solution for all
                    your book writing, publishing, and marketing needs. Following are some reasons why you should choose
                    us: </p>
            </div>
            <div class="core-main">
                <!-- <div class="col-md-4 core-img-center no-padding">
         <div class="bg_circle"> <img src="assets/images/resume/resume_types_01.jpg" alt=""> </div>
         
         </div>
         
         -->
                <div class="col-md-3"></div>
                <div class="col-md-4 core-left ">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                            <h2>Experienced Writers</h2>
                            <p>Our agency is home to highly professional and experienced writers proficient in different
                                writing genres with an impeccable track record of delivering premium content.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                            <h2>Customized Solutions</h2>
                            <p>We offer custom solutions to our clients to meet their needs and requirements. We take
                                time to comprehend our clients' needs and work closely to deliver the best results.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                            <h2>Timely Delivery</h2>
                            <p>We work around fast turnaround times as we understand the importance of timely delivery.
                                We strive to maintain efficiency in all our projects and ensure timely delivery.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 core-left right">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                            <h2>Affordable Pricing</h2>
                            <p>We have kept our prices affordable to make sure that the clients get value for their
                                money. We also have flexible pricing options to make our services available to all.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-4 core-disc no-padding-right">
                            <h2>Excellent Customer Service</h2>
                            <p>Our dedicated team of customer service representatives is available round-the-clock to
                                attend to all your queries and concerns and ensure that you're fully satisfied.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-6 core-disc no-padding-right">
                            <h2>Quality assurance</h2>
                            <p>The content is not just delivered to the client; it undergoes a rigorous quality
                                assurance process to ensure that it is of the highest quality and contains no errors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of testomonial; trackBy: trackByTestomonial"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cta-section" class="cta-sec2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">Are You Ready to Become An Author?</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">Hire us today to become a bestselling author. </p>
                </div>
                <div class="cta-btn wow fadeInUp" data-wow-delay="550ms">
                    <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                    <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                </div>
                <div class="edit-call wow fadeInUp" data-wow-delay="550ms">
                    <a style="line-height: 25px;" href="tel:844-387-1932">Toll Free <span>-</span>844-387-1932</a><br>
                    <a href="/cdn-cgi/l/email-protection#e89b89848d9ba8a7868481868daa878783bf9a819c8d9a9bc68b8785"
                        class=""><span class="__cf_email__"
                            data-cfemail="4c3f2d20293f0c0322202522290e2323271b3e2538293e3f622f2321">[email&#160;protected]</span></a>
                </div>
            </div>
        </div>
    </div>
</section>