<app-banner [pagename]="pname"></app-banner>

<section class="banner-sec contact-bnr" id="bnr-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
                    <h1>Contact Us</h1>
                    <h2>Online Book Writers</h2>
                    <!--  <h4>We’re a creative design agency with expertise in exceptional and out-of-the-box logo design solutions for existing and emerging brands.</h4> -->
                    <!-- <ul>
              <li>48 Hour Delivery<span>|</span></li>
              <li>Unlimited Revisions<span>|</span></li>
              <li>Get Accepted To Amazon. Fast</li>
            </ul>
            <div class="bnr-btn">
              <a href="#" class="btn-sts strd-btn">Get Started</a>
              <a href="#" class="btn-sts livcht-btn">Live Chat</a>
            </div> -->
                </div>
            </div>
            <!-- <div class="col-sm-6">
          <div class="bnr-side-img wow bounceInRight" data-wow-delay="300ms">
            <img src="images/bnr-side-img2.png">
            <p class="ply-icon-st">
              <img class="ply-img" src="images/play-icon.png">
              Watch Video
            </p>
          </div>
        </div> -->
        </div>
    </div>
</section>
<section id="satisfied-sec" class="satify-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">
                    <img src="images/logo-img-client.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-sec" class="cntct-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">what our clients say about us</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have a track record of delivering excellence
                        through our services. Here’s what some of our clients have to say about our work.</p>
                </div>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="cnform">
                    <form class="clearfix" action="/mail" method="post">
                        <div class="col-sm-12">
                            <div class="field phone">
                                <!-- <label>Name</label> -->
                                <input type="text" name="cn" maxlength="60" value="" class="required alphanumeric iecn"
                                    required="" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="field">
                                <!-- <label>Email</label> -->
                                <input type="email" name="em" maxlength="60" value="" class="required email" required=""
                                    placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="field">
                                <!-- <label>Phone</label> -->
                                <input type="number" maxlength="25" minlength="7" name="pn" value=""
                                    class="required number" required="" placeholder="Phone">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="field">
                                <!-- <label>Message</label> -->
                                <textarea name="msg" class="required iemsg" rows="4" required=""
                                    placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="field terms-st">
                                <label class="control control--checkbox">
                                    <input type="checkbox" name="checkbox" value="yes" required>
                                    I have read &amp; fully understood and agreed to the <a
                                        href="terms-conditions.php">Terms of Use</a> and the <a
                                        href="privacy-policy.php">Privacy Policy.</a> </label>
                            </div>
                        </div>
                        <div class="clearfix fieldwrap text-center">
                            <input type="submit" class="btn-validate cntct-btn" value="Submit">
                            <input type="hidden" id="lead_area_popup" name="lead_area" value="for $100">
                            <input type="hidden" id="lead_org_price" name="lead_org_price" value="">
                            <input type="hidden" name="send" value="1">
                            <!-- Email Source -->
                            <input type="hidden" name="lb_source" value="">
                            <input type="hidden" name="lb_source_cat" value="">
                            <input type="hidden" name="lb_source_nam" value="">
                            <input type="hidden" name="lb_source_ema" value="">
                            <input type="hidden" name="lb_source_con" value="">
                            <input type="hidden" name="lb_source_pho" value="">
                            <input type="hidden" name="lb_source_off" value="">
                            <!-- Customer Info -->
                            <input type="hidden" name="fullpageurl" value="">
                            <input type="hidden" name="pageurl" value="www.silicongraphics.ae/lp/mobile-app/">
                            <!-- ip2Location -->
                            <input type="hidden" name="ip2loc_ip" value="110.93.244.176">
                            <input type="hidden" name="ip2loc_isp" value="TW RO">
                            <input type="hidden" name="ip2loc_org" value="TRANSWORLD ASSOCIATES (PVT) LIMITED">
                            <input type="hidden" name="ip2loc_country" value="Pakistan">
                            <input type="hidden" name="ip2loc_region" value="Sindh">
                            <input type="hidden" name="ip2loc_city" value="Karachi">
                            <input type="hidden" name="service_id" value="5730" class="service_id">
                        </div>
                        <div class="customalert"
                            style="background: rgb(255, 255, 255); color: red; text-align: center; font-size: 16px; width: 100%; margin: 10px 0px 0px; padding: 10px; float: left; display: none">
                        </div>
                    </form>
                    <!-- <p class="p-bottom">*Discount applies to New Projects Development Only </p> -->
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</section>

<section id="contact-information" class="cntct-info">
    <div class="container">
        <div class="row">
            <div class="hd-txt">
                <h3 class="wow fadeInUp" data-wow-delay="400ms">Contact information</h3>

            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="cntct-info-btn">
                        <a href="/cdn-cgi/l/email-protection#6a190b060f192a25040603040f280505013d18031e0f181944090507"
                            class="btn-sts livcht-btn"><span class="__cf_email__"
                                data-cfemail="6b180a070e182b24050702050e290404003c19021f0e191845080406">[email&#160;protected]</span></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cntct-info-btn">
                        <a href="tel:844-387-1932  " class="btn-sts strd-btn">844-387-1932 </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cntct-info-btn">
                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn cntc-btn-st"> 4085
                            Port Chicago Hwy Concord, CA 94520</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="writer-edi-sec" class="wri-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInLeft" data-wow-delay="400ms">The Perfect Solution To Your Book Writing
                            Editing And Publishing Problems!</h2>
                        <p class=" wow bounceInLeft" data-wow-delay="500ms">Do you have an interesting story that you
                            wish to convert in a book? We have a team of award-winning ghost book writers who can bring
                            your ideas into reality.</p>
                    </div>
                    <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:844-387-1932 ">Toll Free <span>-</span>844-387-1932 </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
                        <img src="images/wri-edi-simg.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="why-hire" class="why-sec-hire">
    <div class="types-of-videos">
        <div class="container">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms"> Why Choose Us? </h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">We believe in quality over quantity and for such reason,
                    we ensure to fulfill the <br> following commitments towards our clients;</p>
            </div>
            <div class="core-main">
                <!-- <div class="col-md-4 core-img-center no-padding">
         <div class="bg_circle"> <img src="images/resume/resume_types_01.jpg" alt=""> </div>
         
         </div>
         
         -->
                <div class="col-md-3"></div>
                <div class="col-md-4 core-left ">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                            <h2>Affordable</h2>
                            <p>We keep your feasibility as our utmost priority and offer rates that match your budget.
                            </p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                            <h2>Privacy</h2>
                            <p>At the online book writers, we guarantee to guard every confidential information of our
                                clients. </p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                            <h2>Authentic Research</h2>
                            <p>Our writers perform a detailed and extensive research to understand your book and to
                                ensure that the work is authentic. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 core-left right">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                            <h2>Profitability</h2>
                            <p>You are the sole owner of your book and the profit you earn from it. We don’t charge any
                                royalty commissions</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-4 core-disc no-padding-right">
                            <h2>Qualified Experts</h2>
                            <p>Every work of our client is catered by an experienced professional to ensure that the
                                work is perfect</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-6 core-disc no-padding-right">
                            <h2>Deadline</h2>
                            <p>Poor quality and late delivery of services is something that puts customers off, and we
                                would never want to let our customers down. We always deliver on time and with
                                consistency!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem
                            *ngFor="let slide of contactTestomonials; trackBy: trackByContactTestomonialsl"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>

                </div>
            </div>
        </div>
    </div>
</section>