<section id="footer-sec" class="ftr-sec">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="nav-list">
          <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="aboutus">About</a></li>
            <li><a routerLink="testimonials">Reviews</a></li>
            <li><a routerLink="contactus">Contact Us</a></li>
            <li><a href="news.html">Newsroom</a></li>
            <li><a href="blog/index.html">Blog</a></li>
          </ul>
          <div class="clearfix"></div>
          <ul class="contct_details_mm" style="margin-top: 20px;">
            <li> <a href="cdn-cgi/l/email-protection.html#295a48454c5a6966474540474c6b4646427e5b405d4c5b5a074a4644"
                class=""><span class="__cf_email__"
                  data-cfemail="3744565b52447778595b5e59527558585c60455e435245441954585a">{{email}}</span></a> </li>
            <li>
              <a>{{address}}</a>
            </li>
          </ul>
        </div>
        <div class="social-link">
          <ul>
            <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"> <img src="#" /> </a></li>
            <li class="trust-box"><a href="#" target="_blank"><img src="assets/images/trustpilot-icon-2-copy.png"></a>
            </li>
            <li><a href="#" target="_blank"><img src="assets/images/bark-icon-2.png"></a> </li>
            <li><a href="#" target="_blank"><img src="assets/images/review-icon-2.png"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ftr-txt">
          <p>Sign up to receive email updates on new package announcements, special promotions, sales, and a few
            surprises for our subscribers. </p>
        </div>
        <div class="newletter-form">
          <form action="#" method="POST">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Enter your email" required>
              <span class="input-group-btn">
                <input class="btn btn-theme" type="submit" value="Submit">
              </span>
            </div>
          </form>
          <a href="#" title="DMCA.com Protection Status" class="dmca-badge" target="_blank"> <img
              src="../images.dmca.com/Badges/_dmca_premi_badge_5d66a.png?ID=0c0535f8-aa02-4aa8-b3ef-c5b6ad472757"
              alt="DMCA.com Protection Status" /></a>
          <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
          <script src="../images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </div>
      </div>
      <div class="col-sm-12 copyright-div">
        <div class="col-sm-7">
          <div class="copy-txt">
            <p>Copyright ©
              <script> document.write((new Date()).getFullYear()) </script>. Online Book Writers. All Right Reserved.
            </p>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="terms-txt">
            <a routerLink="terms-and-conditions">Terms of Service</a>|
            <a routerLink="privacy-policy">Privacy Policy</a>|
            <a href="meet-the-team.html">Meet The Team</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="disclaimer" class="disclaim-sec">
  <div class="container">
    <div class="row">
      <div class="dis-txt">
        <h5>Disclaimer:</h5>
        <p>{{about}}</p>
      </div>
    </div>
  </div>
</section>

<div class="overlay-bg-new-popup"></div>
<div class="popupform-main-new-popup" style="display: none;">
  <div class="pop-form-new-popp ta-center-new-pop">
    <a href="javascript:;" class="close-btn ta-center">X</a>
    <div class="row">
      <div class="col-sm-6">
        <div class="popup-side-img">
          <img src="gril-pop.png">
        </div>
      </div>
      <div class=" col-sm-6">

        <div id="pop-form-new-popp" class="col-sm-12">
          <h6>Top-Tier<span>Bookwriters At 50% Off</span></h6>
          <form action="https://www.onlinebookwriters.com/mail" method="POST">

            <input type="text" name="cn" placeholder="Enter Name" required="">
            <input type="email" name="em" placeholder="Enter Email" required="">
            <input type="number" name="pn" placeholder="Enter Phone" required="">
            <textarea name="msg" placeholder="Tell us about your project" required=""></textarea>

            <button type="submit">Activate Now
              <input type="hidden" name="send" value="1" />
              <input type="hidden" id="lead_area_popup" name="lead_area" value="for $19">
              <input type="hidden" id="lead_org_price" name="lead_org_price" value="19">
              <input type="hidden" name="send" value="1">
              <input type="hidden" name="service_id" value="5844" class="service_id">

              <input type="hidden" name="lb_source" value="" />
              <input type="hidden" name="lb_source_cat" value="" />
              <input type="hidden" name="lb_source_nam" value="" />
              <input type="hidden" name="lb_source_ema" value="" />
              <input type="hidden" name="lb_source_con" value="" />
              <input type="hidden" name="lb_source_pho" value="" />
              <input type="hidden" name="lb_source_off" value="" />

              <input type="hidden" name="fullpageurl" value="" />
              <input type="hidden" name="pageurl" value="" />

              <input type="hidden" name="ip2loc_ip" value="" />
              <input type="hidden" name="ip2loc_isp" value="" />
              <input type="hidden" name="ip2loc_org" value="" />
              <input type="hidden" name="ip2loc_country" value="" />
              <input type="hidden" name="ip2loc_region" value="" />
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>