<app-banner [pagename]="pname"></app-banner>

<section class="banner-sec book-cover serv-bnr-st" id="bnr-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
                    <h2>BOOK COVER DESIGN SERVICES</h2>
                    <h3>GRAB THE ATTENTION OF <br> READERS INSTANTLY</h3>
                    <p>Captivate the readers the moment they lay eyes on your book with an attractive book cover.</p>
                    <div class="bnr-btn">
                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="satisfied-sec" class="satify-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/images/logo-img-client.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="custom-bok-cov" class="cus-bk-cvr">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">We Design Book Covers that Speak Volumes</h2>
                    <p class=" wow fadeInUp" data-wow-delay="600ms">We understand that a book cover is not merely a
                        protective layer but a gateway to the wonders that lie within its pages. Therefore, our book
                        cover design company goes beyond the surface, crafting covers that inspire, intrigue, and leave
                        a lasting impression on readers.
                        <br><br>
                        Trust us to create a cover that not only reflects your literary masterpiece but also inspires a
                        deep connection between your words and your readers. Let us design a book cover that will
                        impress and leave an indelible mark on anyone who encounters it.

                    </p>
                </div>
            </div>

        </div>
        <div class="custom-ebok-slider">
            <div>
                <div class="col-sm-12 slide-col-cus">
                    <div class="col-sm-6">
                        <div class="cus-slide-txt">
                            <h3>Dust Jacket</h3>
                            <p>Our Dust Jacket option adds a touch of allure to your book, featuring a removable cover
                                that entices readers with its captivating artwork and intriguing synopsis.</p>
                            <div class="bnr-btn">
                                <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                                <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live
                                    Chat</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cus-slide-img">
                            <img src="assets/images/cus-img-slide.png">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-12 slide-col-cus">
                    <div class="col-sm-6">
                        <div class="cus-slide-txt">
                            <h3>Paperback</h3>
                            <p>Our Paperback cover option offers a sleek and lightweight design that combines simplicity
                                with impactful visuals, ensuring your book stands out on any shelf.</p>
                            <div class="bnr-btn">
                                <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                                <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live
                                    Chat</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cus-slide-img">
                            <img src="assets/images/cus-img-slide2.png">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-12 slide-col-cus">
                    <div class="col-sm-6">
                        <div class="cus-slide-txt">
                            <h3>Hard Cover</h3>
                            <p>Our Hardcover option presents your book with a classic, sturdy cover that exudes
                                durability, while the meticulously designed visuals evoke a sense of timeless elegance.
                            </p>
                            <div class="bnr-btn">
                                <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                                <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live
                                    Chat</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cus-slide-img">
                            <img src="assets/images/cus-img-slide3.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
<section id="pricing-sec" class="price-sec new-priicng-st-srv">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">Services & Pricing</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Standard</h3>
                            <ul class="audio-books-pricing">
                                <li> Research by our team of creative designers’ to provide maximum different designs.
                                </li>
                                <li> Professional typesetting. </li>
                                <li> Collaborative work of our team and client</li>
                            </ul>
                            <h2>$599.00</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="popUpBtn btn-sts livcht-btn">Request
                                a Quote</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Premium</h3>
                            <ul class="audio-books-pricing">
                                <li> Extensive research by our team of creative designers’ to provide maximum different
                                    designs and concepts.</li>
                                <li> Unique and pioneering cover design. </li>
                                <li> Professional and organized typesetting, skillfully achieved result.</li>
                                <li>Collaborative work of our team and client.</li>
                            </ul>
                            <h2>$999.00</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="popUpBtn btn-sts livcht-btn">Request
                                a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="product-type" class="prod-types">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">Product Types</h2>
                    <!-- <p class=" wow fadeInUp" data-wow-delay="600ms" >There may be a plethora of reasons causing obstacles between you and the achievement of your dream.</p> -->
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/product/product-1.png">
                        <h3>Print Book</h3>
                        <p>Impeccable and enduring print book covers that safeguard your pages with flawless printing.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/product/product-2.png">
                        <h3>Photo Book</h3>
                        <p>Preserve memories in style with covers that reflect the timeless beauty of your precious
                            moments.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/product/product-3.png">
                        <h3>Comic Book</h3>
                        <p>Unleash the power of visual storytelling with vibrant and captivating comic book covers.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/product/product-4.png">
                        <h3>Magazine</h3>
                        <p>Trendy magazine covers that intrigue and entices readers to dive into the latest trends.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/product/product-5.png">
                        <h3>Yearbook</h3>
                        <p>Create an unforgettable journey with an attractive and creatively designed yearbook cover.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/product/product-6.png">
                        <h3>Ebook</h3>
                        <p>Inspire readers globally with high-quality ebook covers that turn heads and spark curiosity.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="sec_portfolio services-portfolio ">
    <div class="container-fluid">
        <div class="row">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms">OUR CREATIVE DISPLAY</h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">Check out some of the book covers we have designed for
                    our clients. </p>
            </div>
            <div class="services-port">
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInLeft">
                        <a href="assets/images/portfolio/t-1.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-1.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInLeft">
                        <a href="assets/images/portfolio/t-2.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-2.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInUp">
                        <a href="assets/images/portfolio/t-3.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-3.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInUp">
                        <a href="assets/images/portfolio/t-4.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-4.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInRight">
                        <a href="assets/images/portfolio/t-5.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-5.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInRight">
                        <a href="assets/images/portfolio/t-6.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-6.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- <div class="slider-bnt-st">
              <a href="#" class="btn-sts strd-btn">View More</a>
            </div> -->

        </div>
    </div>
</section>

<section id="book-size-cvr" class="bk-sz-cvr">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">Book Cover Sizes</h2>
                    <!-- <p class=" wow fadeInUp" data-wow-delay="600ms" >There may be a plethora of reasons causing obstacles between you and the achievement of your dream.</p> -->
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-1.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>Pocket Book</h3>
                            <h5>4.25 x 6.875 in | 108 x 175 mm</h5>
                            <p>The smallest Lulu format, used for fiction as well as references and poetry collections.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-2.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>Digest</h3>
                            <h5>5.5 x 8.5 in | 140 x 216 mm</h5>
                            <p>A smaller trade size, digest is one of the most commonly used sizes for fiction and
                                nonfiction works.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-3.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>A5</h3>
                            <h5>5.83 x 8.27 in | 148 x 210 mm</h5>
                            <p>Standard size for international trade paperbacks and hardcovers. Similar to US trade size
                                but slightly smaller.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-4.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>US Trade</h3>
                            <h5>6 x 9 in | 152 x 229 mm</h5>
                            <p>The most common size for trade paperbacks and hardcovers, used primarily for fiction but
                                well suited for a variety of book designs.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-5.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>Royal</h3>
                            <h5>6.14 x 9.21 in | 156 x 234 mm</h5>
                            <p>Royal is slightly larger than US trade, and works well for the same fiction and
                                nonfiction content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-6.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>Comic Book</h3>
                            <h5>6.63 x 10.25 in | 168 x 260 mm</h5>
                            <p>Traditional size used for comic book printing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-7.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>Executive</h3>
                            <h5>7 x 10 in | 178 x 254 mm</h5>
                            <p>Executive size fits between US trade and US letter and is commonly used for journals and
                                graphic novels.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-8.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>Crown Quarto</h3>
                            <h5>7.44 x 9.68 in | 189 x 246 mm</h5>
                            <p>Crown quarto provides a wider page than US trade, and is perfect for a book with
                                two-column printing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-9.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>Small Square</h3>
                            <h5>7.5 x 7.5 in | 190 x 190 mm</h5>
                            <p>Small square is perfect for image-heavy content, such as a travel book, children’s book,
                                or memory book.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-10.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>A4</h3>
                            <h5>8.27 x 11.69 in | 210 x 297 mm</h5>
                            <p>A4 is the standard size used for many magazines and catalogs.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-11.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>US Letter</h3>
                            <h5>8.5 x 11 in | 216 x 279 mm</h5>
                            <p>Used for hardcover books, manuals, and other large size works, US letter is a great
                                option for image-heavy books.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-12.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>Square</h3>
                            <h5>8.5 x 8.5 in 216 x 216 mm</h5>
                            <p>Square format best for accommodating full-bleed images without constraints on landscape
                                or portrait formatting.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-13.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>Small Landscape</h3>
                            <h5>9 x 7 in | 229 x 178 mm</h5>
                            <p>Small landscape is ideal for photo books and product guides meant to haighlight images
                                and photos.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-14.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>US Letter Landscape</h3>
                            <h5>11 x 8.5 in | 279 x 216 mm</h5>
                            <p>US letter size in landscape format, great for children's books or photo books.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="bk-sz-cvr-bx">
                        <div class="bk-sz-img">
                            <img src="assets/images/book-cover/book-1.png">
                        </div>
                        <div class="bk-sz-txt">
                            <h3>A4 Landscape</h3>
                            <h5>11.69 x 8.27 in | 297 x 210 mm</h5>
                            <p>Common internationally, A4 landscape is perfect for photo books or art books.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="product-type" class="prod-types bk-binding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">Book Bindings</h2>
                    <!-- <p class=" wow fadeInUp" data-wow-delay="600ms" >There may be a plethora of reasons causing obstacles between you and the achievement of your dream.</p> -->
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/book-binding/book-1.jpg">
                        <h3>Paperback Perfect Bound</h3>
                        <h5>32-800 pages</h5>
                        <p>The paperback perfect bound option represents the industry-standard for traditional paperback
                            binding. This method is not only cost-efficient but also highly popular for on-demand book
                            production. It is suitable for a wide variety of projects.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/book-binding/book-2.jpg">
                        <h3>Paperback Coil Bound</h3>
                        <h5>2–470 pages</h5>
                        <p>The paperback coil bound option features a flexible, black plastic coil that allows the book
                            to lie flat when opened. This binding style is particularly well-suited for music books,
                            notebooks, agendas, and any project intended for easy display.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/book-binding/book-3.jpg">
                        <h3>Paperback Saddle Stitch</h3>
                        <h5>4-48 pages</h5>
                        <p>The paperback saddle stitch binding involves folding the interior pages and inserting them
                            between the cover, which is then stapled along the "spine" edge. This binding style is
                            perfect for supplementary materials, coloring books, magazines, comic books, and other
                            smaller-scale projects.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/book-binding/book-4.jpg">
                        <h3>Hardcover Casewrap</h3>
                        <h5>24-800 pages</h5>
                        <p>The hardcover casewrap option provides a traditional hardcover binding, with the cover image
                            printed directly on the cover. This binding style is commonly used for textbooks and
                            hardcover portfolios, offering durability and a professional appearance.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-box">
                        <img src="assets/images/book-binding/book-5.jpg">
                        <h3>Hardcover Linen Wrap</h3>
                        <h5>24-800 pages</h5>
                        <p>The hardcover linen wrap option features a traditional hardcover binding with the cover image
                            printed on the cover. This style is also frequently employed for textbooks and hardcover
                            portfolios, providing a classic and refined presentation for your book.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section id="writer-edi-sec" class="wri-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInLeft" data-wow-delay="400ms">Ready to Elevate Your Book's Visual Impact?
                        </h2>
                        <p class=" wow bounceInLeft" data-wow-delay="500ms">Let our designers bring your words to life!
                            Contact our book cover design agency today for a stunning book cover that grabs attention
                            and leaves a lasting impression.</p>
                    </div>
                    <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:(254) 500-3042 ">Toll Free <span>-</span>(254) 500-3042 </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
                        <img src="assets/images/wri-edi-simg.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="why-hire" class="why-sec-hire">
    <div class="types-of-videos">
        <div class="container">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms"> Why Choose Us? </h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">Here’s why you should choose us for your creative book
                    cover design project:</p>
            </div>
            <div class="core-main">
                <!-- <div class="col-md-4 core-img-center no-padding">
         <div class="bg_circle"> <img src="assets/images/resume/resume_types_01.jpg" alt=""> </div>
         
         </div>
         
         -->
                <div class="col-md-3"></div>
                <div class="col-md-4 core-left ">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                            <h2>Stand Out from the Shelf</h2>
                            <p>Your book deserves more than just a plain cover. Our team of skilled designers
                                specializes in crafting visually stunning covers that grab attention, leaving readers
                                eager to explore your story within.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                            <h2>Artistry at Its Best</h2>
                            <p>Our designers meticulously blend creativity, style, and industry knowledge to produce
                                covers that not only attract but also reflect the heart and soul of your narrative.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                            <h2>Tailored to Perfection</h2>
                            <p>We understand that every book is unique, and so should be its cover. We delve into your
                                vision, story, and target audience, ensuring your cover design is custom-tailored to
                                captivate readers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 core-left right">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                            <h2>Conceptual Brilliance</h2>
                            <p>Our designers are masters of ideation, skillfully translating your ideas and themes into
                                visually striking concepts. We breathe life into your words, bringing them to the
                                forefront of the literary world.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-4 core-disc no-padding-right">
                            <h2>Eye-Catching Typography</h2>
                            <p>A great book cover goes beyond just images. Our typographic experts meticulously select
                                fonts and styles that perfectly complement your genre and capture the essence of your
                                story.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-6 core-disc no-padding-right">
                            <h2>Unleash Your Potential</h2>
                            <p>We know how crucial a compelling book cover is in attracting readers and generating buzz.
                                With our top-notch designs, you'll be able to unleash the full potential of your
                                writing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cta-section" class="cta-sec2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">GET YOUR BOOK COVER DESIGNED BY EXPERTS!</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We specialize in crafting custom ebook covers.
                        Contact us today to get yours.</p>
                </div>
                <div class="cta-btn wow fadeInUp" data-wow-delay="550ms">
                    <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                    <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                </div>
                <div class="edit-call wow fadeInUp" data-wow-delay="550ms">
                    <a style="line-height: 25px;" href="tel:(254) 500-3042">Toll Free <span>-</span>(254) 500-3042</a><br>
                    <a href="/cdn-cgi/l/email-protection#98ebf9f4fdebd8d7f6f4f1f6fddaf7f7f3cfeaf1ecfdeaebb6fbf7f5"
                        class=""><span class="__cf_email__"
                            data-cfemail="4f3c2e232a3c0f00212326212a0d202024183d263b2a3d3c612c2022">[email&#160;protected]</span></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of bookCover; trackBy: bookCoverWriting"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>

                </div>
            </div>
        </div>
    </div>
</section>