<app-banner [pagename]="pname"></app-banner>

<section class="banner-sec bnr-markting serv-bnr-st" id="bnr-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">

                    <h2>#1 BOOK PUBLISHING COMPANY</h2>

                    <h3>WHERE DREAMS BECOME BESTSELLERS</h3>

                    <p>Professionalism. Precision. Publication: Your Book, Our Commitment.</p>




                    <!-- 
            <ul>

              <li>48 Hour Delivery<span>|</span></li>

              <li>Unlimited Revisions<span>|</span></li>

              <li>Get Accepted To Amazon Fast</li>

            </ul> -->

                    <div class="bnr-btn">

                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>

                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section id="satisfied-sec" class="satify-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">

                    <img src="assets/images/logo-img-client.png">

                </div>

            </div>

        </div>

    </div>

</section>

<section id="mrkt-services" class="mrkt-serv">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="hd-txt">

                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">WE OFFER TOP-NOTCH EBOOK <br> PUBLISHING SERVICES
                    </h2>

                </div>

            </div>

            <div class="col-sm-12">

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-1.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>Reach readers effortlessly with perfectly formatted eBooks for all publishing platforms.
                            </p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-6.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>Enjoy your eBook on any smart device with our compatibility guarantee.</p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-3.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>Witness prominent sales and profit with our optimized eBook publishing service.</p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-4.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>Achieve perfection with unlimited edits tailored to your instructions.</p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-2.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>Stand out with free, professionally designed eBook covers personalized with your name.
                            </p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-5.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>Trust us for punctual deliveries, ensuring your eBook reaches readers on time.</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>





<section id="pricing-sec" class="price-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">Services & Pricing</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>SILVER </h3>
                            <ul>
                                <li>Google Preview Book</li>
                                <li>Social Media Promotion for 1 month</li>
                                <li>Marketing Strategy Call - 90 Min</li>
                                <li>Amazon Optimization</li>
                                <li>Search Engine Optimization - (1 Month)</li>
                                <li>Video Reviews- 3 Reviews</li>
                                <li>Book Launch Animated Video - one 1-minute video</li>
                                <li>Author Website Setup- 1</li>
                                <li>Website for author and book</li>
                                <li>Promotional Bookmarks Design- 3 each</li>
                                <li>Promotional Postcards Design-3 each</li>
                                <li>Promotional Business Cards Design-10 each</li>
                                <li>Blogs/Articles Marketing- 10</li>
                                <li>Blogs written and posted on high authority domain platforms </li>
                                <li>Press Release Campaign - 5</li>
                                <li>Media Outlets/ 5 Press Releases</li>
                            </ul>
                            <h2>$5999</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>GOLD</h3>
                            <ul>
                                <li>Google Preview Book</li>
                                <li>Social Media Promotion for 3 months</li>
                                <li>Marketing Strategy Call - 90 Min</li>
                                <li>Amazon Optimization</li>
                                <li>Search Engine Optimization - (3 Months)</li>
                                <li>Video Reviews- 5 Reviews</li>
                                <li>Book Launch Animated Video - one 1-minute video</li>
                                <li>Author Website Setup- 1</li>
                                <li>Website for author and book</li>
                                <li>Promotional Bookmarks Design- 5 each</li>
                                <li>Promotional Postcards Design-5 each</li>
                                <li>Promotional Business Cards Design-10 each</li>
                                <li>Blogs/Articles Marketing- 15</li>
                                <li>Blogs written and posted on high authority domain platforms </li>
                                <li>Press Release Campaign - 5</li>
                                <li>Media Outlets/ 10 Press Releases</li>
                                <li>Wikipedia Page for the book</li>
                                <li>Google Knowledge Panel for the book</li>
                            </ul>
                            <h2>$7999</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="price-box bdr-rem">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>DIAMOND </h3>
                            <ul>
                                <li>Google Preview Book</li>
                                <li>Social Media Promotion for 6 months</li>
                                <li>Marketing Strategy Call - 90 Min</li>
                                <li>Amazon Optimization</li>
                                <li>Search Engine Optimization - (6 Months)</li>
                                <li>Video Reviews- 10 Reviews</li>
                                <li>Book Launch Animated Video - two 1-minute videos</li>
                                <li>Author Website Setup- 1</li>
                                <li>Website for author and book</li>
                                <li>Promotional Bookmarks Design- 10 each</li>
                                <li>Promotional Postcards Design-10 each</li>
                                <li>Promotional Business Cards Design-10 each</li>
                                <li>Blogs/Articles Marketing- 30</li>
                                <li>Blogs written and posted on high authority domain platforms</li>
                                <li>Press Release Campaign - 10</li>
                                <li>Media Outlets/ 10 Press Releases</li>
                                <li>Wikipedia Page for the book</li>
                                <li>Google Knowledge Panel for the book</li>
                            </ul>
                            <h2>$13,999</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="writer-edi-sec" class="wri-sec markt-page-cta">

    <div class="container">

        <div class="row">

            <div class="col-sm-7">

                <div class="hd-txt">

                    <h2 class="wow bounceInLeft" data-wow-delay="400ms">PUBLISH YOUR WORK!</h2>

                    <p class="wow bounceInLeft" data-wow-delay="500ms">We transform aspiring writers into published
                        authors. Get your work published by us!</p>

                </div>

                <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">

                    <div class="bnr-btn">

                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>

                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>

                    </div>

                    <div class="edit-call">

                        <a href="tel:844-387-1932 ">Toll Free <span>-</span>844-387-1932 </a>

                    </div>

                </div>

            </div>

            <!-- <div class="col-sm-5">

            <div class="edit-img  wow bounceInLeft" data-wow-delay="600ms">

              <img src="assets/images/wri-edi-simg.png">

            </div>

          </div> -->



        </div>

    </div>

</section>



<section class="sec_portfolio services-portfolio ">

    <div class="container-fluid">

        <div class="row">

            <div class="hd-txt">

                <h2 class=" wow fadeInUp" data-wow-delay="500ms">BOOKS WE HAVE PUBLISHED</h2>

                <p class=" wow fadeInUp" data-wow-delay="600ms">Our book publishing agency has published thousands of
                    books for our clients. Check out some of them:</p>

            </div>

            <div class="services-port">

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInLeft">

                        <a href="assets/images/portfolio/t-1.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-1.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInLeft">

                        <a href="assets/images/portfolio/t-2.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-2.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInUp">

                        <a href="assets/images/portfolio/t-3.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-3.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInUp">

                        <a href="assets/images/portfolio/t-4.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-4.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInRight">

                        <a href="assets/images/portfolio/t-5.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-5.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>



                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInRight">

                        <a href="assets/images/portfolio/t-6.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-6.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

            </div>



            <!-- <div class="slider-bnt-st">

              <a href="#" class="btn-sts strd-btn">View More</a>

            </div> -->



        </div>

    </div>

</section>



<section id="process-follow" class="proc-we-follow">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="hd-txt">

                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">OUR BOOK PUBLICATION PROCESS</h2>

                </div>

            </div>

            <div class="col-sm-12 p0">

                <div class="col-sm-4">

                    <div class="process-we-box">

                        <h3>01. Initial <br> Consultation</h3>

                        <p>We begin by having an in-depth discussion with you to understand your goals, vision, and
                            requirements for your eBook.</p>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="process-we-box">

                        <h3>02. Manuscript Formatting <br> and Editing</h3>

                        <p>Our experts will format and edit professionally, ensuring proper layout, consistent styling,
                            and error-free text. </p>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="process-we-box">

                        <h3>03. Design and Cover Creation</h3>

                        <p>Our talented design team creates visually captivating eBook covers that align with your
                            book's genre and capture readers' attention. </p>

                    </div>

                </div>

            </div>

            <div class="col-sm-12 proces-follow-col">

                <div class="col-sm-4">

                    <div class="process-we-box">

                        <h3>04. eBook Conversion <br> and Distribution </h3>

                        <p>We convert your manuscript into various eBook formats compatible with major platforms and
                            devices and handle the distribution.</p>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="process-we-box">

                        <h3>05. Marketing and Promotion Support</h3>

                        <p>We provide marketing and promotion support to maximize the discoverability of your eBook and
                            attract potential readers.</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>









<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of testomonial; trackBy: trackByTestomonial"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>