<app-banner [pagename]="pname"></app-banner>

<div class="terms-conditions">
   <div class="container">
     <div class="termsInner">
       <p>When you visit our site, Blue Whale Publishers is devoted to preserving your privacy (s). We want you to understand what information we gather, how we use it, and how you may have it updated or rectified. The organization retains the right to alter or otherwise modify this Privacy Policy at any time, so check this page for updates on a regular basis.
       </p>
       <br/>
       <h6>Scope</h6>
       <p>Any visitor to our site is covered by our Privacy Policy(s). This policy applies to the collection, storage, processing, and transfer of Personal Information both online and offline.</p>

       <br/>
       <br/>
       <h6>Definitions</h6>
       <p>The following words have the following meanings in this Privacy Policy:</p>
       <br/>
       <p>“Financial Information” refers to particular Personal Information of a financial nature, such as your credit card number.</p>
       <br/>
       <p>“Information” refers to any data gathered, such as “Personal Information,” “Financial Information,” “Web Analytical Information,” or any other data gathered from you through our Site (s).</p>
       <br/>
       <p>“Marketing Information” refers to the Organization’s collection, use, and disclosure of your Web Analytical Information and Personal Information, such as your name, address, e-mail address, and telephone number, for marketing and promotional purposes as described in this Privacy Policy.</p>
       <br/>
       <p>“Personal Information” refers to data that may be used to identify a specific person, either alone or in combination, and includes financial data.</p>
       <br/>
       <p>The Organization’s website, https://bluewhalepublishers.com/, as well as any other Organization-controlled or approved Sites (including, without limitation, any Business Associate sites), are referred to as “Site” or “Sites,” regardless of domain name or IP address.</p>
       <br/>
       <p>Social Network” refers to a variety of Internet communication tools available on Sites that promote online dialogue and engagement, such as blogs, discussion forums, wikis, chat sessions, newsgroups, and so on.</p>
       <br/>
       <p>“Social Network Material” (or “SNC”) refers to the user-generated content you agree to publish via a Social Network, which may include, but is not limited to, Personal Information, such as digital sounds and photos you post to a Social Network. It also includes Personal Information that may be published on the pages of other users on Social Networks.</p>
       <br/>
       <p>“Organization”, “we”, “us”, and “our” refer to the Blue Whale Publishers.</p>
       <br/>
       <p>Third parties that are not Educational Partners and do not provide services to Blue Whale Publishers are referred to as “Unrelated Entities.”</p>
       <br/>
       <p>When you visit our Sites, we gather “web analytical information,” which is information created by the internet. This data may be connected to marketing data and personal data. When connected to additional information that may be used to identify you personally, whether alone or in conjunction with other information, it is deemed Personal Information.</p>
       <br/>

       <h6>We Gather Information</h6>
       <p>When we chat to you on the phone, we gather different sorts of information from you via our Sites. Some of this data is acquired automatically through the Organization’s usage of different online and internet technologies, including Social Networking applications.</p>
       <br />
       <p>Other Information is collected when you respond to an advertisement or a request for information; when you register or order educational or other products and services, create a Social Network or other Site profile, or use one of our learning assessments or other interactive tools; or when you use one of our learning assessments or other interactive tools. Our Web Analytical Information allows us to observe how users locate and navigate our Sites, as well as their preferences for Site or Social Networking Content. It also shows us which pages users visit most frequently, allowing us to make our Sites more helpful and relevant. To achieve the goals, this information may be connected to personal information.</p>
       <br />
       <br />
       <h6>Automatically Gathered Information</h6>
       <p>Web Analytical Information is collected automatically each time you visit one of our Sites. This information does not, in general, identify you personally. Web analytical information includes, but is not limited to, the following:</p>
       <br />
       <br />
       <ul>
         <li>IP address</li>
         <li>Date of Collection</li>
         <li>Publisher Name</li>
         <li>Connection Speed</li>
         <li>Weekday Daylight Savings Time (hour)</li>
         <li>Language preferences</li>
         <li>Country, State, Metropolitan Area, and City (relating to IP address, if available)</li>
         <li>Domain name (.com, .net, .mil, .org, .edu, etc.)</li>
       </ul>

       <br />
       <br />
       <h6 style="margin-bottom:0px;">What Will We Do With This Information?</h6>
       <h6 style="margin-top:0px;">Information on Marketing</h6>
       <p>We use marketing information to help us better plan our Sites and services to meet your needs; to measure and improve the services and features of our Site(s); to communicate with you about products or services that may be of interest to you via e-mail, postal mail, telephone, cellular/mobile phone, PDA devices, and/or on applications for mobile phones such as iPhone or Blackberry; and to provide you with cues. We also employ a number of technical mechanisms to identify and respond to unusual behavior, as well as to screen material to avoid abuses such as spam. Some users’ Site functionality may be permanently suspended or terminated as a result of these actions.
       </p>
       <br/>
       <br/>
       <h6>Information about yourself</h6>
       <p>The Organization understands that by entrusting us with your Personal Information, you are expressing your faith in us, and we value that confidence. Your Personal Information will not be sold, rented, or leased to anyone else. We may collect, use, and disclose Personal Information for the following reasons:
       </p>
       <ul>
         <li>to provide requested products and services</li>
         <li>to respond to your inquiries</li>
         <li>to administer promotions in which you have expressed an interest</li>
         <li>for our internal marketing purposes, which may include, but is not limited to, sending you material about products, services, updates, and other information that we believe may be of interest to you</li>
         <li>for using Social Networks to promote communication and collaboration among members of the Organization’s community</li>
         <li>to share with our Partners who may contact you about their services;</li>
         <li>to share with our Partners or Business Associates who execute services on our behalf</li>
         <li>to examine how people use and access websites and services;</li>
         <li>to enhance the performance and delivery of the site and services</li>
         <li>to examine academic and learning results, as well as personal preferences</li>
         <li>to assess risk and business outcomes</li>
         <li>to collect money for the services we give you<li>
         <li>to keep company documents for a reasonable amount of time<li>
       </ul>
       <br />
       <br />
       <p>We may utilize an automatic telephone dialing system, artificial or prerecorded voice messages, or text messaging to provide you with different communications in conjunction with the uses set out above. Furthermore, by giving us a cellular, wireless, or mobile telephone number as your contact number, you agree to give us your express agreement to receive automated dialing system calls, prerecorded voice messages, or text messages connected to your registration. Please give us a LAN-based telephone number if you do not want to receive these updates on your cellular or mobile phone.
       </p>
       <br />
       <br />
       <h6>Financial Information</h6>
       <p>Your financial information will be used to offer the products and services you have requested, to analyze operational and business performance, to assess risk, and to complete your registration or other transaction with us. Except in the event of a reorganization, merger, or purchase of our shares or assets, it will not be sold, rented, or otherwise transferred to an Educational Partner, Business Associate, or Unrelated Entity for any other reason.
       </p>
       <br/>
       <br/>
       <p>To secure your credit card information sent to us over the Internet, we employ Secure Socket Layer (SSL) 128-bit encryption. No one, not even our employees, has access to your payment card information.
       </p>
       <br/>
       <br/>
       <h6>Opt-Out</h6>
       <p>Subject to contractual, academic, legal, or technological constraints and appropriate notice, you may opt-out of our collection, use, and sharing of your Personal Information at any time. We may no longer be able to provide certain products or services if you opt out of certain uses of your Personal Information. Certain necessary collection, uses, and disclosures, such as educational announcements, preserving appropriate academic, business, and transaction records, and disclosures to government organizations as required for us to comply with relevant laws, may not be authorized.
       </p>
       <br/>
       <br/>
       <p>You have the option of opting out of receiving marketing messages from us, and you may do so by responding to the appropriate email or other contact. Please keep in mind that making such a request would only remove you from our list as well as the list of any Business Associates that provide services on our behalf. We are not responsible for how any other party uses the Information once it has been provided in line with this Policy, and you must contact that business to have your information deleted from their database.
       </p>
       <br/>
       <br/>
       <p>
         Subject to contractual, academic, legal, or technological constraints and appropriate notice, you may modify different user settings linked to sharing your Personal Information included in any user profile you set up as part of Social Network activities provided by us. Please keep in mind that if you stop using social media, we may be unable to provide you with some products or services.
       </p>
       <br/>
       <br/>
       <h6>Security Measures</h6>
       <p>
         We shall take commercially reasonable steps to safeguard and retain your information to protect it from loss, abuse, or alteration while it is in our possession. When taking your credit card information throughout the online purchase process, as well as whenever we ask you to login to any of our Sites, we use industry standard security procedures (s).
       </p>
       <br />
       <br />
       <p>Unfortunately, there is no way to guarantee that data transmitted via the internet is fully safe. As a result, while we will take such precautions, we cannot guarantee that Information under our control will not be lost, misused, or altered, and you transmit Information to us at your own risk. You should always be cautious about how you handle and reveal your Personal Information, and you should avoid transmitting it over unsecured e-mail, social media platforms, or other online methods.
       </p>

       <br />
       <br />
       <h6>Communication surveillance</h6>
       <p>For the training of our representatives and quality assurance reasons, we may monitor and store all incoming and outgoing communications. If such communications are chosen, they are only kept for as long as is necessary to fulfill these objectives, unless a specific communication is required to be kept for legal reasons. Please inform your representative if you do not want your conversations to be kept for any reason.
      </p>
      <br />
      <br />
      <br />
      <h4>Use of Internet Technologies</h4>
      <br />
      <p>On our Sites, we utilize cookies, web beacons, and other related internet technologies to enable us to carry out the purposes outlined above, as well as to provide Sites messages and keep track of your Information. These little fragments of program code can be deleted from your computer and browser. You may disable such technologies if you choose, but this may make our Sites inaccessible to you. By deactivating these capabilities in your browser software, you may opt out of cookies and other internet technologies. If you need help altering cookie settings or deleting cookie files, go to your browser’s “Help” option.</p>
      <br />
      <br />
      <h4>Children’s Privacy</h4>
      <br />
      <p>The problem of children’s privacy is one that we take very seriously. Our websites are not intended for or directed towards minors under the age of thirteen. You can contact us or delete the information yourself if you feel your kid has given us Personal Information or registered at one of our Sites and would like it removed.</p>
      <br />
      <br />
      <h4>Site Hosting and Links from Our Sites to Other Websites</h4>
      <br />
      <p> Some of our websites are hosted by Business Associates, while others provide connections to external websites hosted by Partners and Unrelated Entities. When you use these Sites or external websites, the website providers may have access to your Personal Information and may use it in accordance with their own rules. Please read the policies of any websites you visit on the internet carefully before proceeding. </p>
      <br />
      <br />
      <p> Please be aware that we are not responsible for the privacy practices or content of any sites or external websites that we do not directly control, and that the collection, use, and disclosure of information about you by Partners, Business Associates, and Unrelated Entities will be governed by the policies that apply to those other Sites or external websites. </p>
      <br />
      <br />
      <h4>What is the purpose of cookies?</h4>
      <br />
      <p>Cookies are used to track ads and gather aggregate statistics on site visitors and activities. It helps us to provide users with better site experiences and tools. If necessary, we may enlist the help of a third party to better analyze visitor behavior. Third-party service providers, on the other hand, are not permitted to utilize the gathered data for any purpose other than customer analysis.</p>
      <br />
      <br />
      <h4>We never give out personally identifiable information to anybody else</h4>
      <br />
      <p>We do not sell, trade, or transfer personal information to other parties. We take your security seriously and never share your personal information with other parties without your permission. Non-personally identifiable visitor information, on the other hand, may be shared with third parties for marketing, advertising, or other purposes.</p>
      <br />
      <br />
      
      <h6>Changes to the Privacy Policies</h6>
      <p>Blue Whale Publishers has the right to change or amend this Privacy Policy at any time. If you have any questions or concerns regarding how your Personal Information is used or shared, please contact us as outlined below, or periodically visit this Site to get an updated copy of this Privacy Policy. We strongly advise you to examine our Privacy Policy on a regular basis to ensure you have the most up-to-date version. Following any modifications to this Privacy Policy, your continuing submission of Personal Information or use of our services represents your acceptance of such changes.</p>
      
      <br />
      <br />
      <br />
      
      <h6>How to Get Access to Your Information and Get in Touch with Us</h6>
      <br />
      <p>Please contact us if you would like access to or amend any of your Personal Information, or if you have any questions regarding our privacy practices.</p>

      <small>In order to ensure the privacy of our valued customer we never store any sort of information related to our clients nor do we take any card information from clients.</small>

     </div>
   </div>
 </div>