<app-banner [pagename]="pname"></app-banner>


<section class="banner-sec book-video serv-bnr-st" id="bnr-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">

                    <h1 class="green_clr">Your Story Deserves <br> to be Printed</h1>
                    <p>Online Book Writers is your one-stop shop for custom book printing. We provide top-quality
                        paperback and hardcover <br> books to bring your ideas to life.</p>
                    <div class="bnr-btn">

                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>

                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section id="satisfied-sec" class="satify-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">

                    <img src="assets/images/logo-img-client.png">

                </div>

            </div>

        </div>

    </div>

</section>




<section id="distribute-markting" class="marketing-dis">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="lft-col-mrkt">
                        <div class="hd-txt">
                            <h2 class=" wow fadeInLeft" data-wow-delay="500ms">Create Your Dream Book</h2>
                            <p class=" wow fadeInLeft" data-wow-delay="550ms">Numerous components are necessary to
                                produce a best-selling book, with best-book printing being critical. This encompasses
                                various visual and tangible factors such as paper quality, binding structure, etc.
                                <br>
                                Custom book printing cost that fits within a writer's budget is essential. Before
                                beginning a project, the writer must develop a comprehensive plan that considers the
                                book's target audience, theme, message, anticipated impact, and how it will capture the
                                attention of potential readers.
                                <br>

                                To estimate all the factors mentioned earlier and create a plan accordingly, a writer
                                requires a professional book printing company.

                            </p>
                        </div>
                        <div class="bnr-btn  wow fadeInLeft" data-wow-delay="600ms">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="#" class="btn-sts livcht-btn ">Live Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="rgt-col-mrkt">
                        <p class=" wow fadeInRight" data-wow-delay="500ms"><b>Online Book Writers Is Your Go-To Source
                                For Professional, Custom Book Printing Services. </b></p><br>
                        <!--  <ul>                      
                <li class=" wow fadeInRight" data-wow-delay="500ms"> An attractive color scheme. </li>
                <li class=" wow fadeInRight" data-wow-delay="500ms"> Crystal clear display or even pigment settings. </li>
                <li class=" wow fadeInRight" data-wow-delay="500ms"> Stocks of premium material. </li>
                <li class=" wow fadeInRight" data-wow-delay="500ms"> Robust and durable bookbinding. </li>
                <li class=" wow fadeInRight" data-wow-delay="500ms"> Timely deliveries</li>                      
              </ul> -->
                        <p class=" wow fadeInRight" data-wow-delay="500ms">We use the latest printing techniques to
                            produce top-notch results for all our custom-printed books. Whether you need hardcover or
                            softcover formats, we have you covered.
                            <br><br>
                            Our custom book printing services include attractive color schemes, crystal clear display or
                            pigment settings, premium quality materials, and robust and durable bookbinding. On top of
                            that, we ensure timely deliveries to ensure client satisfaction.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="promote-book" class="promote-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-col-rem pad_col_rem_mm">
                <div class="col-sm-5">

                    <div class=" wow fadeInLeft" data-wow-delay="500ms">
                        <div class="bok-vid-side ">

                            <img src="assets/images/cus-img-slide2-m.png">
                            <!--<div class="box-content">-->
                            <!--    <img src="assets/images/play-icon-gren.png">-->
                            <!--</div>-->

                        </div>

                    </div>
                    <!--  <div class="bok-vid-side">
              <img src="assets/images/book-video-side-img.jpg">
            </div> -->
                </div>
                <div class="col-sm-7">
                    <div class="hd-txt hd_txt_mm">
                        <h3 class=" wow fadeInRight" data-wow-delay="500ms">The Recipe To Become A Best Seller</h3>
                        <div class="rgt-col-mrkt">
                            <ul class=" wow fadeInRight" data-wow-delay="500ms">
                                <li>A professional book printing agency can make all the difference in the success of a
                                    self-publishing project</li>
                                <li>Our team ensures that the book meets the needs and expectations of the target
                                    audience</li>
                                <li>With the right team on your side for self-publishing and book printing services, any
                                    project is feasible and can be brought to life in a way that resonates with readers
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section id="pricing-sec" class="price-sec new-priicng-st-srv">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="hd-txt">

                    <h2 class="wow fadeInUp" data-wow-delay="500ms"
                        style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">Services &amp;
                        Pricing</h2>

                </div>

            </div>

            <div class="col-sm-12">

                <div class="col-sm-4">

                    <div class="price-box">

                        <div class="price-icon-bx">

                            <img src="assets/images/price-icon-1.png">

                        </div>

                        <div class="price-txt">

                            <h3>Express</h3>

                            <ul class="audio-books-pricing">

                                <li>For authors with print ready files. </li>
                                <li>25 softcover books</li>
                                <li>eBook conversion & distribution</li>
                                <li>Print On Demand distribution</li>
                                <li>Two ISBN barcodes</li>


                            </ul>

                            <h2>$1,500 </h2>

                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="price-box">

                        <div class="price-icon-bx">

                            <img src="assets/images/price-icon-1.png">

                        </div>

                        <div class="price-txt">

                            <h3>Complete</h3>

                            <ul class="audio-books-pricing">

                                <li>The essentials for a professional book release. </li>
                                <li>25 softcover books</li>
                                <li>eBook conversion & distribution</li>
                                <li>Print On Demand distribution</li>
                                <li>Two ISBN barcodes </li>
                                <li><b>DESIGN</b> </li>
                                <li>Basic Cover Design</li>
                                <li>Printed Book and eBook Interior Formatting</li>


                            </ul>

                            <h2>$2,500 </h2>

                            <!--<span> (Approx. $230/page)</span>-->



                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="price-box">

                        <div class="price-icon-bx">

                            <img src="assets/images/price-icon-1.png">

                        </div>

                        <div class="price-txt">

                            <h3>Deluxe</h3>

                            <ul class="audio-books-pricing">

                                <li>The best way to print, publish, and promote your book. </li>
                                <li>25 softcover books</li>
                                <li>eBook conversion & distribution</li>
                                <li>Print On Demand distribution</li>
                                <li>Two ISBN barcodes </li>
                                <li><b>DESIGN</b> </li>
                                <li>Deluxe Cover Design</li>
                                <li>Printed Book and eBook Interior Formatting</li>
                                <li><b>MARKETING</b></li>
                                <li>Facebook & Instagram Advertising Campaign Development</li>
                                <li>Bookshop™ promotion bundle</li>



                            </ul>

                            <h2>$4,000 </h2>

                            <!--<span> (Approx. $230/page)</span>-->



                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>





<section class="sec_portfolio services-portfolio ">

    <div class="container-fluid">

        <div class="row">

            <div class="hd-txt">

                <h2 class=" wow fadeInUp" data-wow-delay="500ms">Book Printing Portfolio</h2>

                <p class=" wow fadeInUp" data-wow-delay="600ms">Our extensive portfolio showcases how we've helped
                    authors and publishers bring their stories to life with high-quality book printing services.</p>

            </div>

            <div class="services-port">

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInLeft">

                        <a href="assets/images/portfolio/t-1.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-1.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInLeft">

                        <a href="assets/images/portfolio/t-2.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-2.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInUp">

                        <a href="assets/images/portfolio/t-3.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-3.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInUp">

                        <a href="assets/images/portfolio/t-4.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-4.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInRight">

                        <a href="assets/images/portfolio/t-5.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-5.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>



                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInRight">

                        <a href="assets/images/portfolio/t-6.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-6.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

            </div>



            <!-- <div class="slider-bnt-st">

              <a href="#" class="btn-sts strd-btn">View More</a>

            </div> -->



        </div>

    </div>

</section>



<section class="just_a_click_sec">

    <div class="container">

        <div class="row">

            <div class="pad-col-rem pad_col_rem_mm">

                <div class="col-sm-7">

                    <div class="hd-txt hd_txt_mm">

                        <h2 class=" wow bounceInLeft">Professional Quality, Guaranteed!</h2>

                        <p class=" wow bounceInLeft">Online Book Writers, among the top book printing consultants in the
                            USA, is the perfect solution for creating custom-printed books in hardcover and softcover
                            formats. Our books are of top quality and made in the USA, and can be ready fast.
                            <br>
                            We don't just offer a custom book printing service - we also provide the highest quality
                            materials and professional finishes to ensure your books look and feel as amazing as they
                            should.
                        </p>

                    </div>

                </div>

                <div class="col-sm-5">



                    <div class="wow bounceInRight">

                        <div class="bok-vid-side ">



                            <img src="assets/images/book-video-side-img.jpg">

                            <!--<div class="box-content">-->

                            <!--    <img src="assets/images/play-icon-gren.png">-->

                            <!--</div>-->



                        </div>



                    </div>

                    <!--  <div class="bok-vid-side">

              <img src="assets/images/book-video-side-img.jpg">

            </div> -->

                </div>





            </div>



        </div>

    </div>

</section>



<section id="what-get" class="what-gt-sec what_gt_sec_mm">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="hd-txt">

                    <h2 class=" wow fadeInUp" data-wow-delay="400ms">Discover Our Range Of Book Printing Services</h2>

                </div>

            </div>

            <div class="col-sm-12">

                <div class="col-sm-6">

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>Choose Your Style</h4>

                                <p>Starting out can be overwhelming, but don't worry; we're here to help! Let us guide
                                    you through selecting the perfect book style that aligns with your vision and goals.
                                    We'll help you consider factors such as hardcover vs. paperback, paper stock
                                    options, and appropriate book sizes for your genre. </p>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>Premium Quality Book Printing</h4>

                                <p>We take great pride in producing premium quality books in our in-house printing
                                    facility. Our master-certified team is committed to using the latest print
                                    technology and the highest quality materials to ensure that every book we print
                                    meets top industry standards.</p>

                            </div>

                        </div>

                    </div>



                </div>

                <div class="col-sm-6">

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>Assurance Of The Strongest Book Printing Service</h4>

                                <p>TThat's right! When you choose Online Book Writers for your book printing needs, you
                                    get access to state-of-the-art printing technology, high-quality materials, and the
                                    support of our entire team of book publishing specialists. </p>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>Making Your Book Print-Ready</h4>

                                <p>Our team carefully examines every file before it goes to print. We understand that
                                    the quality of your book is only as good as the files used, which is why we take
                                    this step very seriously. Our technicians will examine your files for errors, such
                                    as low-resolution images or formatting issues, and work with you to correct any
                                    problems before printing.</p>

                            </div>

                        </div>

                    </div>



                </div>



            </div>

        </div>

    </div>

</section>



<section id="writer-edi-sec" class="wri-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInLeft" data-wow-delay="400ms">Your Story, Our Passion – We Print With
                            Heart!</h2>
                        <p class=" wow bounceInLeft" data-wow-delay="500ms">Create high-quality paperback or hardcover
                            books for your friends & family, business, fans of your book, prospective readers &
                            reviewers, and yourself.</p>
                    </div>
                    <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:844-387-1932 ">Toll Free <span>-</span>844-387-1932 </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
                        <img src="assets/images/wri-edi-simg.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="why-hire" class="why-sec-hire">
    <div class="types-of-videos">
        <div class="container">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms"> Why Choose Us? </h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">We believe in quality over quantity and for such reason,
                    we ensure to fulfill the <br> following commitments towards our clients;</p>
            </div>
            <div class="core-main">
                <!-- <div class="col-md-4 core-img-center no-padding">
         <div class="bg_circle"> <img src="assets/images/resume/resume_types_01.jpg" alt=""> </div>
         
         </div>
         
         -->
                <div class="col-md-3"></div>
                <div class="col-md-4 core-left ">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                            <h2>Affordable</h2>
                            <p>We keep your feasibility as our utmost priority and offer rates that match your budget.
                            </p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                            <h2>Privacy</h2>
                            <p>At the online book writers, we guarantee to guard every confidential information of our
                                clients. </p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                            <h2>Authentic Research</h2>
                            <p>Our writers perform a detailed and extensive research to understand your book and to
                                ensure that the work is authentic. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 core-left right">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                            <h2>Profitability</h2>
                            <p>You are the sole owner of your book and the profit you earn from it. We don’t charge any
                                royalty commissions</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-4 core-disc no-padding-right">
                            <h2>Qualified Experts</h2>
                            <p>Every work of our client is catered by an experienced professional to ensure that the
                                work is perfect</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-6 core-disc no-padding-right">
                            <h2>Deadline</h2>
                            <p>Poor quality and late delivery of services is something that puts customers off, and we
                                would never want to let our customers down. We always deliver on time and with
                                consistency!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of testomonial; trackBy: trackByTestomonial"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>