<app-banner [pagename]="pname"></app-banner>

<section class="banner-sec bnr-publish serv-bnr-st" id="bnr-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
                    <h2>EBOOK MARKETING SERVICES</h2>
                    <h3>TAKE YOUR BOOK TO NEW HEIGHTS</h3>
                    <p>From manuscript to bestseller, our eBook marketers fuel authors' dreams.</p>
                    <div class="bnr-btn">
                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="satisfied-sec" class="satify-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/images/logo-img-client.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="distribute-markting" class="marketing-dis">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="lft-col-mrkt">
                        <div class="hd-txt">
                            <h2 class=" wow fadeInLeft" data-wow-delay="500ms">Elevate Your Book's Success</h2>
                            <p class=" wow fadeInLeft" data-wow-delay="550ms">Skyrocket your book's visibility and
                                transform it from a forgotten gem to a chart-topping sensation. With our extensive
                                background in the publishing industry, including collaborations with renowned platforms
                                like Amazon's CreateSpace, Kindle Direct Publishing, and traditional publishers, we
                                possess the insider knowledge required to connect your book with eager readers.
                                Our specialized book marketing service is designed to align with your unique objectives,
                                genre, and expertise. Whether you're embarking on your writing journey or seeking to
                                enhance your existing strategies, we wholeheartedly pledge to provide the following
                                benefits:

                            </p>
                        </div>
                        <div class="bnr-btn  wow fadeInLeft" data-wow-delay="600ms">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="#" class="btn-sts livcht-btn ">Live Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="rgt-col-mrkt">
                        <ul>
                            <li class=" wow fadeInRight" data-wow-delay="500ms">Strategies crafted to match your
                                specific goals, ensuring maximum impact and relevance.</li>
                            <li class=" wow fadeInRight" data-wow-delay="530ms">Comprehensive genre-specific promotions
                                that effectively target your book's ideal audience.</li>
                            <li class=" wow fadeInRight" data-wow-delay="560ms">Expert guidance and support, regardless
                                of your level of experience as an author.</li>
                            <li class=" wow fadeInRight" data-wow-delay="590ms">Extensive industry connections and
                                partnerships that facilitate exposure for your book.</li>
                            <li class=" wow fadeInRight" data-wow-delay="620ms">A results-driven approach focused on
                                increasing book sales.</li>
                            <li class=" wow fadeInRight" data-wow-delay="650ms">Continuous evaluation and optimization
                                to adapt to changing market trends and reader preferences.</li>
                            <li class=" wow fadeInRight" data-wow-delay="680ms">Transparent reporting and regular
                                communication to keep you informed about the progress.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="writer-edi-sec" class="wri-sec markt-cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <div class="edit-img  wow bounceInLeft" data-wow-delay="600ms">
                        <img src="assets/images/markt-cta-img.png">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInRight" data-wow-delay="400ms">GET YOUR WORK SEEN!</h2>
                        <p class=" wow bounceInRight" data-wow-delay="500ms">Step into the spotlight. Our digital
                            marketing eBook services ensure your work gets noticed!</p>
                    </div>
                    <div class="edi-btn-st wow bounceInRight" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:844-387-1932">Toll Free <span>-</span>844-387-1932</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="mrkt-services" class="mrkt-serv">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">WHY YOU SHOULD MARKET YOUR BOOK?</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-1.png">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>Enhanced Visibility</h4>
                            <p>Maximize your book's exposure by strategically promoting it across various digital
                                platforms.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-6.png">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>Increased Sales Potential</h4>
                            <p>We aim to boost your book's sales, driving more downloads and purchases.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-3.png">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>Targeted Audience Reach</h4>
                            <p>We utilize advanced targeting techniques to reach readers interested in your book.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-4.png">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>Professional Presentation</h4>
                            <p>Our formatting and design provide a visually appealing and reader-friendly experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-2.png">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>Expert Guidance</h4>
                            <p>Our experienced marketing team provides valuable insights, advice, and support.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-5.png">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>Continuous Promotion</h4>
                            <p>We don't stop at the initial launch; we strive keep your book in the spotlight.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pricing-sec" class="price-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">Services & Pricing</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>SILVER </h3>
                            <ul>
                                <li>Google Preview Book</li>
                                <li>Social Media Promotion for 1 month</li>
                                <li>Marketing Strategy Call - 90 Min</li>
                                <li>Amazon Optimization</li>
                                <li>Search Engine Optimization - (1 Month)</li>
                                <li>Video Reviews- 3 Reviews</li>
                                <li>Book Launch Animated Video - one 1-minute video</li>
                                <li>Author Website Setup- 1</li>
                                <li>Website for author and book</li>
                                <li>Promotional Bookmarks Design- 3 each</li>
                                <li>Promotional Postcards Design-3 each</li>
                                <li>Promotional Business Cards Design-10 each</li>
                                <li>Blogs/Articles Marketing- 10</li>
                                <li>Blogs written and posted on high authority domain platforms </li>
                                <li>Press Release Campaign - 5</li>
                                <li>Media Outlets/ 5 Press Releases</li>
                            </ul>
                            <h2>$5999</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>GOLD</h3>
                            <ul>
                                <li>Google Preview Book</li>
                                <li>Social Media Promotion for 3 months</li>
                                <li>Marketing Strategy Call - 90 Min</li>
                                <li>Amazon Optimization</li>
                                <li>Search Engine Optimization - (3 Months)</li>
                                <li>Video Reviews- 5 Reviews</li>
                                <li>Book Launch Animated Video - one 1-minute video</li>
                                <li>Author Website Setup- 1</li>
                                <li>Website for author and book</li>
                                <li>Promotional Bookmarks Design- 5 each</li>
                                <li>Promotional Postcards Design-5 each</li>
                                <li>Promotional Business Cards Design-10 each</li>
                                <li>Blogs/Articles Marketing- 15</li>
                                <li>Blogs written and posted on high authority domain platforms </li>
                                <li>Press Release Campaign - 5</li>
                                <li>Media Outlets/ 10 Press Releases</li>
                                <li>Wikipedia Page for the book</li>
                                <li>Google Knowledge Panel for the book</li>
                            </ul>
                            <h2>$7999</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="price-box bdr-rem">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>DIAMOND </h3>
                            <ul>
                                <li>Google Preview Book</li>
                                <li>Social Media Promotion for 6 months</li>
                                <li>Marketing Strategy Call - 90 Min</li>
                                <li>Amazon Optimization</li>
                                <li>Search Engine Optimization - (6 Months)</li>
                                <li>Video Reviews- 10 Reviews</li>
                                <li>Book Launch Animated Video - two 1-minute videos</li>
                                <li>Author Website Setup- 1</li>
                                <li>Website for author and book</li>
                                <li>Promotional Bookmarks Design- 10 each</li>
                                <li>Promotional Postcards Design-10 each</li>
                                <li>Promotional Business Cards Design-10 each</li>
                                <li>Blogs/Articles Marketing- 30</li>
                                <li>Blogs written and posted on high authority domain platforms</li>
                                <li>Press Release Campaign - 10</li>
                                <li>Media Outlets/ 10 Press Releases</li>
                                <li>Wikipedia Page for the book</li>
                                <li>Google Knowledge Panel for the book</li>
                            </ul>
                            <h2>$13,999</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="process-follow" class="proc-we-follow">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">PROCESS WE FOLLOW</h2>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="col-sm-4">
                    <div class="process-we-box">
                        <h3>01. Discovery and Strategy</h3>
                        <p>We begin by thoroughly understanding your book, target audience, and marketing goals and then
                            create a strategy.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="process-we-box">
                        <h3>02. Targeted Audience Engagement</h3>
                        <p>We leverage digital platforms, social media, advertising, and content marketing to create
                            buzz and connect with readers.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="process-we-box">
                        <h3>03. Creative Content Creation</h3>
                        <p>Our team creates compelling and captivating content that showcases your book's unique selling
                            points.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 proces-follow-col">
                <div class="col-sm-4">
                    <div class="process-we-box">
                        <h3>04. Book Designing</h3>
                        <p>One of our creative designers create an impressive and attractive book cover for you.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="process-we-box">
                        <h3>05. Performance Tracking and Optimization</h3>
                        <p>We closely monitor key performance indicators to measure the effectiveness of our efforts and
                            optimize accordingly. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of testomonial; trackBy: trackByTestomonial"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cta-section" class="cta-sec2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">HIRE OUR EBOOK MARKETING COMPANY TODAY!</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We’ll make your book a bestseller! </p>
                </div>
                <div class="cta-btn wow fadeInUp" data-wow-delay="550ms">
                    <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                    <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                </div>
                <div class="edit-call wow fadeInUp" data-wow-delay="550ms">
                    <a style="line-height: 25px;" href="tel:844-387-1932">Toll Free <span>-</span>844-387-1932</a><br>
                    <a href="/cdn-cgi/l/email-protection#3e4d5f525b4d7e71505257505b7c515155694c574a5b4c4d105d5153"
                        class=""><span class="__cf_email__"
                            data-cfemail="90e3f1fcf5e3d0dffefcf9fef5d2fffffbc7e2f9e4f5e2e3bef3fffd">[email&#160;protected]</span></a>
                </div>
            </div>
        </div>
    </div>
</section>