<app-banner [pagename]="pname"></app-banner>

<section class="banner-sec book-video serv-bnr-st" id="bnr-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">

                    <h1 class="green_clr">Bring Your Book To Life <br> With Online Book Writers</h1>
                    <p>Our experienced artists and illustrators will provide stunning illustrations that enhance your
                        book's narrative. <br> We'll ensure the images are meaningful and appropriate for your story.
                    </p>
                    <div class="bnr-btn">

                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>

                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section id="satisfied-sec" class="satify-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">

                    <img src="assets/images/logo-img-client.png">

                </div>

            </div>

        </div>

    </div>

</section>




<section id="distribute-markting" class="marketing-dis">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="lft-col-mrkt">
                        <div class="hd-txt hd_txt_mm2">
                            <h2 class=" wow fadeInLeft" data-wow-delay="500ms">Online Book Writers – A Reliable Book
                                Illustration Company in the USA</h2>
                            <p class=" wow fadeInLeft" data-wow-delay="550ms">Book illustration service is a valuable
                                asset for authors and publishers alike. A well-illustrated book can captivate readers,
                                enhance the overall reading experience, and increase the book's marketability.
                                <br><br>
                                Illustrations can bring the story to life, making it more engaging for readers. They
                                help readers visualize the characters, settings, and events. According to a survey
                                conducted by Bowker Market Research, 61% of adults said they enjoy reading illustrated
                                books.
                                <br><br>

                                As a professional book illustration agency, we understand the importance of quality in a
                                book illustration service, so we always guarantee excellent results. Our experts will
                                ensure you get the perfect illustrations for your book at an unbeatable price.


                            </p>
                        </div>
                        <div class="bnr-btn  wow fadeInLeft" data-wow-delay="600ms">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="#" class="btn-sts livcht-btn ">Live Chat</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="promote-book" class="promote-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-col-rem pad_col_rem_mm">
                <div class="col-sm-12">
                    <div class="rgt-col-mrkt hd_txt_mm2 hd-txt">
                        <h2 class="m-bt">Get High-Quality Book Illustration Services And Bring Your Book To Life With
                            Meaningful And Captivating Pictures.</h2>
                        <p class="m-bt wow fadeInLeft" data-wow-delay="500ms">Book cover illustrations are a crucial
                            element that can't be overlooked, regardless of the genre you are working on. This applies
                            to children's books, comic books, and even instructional manuals. Combining words and
                            visuals creates a unique impact that can elevate the message and engage the reader more
                            profoundly. Therefore, if you want to enhance the effectiveness of your writing,
                            incorporating illustrations is a must.
                            A book with high-quality illustrations demonstrates the author's and publisher's commitment
                            to quality and professionalism. It can help establish a positive brand image and increase
                            the likelihood of readers purchasing future books from the same author or publisher.
                        </p>

                        <h3>Meaningful Pictures For Your Book</h3>
                        <p class="m-bt wow fadeInLeft" data-wow-delay="500ms">Our book illustrators are masters in their
                            craft and can add beautiful and meaningful pictures to your book, letting you express
                            yourself better than words ever could.</p>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>

<section id="pricing-sec" class="price-sec new-priicng-st-srv">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="hd-txt">

                    <h2 class="wow fadeInUp" data-wow-delay="500ms"
                        style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">Services &amp;
                        Pricing</h2>

                </div>

            </div>

            <div class="col-sm-12">

                <div class="col-sm-3">

                    <div class="price-box">

                        <div class="price-icon-bx">

                            <img src="assets/images/price-icon-1.png">

                        </div>

                        <div class="price-txt">

                            <h3>Basic </h3>

                            <ul class="audio-books-pricing">

                                <li>1 Illustration Design</li>
                                <li>1 Creative Designer</li>
                                <li>1 Revision</li>
                                <li>100% digitally designed artwork</li>
                                <li>Money Back Guarantee</li>
                                <li>Full Ownership</li>
                                <li>Dedicated Project Manager</li>






                            </ul>

                            <h2>$150 </h2>

                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>

                        </div>

                    </div>

                </div>

                <div class="col-sm-3">

                    <div class="price-box">

                        <div class="price-icon-bx">

                            <img src="assets/images/price-icon-1.png">

                        </div>

                        <div class="price-txt">

                            <h3>Silver</h3>

                            <ul class="audio-books-pricing">

                                <li>4 Illustration Designs</li>
                                <li>2 Creative Designer</li>
                                <li>5 Revisions</li>
                                <li>100% digitally designed artwork</li>
                                <li>Money Back Guarantee</li>
                                <li>Full Ownership</li>
                                <li>Dedicated Project Manager</li>





                            </ul>

                            <h2>$550 </h2>

                            <!--<span> (Approx. $230/page)</span>-->



                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>

                        </div>

                    </div>

                </div>


                <div class="col-sm-3">

                    <div class="price-box">

                        <div class="price-icon-bx">

                            <img src="assets/images/price-icon-1.png">

                        </div>

                        <div class="price-txt">

                            <h3>Gold </h3>

                            <ul class="audio-books-pricing">

                                <li>10 Illustration Designs</li>
                                <li>4 Creative Designer</li>
                                <li>100% vector based work</li>
                                <li>100% digitally designed artwork</li>
                                <li>Unlimited Revisions</li>
                                <li>FREE Color Options</li>
                                <li>File Format (JPEG, PNG, Ai, PSD, PDF)</li>
                                <li>Money Back Guarantee</li>
                                <li>Full Ownership</li>
                                <li>Dedicated Project Manager</li>
                                <li>Prioritized Support</li>






                            </ul>

                            <h2>$1,200 </h2>

                            <!--<span> (Approx. $230/page)</span>-->



                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>

                        </div>

                    </div>

                </div>


                <div class="col-sm-3">

                    <div class="price-box">

                        <div class="price-icon-bx">

                            <img src="assets/images/price-icon-1.png">

                        </div>

                        <div class="price-txt">

                            <h3>Platinum </h3>

                            <ul class="audio-books-pricing">

                                <li>20 Illustration Designs</li>
                                <li>6 Creative Designer</li>
                                <li>100% vector based work</li>
                                <li>100% digitally designed artwork</li>
                                <li>Unlimited Revisions</li>
                                <li>FREE Color Options</li>
                                <li>File Format (JPEG, PNG, Ai, PSD, PDF)</li>
                                <li>Money Back Guarantee</li>
                                <li>Full Ownership</li>
                                <li>Dedicated Project Manager</li>
                                <li>Prioritized Support</li>







                            </ul>

                            <h2>$3,200 </h2>

                            <!--<span> (Approx. $230/page)</span>-->



                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>

                        </div>

                    </div>

                </div>

                <!--<div class="col-sm-4">-->

                <!--  <div class="price-box bdr-rem">-->

                <!--    <div class="price-icon-bx">-->

                <!--      <img src="assets/images/price-icon-1.png">-->

                <!--    </div>-->

                <!--    <div class="price-txt">-->

                <!--      <h3>Website Design Economy  </h3>-->

                <!--      <ul>-->

                <!--        <li> 10 Unique Pages Website </li>-->

                <!--            <li> CMS / Admin Panel Support </li>-->

                <!--            <li> 8 Stock images </li>-->

                <!--            <li> 5 Banner Designs </li>-->

                <!--            <li> 1 jQuery Slider Banner </li>-->

                <!--            <li> <span>FREE</span> Google Friendly Sitemap </li>-->

                <!--            <li> Complete W3C Certified HTML </li>-->

                <!--            <li> 48 to 72 hours TAT </li>-->

                <!--            <li> Complete Deployment </li>-->

                <!--            <li> 100% Satisfaction Guarantee </li>-->

                <!--            <li> 100% Unique Design Guarantee </li>-->

                <!--            <li> 100% Money Back Guarantee * </li>-->

                <!--            <li> Mobile Responsive will be Additional <span>$200*</span> </li>-->

                <!--      </ul>-->

                <!--      <h2>$644</h2>-->

                <!--      <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>-->

                <!--    </div>-->

                <!--  </div>-->

                <!--</div>-->

            </div>

            <!--<div class="col-sm-12 new-packg-web">-->

            <!--  <div class="col-sm-4">-->

            <!--    <div class="price-box">-->

            <!--      <div class="price-icon-bx">-->

            <!--        <img src="assets/images/price-icon-1.png">-->

            <!--      </div>-->

            <!--      <div class="price-txt">-->

            <!--        <h3>Web design Custom</h3>-->

            <!--        <ul>-->

            <!--          <li> Upto 15 Unique Pages Website </li>-->

            <!--          <li> Conceptual and Dynamic Website </li>-->

            <!--          <li> Mobile Responsive </li>-->

            <!--          <li> Online Reservation/Appointment Tool (Optional) </li>-->

            <!--          <li> Online Payment Integration (Optional) </li>-->

            <!--          <li> Custom Forms </li>-->

            <!--          <li> Lead Capturing Forms (Optional) </li>-->

            <!--          <li> Striking Hover Effects </li>-->

            <!--          <li> Newsletter Subscription (Optional) </li>-->

            <!--          <li> Social Media Integration </li>-->

            <!--          <li> Search Engine Submission </li>-->

            <!--          <li> 5 Stock Photos </li>-->

            <!--          <li> 3 Unique Banner Design </li>-->

            <!--          <li> 1 jQuery Slider Banner </li>-->

            <!--          <li> Complete W3C Certified HTML </li>-->

            <!--          <li> 48 to 72 hours TAT </li>-->

            <!--          <li> Complete Deployment </li>-->

            <!--          <li> 100% Satisfaction Guarantee </li>-->

            <!--          <li> 100% Unique Design Guarantee </li>-->

            <!--          <li> 100% Money Back Guarantee * </li>-->

            <!--        </ul>-->

            <!--        <h2>$1194</h2>-->

            <!--        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>-->

            <!--      </div>-->

            <!--    </div>-->

            <!--  </div>-->

            <!--  <div class="col-sm-4">-->

            <!--    <div class="price-box">-->

            <!--      <div class="price-icon-bx">-->

            <!--        <img src="assets/images/price-icon-1.png">-->

            <!--      </div>-->

            <!--      <div class="price-txt">-->

            <!--        <h3>Web Design Elite</h3>-->

            <!--        <ul>-->

            <!--          <li> 15 to 20 Pages Website </li>-->

            <!--          <li> Custom Made, Interactive, Dynamic &amp; High End Design </li>-->

            <!--          <li> Custom WP (or) Custom PHP Development </li>-->

            <!--          <li> 1 jQuery Slider Banner </li>-->

            <!--          <li> Up to 10 Custom Made Banner Designs </li>-->

            <!--          <li> 10 Stock Images </li>-->

            <!--          <li> Unlimited Revisions </li>-->

            <!--          <li> Special Hoover Effects </li>-->

            <!--          <li> Content Management System (CMS) </li>-->

            <!--          <li> Online Appointment/Scheduling/Online Ordering Integration (Optional) </li>-->

            <!--          <li> Online Payment Integration (Optional) </li>-->

            <!--          <li> Multi Lingual (Optional) </li>-->

            <!--          <li> Custom Dynamic Forms (Optional) </li>-->

            <!--          <li> Signup Area (For Newsletters, Offers etc.) </li>-->

            <!--          <li> Search Bar </li>-->

            <!--          <li> Live Feeds of Social Networks integration (Optional) </li>-->

            <!--          <li> Mobile Responsive </li>-->

            <!--          <li> FREE 5 Years Domain Name </li>-->

            <!--          <li> Free Google Friendly Sitemap </li>-->

            <!--          <li> Search Engine Submission </li>-->

            <!--          <li> Complete W3C Certified HTML </li>-->

            <!--          <li> Industry Specified Team of Expert Designers and Developers </li>-->

            <!--          <li> Complete Deployment </li>-->

            <!--          <li> Dedicated Accounts Manager </li>-->

            <!--          <li> 100% Ownership Rights </li>-->

            <!--          <li> 100% Satisfaction Guarantee </li>-->

            <!--          <li> 100% Unique Design Guarantee </li>-->

            <!--          <li> 100% Money Back Guarantee * </li>-->

            <!--        </ul>-->

            <!--        <h2>$4388</h2>-->

            <!--        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>-->

            <!--      </div>-->

            <!--    </div>-->

            <!--  </div>-->

            <!--  <div class="col-sm-4">-->

            <!--    <div class="price-box bdr-rem">-->

            <!--      <div class="price-icon-bx">-->

            <!--        <img src="assets/images/price-icon-1.png">-->

            <!--      </div>-->

            <!--      <div class="price-txt">-->

            <!--        <h3>Website Design POrtal  </h3>-->

            <!--        <ul>-->

            <!--          <li>Complete Custom Design &amp; Development</li>-->

            <!--          <li>Dating Portal, Job Portal, Professional Network Portal, Social Network Portal, Restaurant Portal, Medical</li>-->

            <!--          <li>Portal, Enterprise Portal (Any One)</li>-->

            <!--          <li>Unique, User Friendly, Interactive, Dynamic, High End UI Design</li>-->

            <!--          <li>Unlimited Banner Designs</li>-->

            <!--          <li>Interactive Sliding Banners</li>-->

            <!--          <li>Special Hoover Effects</li>-->

            <!--          <li>Unlimited Stock Images</li>-->

            <!--          <li>User Signup Area</li>-->

            <!--          <li>User Sign in Area</li>-->

            <!--          <li>Client/User Dashboard Area</li>-->

            <!--          <li>Custom Coding and Development</li>-->

            <!--          <li>Content Management System (Custom)</li>-->

            <!--          <li>Online Appointment/Scheduling/Online Ordering Integration (Optional)</li>-->

            <!--          <li>Online Payment Integration (Optional)</li>-->

            <!--          <li>Multi Lingual (Optional)</li>-->

            <!--          <li>Custom Dynamic Forms (Optional)</li>-->

            <!--          <li>Shopping Cart Integration (Optional)</li>-->

            <!--          <li>Complete Database Creation</li>-->

            <!--          <li>Signup Automated Email Authentication</li>-->

            <!--          <li>Web Traffic Analytics Integration</li>-->

            <!--          <li>3rd Party API Integrations</li>-->

            <!--          <li>Signup Area (For Newsletters, Offers etc.)</li>-->

            <!--          <li>Search Bar for Easy Search</li>-->

            <!--          <li>Live Feeds of Social Networks integration (Optional)</li>-->

            <!--          <li>Search Engine Submission</li>-->

            <!--          <li>Module-wise Architecture</li>-->

            <!--          <li>Extensive Admin Panel</li>-->

            <!--          <li>Award Winning Team of Expert Designers and Developers</li>-->

            <!--          <li>Complete Deployment</li>-->

            <!--          <li> <h4><b><u>Value Added Services</u></b></h4></li>-->

            <!--          <li>Complete Source Files and Codes</li>-->

            <!--          <li>Devoted &amp; Enthusiastic Project Manager</li>-->

            <!--          <li>100% Ownership Rights</li>-->

            <!--          <li>100% Unique &amp; Custom Website Design and Development</li>-->

            <!--          <li>100% Approval Assurance </li>-->

            <!--          <li>30 Days Refund Warranty</li>-->

            <!--          <li><strong>*NO MONTHLY OR ANY HIDDEN FEE*</strong></li>-->

            <!--          <li> <h4><b><u>Add on</u></b></h4></li>-->

            <!--          <li>Professional Content/Copywriting - $1340 (Up to 20 Pages) - (Per Page is $97)</li>-->

            <!--          <li>Shopping Cart Integration - $250</li>-->

            <!--          <li>Additional Professional Email ID - $20 (Each)</li>-->

            <!--        </ul>-->

            <!--        <h2>$5322</h2>-->

            <!--        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>-->

            <!--      </div>-->

            <!--    </div>-->

            <!--  </div>-->

            <!--</div>-->

        </div>

    </div>

</section>











<!--<section id="ebook-portfolio" class="ebok-port">-->

<!--  <div class="container">-->

<!--    <div class="row">-->

<!--      <div class="col-sm-12">-->

<!--        <div class="hd-txt">-->

<!--          <h2 class=" wow fadeInUp" data-wow-delay="400ms">Ebook Portfolio</h2>-->

<!--          <p class=" wow fadeInUp" data-wow-delay="500ms">There may be a plethora of reasons causing obstacles between you and the achievement of your dream.</p>-->

<!--        </div>-->

<!--      </div>-->

<!--      <div class="col-sm-12">-->

<!--        <div class="col-sm-7 col-pd-rm-port">-->

<!--          <div class="col-sm-12 col-pd-rm-port ebk-port-1">-->

<!--            <div class="box18 wow bounceIn">-->

<!--              <div class="bok-vid-side ">-->

<!--                <a href="https://www.youtube.com/embed/mzSzHpTGYbQ" class="fancybox" rel="ligthbox">-->

<!--                    <img class="ebk-img-p" src="assets/images/ebook-port/port-1.png">-->

<!--                    <div class="box-content">-->

<!--                        <img src="assets/images/play-icon-gren.png">-->

<!--                    </div>-->

<!--                </a>-->

<!--              </div>-->

<!--            </div>-->

<!--          </div>-->

<!--          <div class="col-sm-6 col-pd-rm-port ">-->

<!--            <div class="col-sm-12 col-pd-rm-port ebk-port-2">-->

<!--               <div class="box18 wow bounceIn">-->

<!--                  <div class="bok-vid-side ">-->

<!--                    <a href="https://www.youtube.com/embed/J08MnhD0if4" class="fancybox" rel="ligthbox">-->

<!--                        <img class="ebk-img-p" src="assets/images/ebook-port/port-2.png">-->

<!--                        <div class="box-content">-->

<!--                            <img src="assets/images/play-icon-gren.png">-->

<!--                        </div>-->

<!--                    </a>-->

<!--                  </div>-->

<!--                </div>-->

<!--            </div>-->

<!--            <div class="col-sm-12 col-pd-rm-port ebk-port-3">-->

<!--               <div class="box18 wow bounceIn">-->

<!--                  <div class="bok-vid-side ">-->

<!--                    <a href="https://www.youtube.com/embed/GZlXaoh_8y8" class="fancybox" rel="ligthbox">-->

<!--                        <img class="ebk-img-p" src="assets/images/ebook-port/port-3.png">-->

<!--                        <div class="box-content">-->

<!--                            <img src="assets/images/play-icon-gren.png">-->

<!--                        </div>-->

<!--                    </a>-->

<!--                  </div>-->

<!--                </div>-->

<!--            </div>-->

<!--          </div>-->

<!--          <div class="col-sm-6 col-pd-rm-port ebk-port-4">-->

<!--             <div class="box18 wow bounceIn">-->

<!--                <div class="bok-vid-side ">-->

<!--                  <a href="https://www.youtube.com/embed/KsmELwsv31M" class="fancybox" rel="ligthbox">-->

<!--                      <img class="ebk-img-p" src="assets/images/ebook-port/port-4.png">-->

<!--                      <div class="box-content">-->

<!--                          <img src="assets/images/play-icon-gren.png">-->

<!--                      </div>-->

<!--                  </a>-->

<!--                </div>-->

<!--              </div>-->

<!--          </div>-->

<!--        </div>-->

<!--        <div class="col-sm-5 col-pd-rm-port">-->

<!--          <div class="col-sm-12 col-pd-rm-port ebk-port-5">-->

<!--               <div class="box18 wow bounceIn">-->

<!--                  <div class="bok-vid-side ">-->

<!--                    <a href="https://www.youtube.com/embed/eU9zf3iinYc" class="fancybox" rel="ligthbox">-->

<!--                        <img class="ebk-img-p" src="assets/images/ebook-port/port-5.png">-->

<!--                        <div class="box-content">-->

<!--                            <img src="assets/images/play-icon-gren.png">-->

<!--                        </div>-->

<!--                    </a>-->

<!--                  </div>-->

<!--                </div>-->

<!--            </div>-->

<!--            <div class="col-sm-12 col-pd-rm-port ebk-port-6">-->

<!--               <div class="box18 wow bounceIn">-->

<!--                  <div class="bok-vid-side ">-->

<!--                    <a href="https://www.youtube.com/embed/Ba35JJ5z4Ew" class="fancybox" rel="ligthbox">-->

<!--                        <img class="ebk-img-p" src="assets/images/ebook-port/port-6.png">-->

<!--                        <div class="box-content">-->

<!--                            <img src="assets/images/play-icon-gren.png">-->

<!--                        </div>-->

<!--                    </a>-->

<!--                  </div>-->

<!--                </div>-->

<!--            </div>-->

<!--            <div class="col-sm-12 col-pd-rm-port ebk-port-7">-->

<!--               <div class="box18 wow bounceIn">-->

<!--                  <div class="bok-vid-side ">-->

<!--                    <a href="https://www.youtube.com/embed/C8p9gK1Q6eE" class="fancybox" rel="ligthbox">-->

<!--                        <img class="ebk-img-p" src="assets/images/ebook-port/port-7.png">-->

<!--                        <div class="box-content">-->

<!--                            <img src="assets/images/play-icon-gren.png">-->

<!--                        </div>-->

<!--                    </a>-->

<!--                  </div>-->

<!--                </div>-->

<!--            </div>-->

<!--        </div>-->

<!--      </div>-->

<!--    </div>-->

<!--  </div>-->



<!--</section>-->



<section class="sec_portfolio services-portfolio ">

    <div class="container-fluid">

        <div class="row">

            <div class="hd-txt">

                <h2 class=" wow fadeInUp" data-wow-delay="500ms">eBook Illustration Portfolio</h2>

                <p class=" wow fadeInUp" data-wow-delay="600ms">Your dream may face numerous obstacles for various
                    reasons but not with stunning illustrations for your book.</p>

            </div>

            <div class="services-port">

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInLeft">

                        <a href="assets/images/portfolio/t-1.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-1.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInLeft">

                        <a href="assets/images/portfolio/t-2.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-2.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInUp">

                        <a href="assets/images/portfolio/t-3.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-3.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInUp">

                        <a href="assets/images/portfolio/t-4.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-4.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInRight">

                        <a href="assets/images/portfolio/t-5.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-5.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>



                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInRight">

                        <a href="assets/images/portfolio/t-6.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-6.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

            </div>



            <!-- <div class="slider-bnt-st">

              <a href="#" class="btn-sts strd-btn">View More</a>

            </div> -->



        </div>

    </div>

</section>



<section class="just_a_click_sec">

    <div class="container">

        <div class="row">

            <div class="pad-col-rem pad_col_rem_mm">

                <div class="col-sm-7">

                    <div class="hd-txt hd_txt_mm">

                        <h2 class=" wow bounceInLeft">Are You Looking For Custom Book Illustration Services Online?
                        </h2>

                        <p class=" wow bounceInLeft">The illustrations serve as the initial point of contact for readers
                            or audiences and create a lasting impression of your book. Therefore, high-quality
                            illustrations are vital to enhancing the visual appeal of your book.
                            <br><br>
                            Incorporating professional and high-quality custom book illustrations or custom eBook
                            illustrations can enhance the visual appeal of books or novels, adding value to the overall
                            reading experience. The captivating illustrations can pique the audience's curiosity and
                            leave them eager to discover more.
                        </p>

                    </div>

                </div>

                <div class="col-sm-5">



                    <div class="wow bounceInRight">

                        <div class="bok-vid-side ">



                            <img src="assets/images/book-video-side-img.jpg">

                            <!--<div class="box-content">-->

                            <!--    <img src="assets/images/play-icon-gren.png">-->

                            <!--</div>-->



                        </div>



                    </div>

                    <!--  <div class="bok-vid-side">

              <img src="assets/images/book-video-side-img.jpg">

            </div> -->

                </div>





            </div>



        </div>

    </div>

</section>



<section id="what-get" class="what-gt-sec what_gt_sec_mm">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="hd-txt">

                    <h2 class=" wow fadeInUp" data-wow-delay="400ms">Flawless Book Illustration Services</h2>

                </div>

            </div>

            <div class="col-sm-12">

                <div class="col-sm-6">

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>Flawless Book Illustration Services</h4>

                                <p>We assign a dedicated project manager to every client who will work with you to
                                    ensure excellent service and a timely turnaround on your project. Our project
                                    manager is highly skilled and committed to guiding you throughout the process</p>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>Passionate and Professional Team</h4>

                                <p>Our team comprises passionate and professional illustrators committed to delivering
                                    excellent quality work. Our illustrators are highly skilled and experienced in
                                    various styles, ensuring you get a wide range of options.</p>

                            </div>

                        </div>

                    </div>



                </div>

                <div class="col-sm-6">

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>A Streamlined, Easy Process</h4>

                                <p>We ensure a hassle-free experience. We use a streamlined process that simplifies
                                    communication and file sharing, making it as easy as 1-2-3. You won't have to search
                                    endless email threads to find the necessary messages or files. </p>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>Save Time</h4>

                                <p>Time is a valuable resource, and we understand that it can hinder achieving your
                                    goals. Our services are designed to help you save time without compromising quality.
                                    With our services, you can focus on other essential aspects of your work while we
                                    care for your illustration needs.</p>

                            </div>

                        </div>

                    </div>



                </div>



            </div>

        </div>

    </div>

</section>



<section id="writer-edi-sec" class="wri-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInLeft" data-wow-delay="400ms">Looking For A Comprehensive Solution To
                            Overcome The Challenges Of Custom Book Illustration? </h2>
                        <p class=" wow bounceInLeft" data-wow-delay="500ms">If you have an exciting story that you'd
                            like to see far-reaching, we have the right team for you. Our book illustrators are skilled
                            at transforming your ideas into a captivating reality.</p>
                    </div>
                    <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:(254) 500-3042 ">Toll Free <span>-</span>(254) 500-3042 </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
                        <img src="assets/images/wri-edi-simg.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="why-hire" class="why-sec-hire">
    <div class="types-of-videos">
        <div class="container">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms"> Why Choose Us? </h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">We believe in quality over quantity and for such reason,
                    we ensure to fulfill the <br> following commitments towards our clients;</p>
            </div>
            <div class="core-main">
                <!-- <div class="col-md-4 core-img-center no-padding">
         <div class="bg_circle"> <img src="assets/images/resume/resume_types_01.jpg" alt=""> </div>
         
         </div>
         
         -->
                <div class="col-md-3"></div>
                <div class="col-md-4 core-left ">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                            <h2>Affordable</h2>
                            <p>We keep your feasibility as our utmost priority and offer rates that match your budget.
                            </p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                            <h2>Privacy</h2>
                            <p>At the online book writers, we guarantee to guard every confidential information of our
                                clients. </p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                            <h2>Authentic Research</h2>
                            <p>Our writers perform a detailed and extensive research to understand your book and to
                                ensure that the work is authentic. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 core-left right">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                            <h2>Profitability</h2>
                            <p>You are the sole owner of your book and the profit you earn from it. We don’t charge any
                                royalty commissions</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-4 core-disc no-padding-right">
                            <h2>Qualified Experts</h2>
                            <p>Every work of our client is catered by an experienced professional to ensure that the
                                work is perfect</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-6 core-disc no-padding-right">
                            <h2>Deadline</h2>
                            <p>Poor quality and late delivery of services is something that puts customers off, and we
                                would never want to let our customers down. We always deliver on time and with
                                consistency!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of testomonial; trackBy: trackByTestomonial"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>