<app-banner [pagename]="pname"></app-banner>


<section class="banner-sec book-video serv-bnr-st" id="bnr-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">

                    <h1 class="green_clr">Publish Your Vision</h1>
                    <p>With Online Book Writers, you can extend your research impact and bring your creative vision to
                        life with complete <br> control throughout the publication process.</p>
                    <div class="bnr-btn">

                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>

                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section id="satisfied-sec" class="satify-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">

                    <img src="assets/images/logo-img-client.png">

                </div>

            </div>

        </div>

    </div>

</section>




<section id="distribute-markting" class="marketing-dis">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="lft-col-mrkt">
                        <div class="hd-txt hd_txt_mm2">
                            <h2 class=" wow fadeInLeft" data-wow-delay="500ms">Why Do You Need A Trusted Articles
                                Publication Service?</h2>
                            <h3>Journey of a manuscript</h3>
                            <p class=" wow fadeInLeft" data-wow-delay="550ms">As the USA's trusted article writing and
                                publishing agency, we offer services designed to meet the needs of writers and
                                businesses that require quality content for their websites, blogs, and other online
                                platforms.
                                <br>
                                Our professional writers are experts in various niches, having a wealth of experience
                                and knowledge in their respective fields. They can produce high-quality content that is
                                engaging, informative, and SEO optimized.

                            </p>
                        </div>
                        <div class="bnr-btn  wow fadeInLeft" data-wow-delay="600ms">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="#" class="btn-sts livcht-btn ">Live Chat</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="promote-book" class="promote-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-col-rem pad_col_rem_mm">
                <div class="col-sm-6">
                    <div class="rgt-col-mrkt hd_txt_mm2">
                        <h3>Unleash Your Story's Potential With Our Online Article Publication Services</h3>
                        <ul>
                            <li class=" wow fadeInLeft" data-wow-delay="500ms"> Lovely writing and personalized article
                            </li>
                            <li class=" wow fadeInLeft" data-wow-delay="500ms"> Fully printed 'hard facts' for each
                                order </li>
                            <li class=" wow fadeInLeft" data-wow-delay="500ms"> Broad choice of quality ingredients
                            </li>
                            <li class=" wow fadeInLeft" data-wow-delay="500ms"> Reasonable rates and large concessions
                                for amounts </li>
                            <li class=" wow fadeInLeft" data-wow-delay="500ms"> Close, competent, and careful operation
                            </li>

                        </ul>
                        <p class=" wow fadeInLeft" data-wow-delay="500ms">Partnering with Online Book Writers can
                            benefit individuals or businesses seeking an online presence. One of the biggest perks of
                            working with us is that we possess the knowledge and expertise to create compelling and
                            engaging content that resonates with the target audience.
                            <br>
                            We can help businesses create a strong brand image by crafting high-quality articles
                            showcasing expertise and authority in respective domains. Another advantage of partnering
                            with us is that we can help businesses improve their search engine rankings by optimizing
                            their content for relevant keywords.



                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="rgt-col-mrkt hd_txt_mm2">
                        <p class=" wow fadeInRight" data-wow-delay="500ms">
                            We understand how important it is for you to maintain ownership of all works published with
                            us. That's why we let you control all the rights to published works.
                            <br><br>
                            We offer customized solutions to clients by understanding that each client has unique needs,
                            and we work closely with them to develop content that meets their specific requirements. As
                            a leading article publication agency in the USA, we are known for our fast turnaround times.
                            We understand that time is of the essence in the digital world and work efficiently to
                            deliver content within the agreed-upon timeframe.
                            <br><br>

                            Additionally, we offer competitive pricing affordable for businesses of all sizes. With
                            these features, Online Book Writers, the best article publication service in the USA, is a
                            great choice for businesses and individuals looking to expand their audience.

                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section id="pricing-sec" class="price-sec new-priicng-st-srv">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="hd-txt">

                    <h2 class="wow fadeInUp" data-wow-delay="500ms"
                        style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">Services &amp;
                        Pricing</h2>

                </div>

            </div>

            <div class="col-sm-12">

                <div class="col-sm-4">

                    <div class="price-box">

                        <div class="price-icon-bx">

                            <img src="assets/images/price-icon-1.png">

                        </div>

                        <div class="price-txt">

                            <h3>3 Articles <span>800 words each</span></h3>

                            <ul class="audio-books-pricing">

                                <li>Professionally researched </li>
                                <li>100% original content</li>
                                <li>SEO copywriting</li>
                                <li>5 keywords per article</li>
                                <li>2 outbound links in text</li>
                                <li>Web formatted</li>
                                <li>1 stock image per article</li>
                                <li>Proofread and ready to publish</li>
                                <li>3 revisions per article</li>




                            </ul>

                            <h2>$500 </h2>

                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="price-box">

                        <div class="price-icon-bx">

                            <img src="assets/images/price-icon-1.png">

                        </div>

                        <div class="price-txt">

                            <h3>5 Articles <span>1000 words each - 15% off</span></h3>

                            <ul class="audio-books-pricing">

                                <li>Professionally researched</li>
                                <li>100% original content</li>
                                <li>SEO copywriting</li>
                                <li>Keyword research</li>
                                <li>Competitor research</li>
                                <li>Up to 7 keywords per article</li>
                                <li>2 outbound links in text</li>
                                <li>Web formatted</li>
                                <li>2 stock images per article</li>
                                <li>Proofread and ready to publish</li>
                                <li>3 revisions per article</li>



                            </ul>

                            <h2>$1,200 </h2>

                            <!--<span> (Approx. $230/page)</span>-->



                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="price-box">

                        <div class="price-icon-bx">

                            <img src="assets/images/price-icon-1.png">

                        </div>

                        <div class="price-txt">

                            <h3>10 Articles <span>1000 words each - 20% off</span></h3>

                            <ul class="audio-books-pricing">

                                <li>Professionally researched</li>
                                <li>100% original content</li>
                                <li>SEO copywriting</li>
                                <li>Meta title and description</li>
                                <li>Keyword research</li>
                                <li>Keyword density</li>
                                <li>Competitor research</li>
                                <li>Up to 10 keywords per article</li>
                                <li>3 outbound links in text</li>
                                <li>Web formatted</li>
                                <li>2 stock images per article</li>
                                <li>Proofread and ready to publish</li>
                                <li>3 revisions per article</li>




                            </ul>

                            <h2>$2,000 </h2>




                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Request a
                                Quote</a>

                        </div>

                    </div>

                </div>

            </div>


        </div>

    </div>

</section>







<section class="sec_portfolio services-portfolio ">

    <div class="container-fluid">

        <div class="row">

            <div class="hd-txt">

                <h2 class=" wow fadeInUp" data-wow-delay="500ms">Best Article Publication</h2>

                <p class=" wow fadeInUp" data-wow-delay="600ms">Share your knowledge with a wider audience and expand
                    the reach of your research with our easy-to-use publication services.</p>

            </div>

            <div class="services-port">

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInLeft">

                        <a href="assets/images/portfolio/t-1.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-1.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInLeft">

                        <a href="assets/images/portfolio/t-2.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-2.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInUp">

                        <a href="assets/images/portfolio/t-3.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-3.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInUp">

                        <a href="assets/images/portfolio/t-4.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-4.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInRight">

                        <a href="assets/images/portfolio/t-5.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-5.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>



                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInRight">

                        <a href="assets/images/portfolio/t-6.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-6.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

            </div>



            <!-- <div class="slider-bnt-st">

              <a href="#" class="btn-sts strd-btn">View More</a>

            </div> -->



        </div>

    </div>

</section>



<section class="just_a_click_sec">

    <div class="container">

        <div class="row">

            <div class="pad-col-rem pad_col_rem_mm">

                <div class="col-sm-7">

                    <div class="hd-txt hd_txt_mm">

                        <h2 class=" wow bounceInLeft">Publishing For Professionals</h2>

                        <p class=" wow bounceInLeft">Online Book Writers aims to enable individuals and businesses to
                            elevate their professional reputation by becoming acknowledged authorities in their
                            respective industries. To achieve this goal, we furnish our clients with the necessary
                            resources and equipment to help them write and publish their own content, establish a robust
                            personal brand, and expand their business to attain higher prominence, increasing their
                            credibility and influence.</p>

                    </div>

                </div>

                <div class="col-sm-5">



                    <div class="wow bounceInRight">

                        <div class="bok-vid-side ">



                            <img src="assets/images/book-video-side-img.jpg">

                            <!--<div class="box-content">-->

                            <!--    <img src="assets/images/play-icon-gren.png">-->

                            <!--</div>-->



                        </div>



                    </div>

                    <!--  <div class="bok-vid-side">

              <img src="assets/images/book-video-side-img.jpg">

            </div> -->

                </div>





            </div>



        </div>

    </div>

</section>



<section id="what-get" class="what-gt-sec what_gt_sec_mm">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="hd-txt">

                    <h2 class=" wow fadeInUp" data-wow-delay="400ms">Choosing Online Book Writers – A Leading Article
                        <br> Publication Agency In The USA</h2>

                </div>

            </div>

            <div class="col-sm-12">

                <div class="col-sm-6">

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>Quality Content Creation</h4>

                                <p>One of the most important features of a leading article writing and publication
                                    service is the ability to create and publish quality content. That's why we produce
                                    and publish well-written, informative, and engaging articles. </p>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>Extensive Research</h4>

                                <p>A good article writing and publication service should also be able to conduct
                                    extensive research on the topic they are writing about. That's why we have access to
                                    various reliable sources to ensure our content is accurate and well-informed.</p>

                            </div>

                        </div>

                    </div>



                </div>

                <div class="col-sm-6">

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>SEO Optimization</h4>

                                <p>In today's digital age, articles must be optimized for search engines. That's why we
                                    optimize articles for SEO by incorporating relevant keywords, meta descriptions, and
                                    other techniques to ensure that the articles rank high in search engines like
                                    Google.</p>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-12">

                        <div class="what-gt-box">

                            <div class="what-gt-icon">

                                <img src="assets/images/trust-star-icon.png">

                            </div>

                            <div class="what-gt-txt">

                                <h4>Timely Delivery</h4>

                                <p>A professional article publication service should also be able to deliver content on
                                    time. That's why we have a track record of meeting deadlines and providing clients
                                    with articles ready for publication when needed.</p>

                            </div>

                        </div>

                    </div>



                </div>



            </div>

        </div>

    </div>

</section>



<section id="writer-edi-sec" class="wri-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInLeft" data-wow-delay="400ms">Write Your Story Today!</h2>
                        <p class=" wow bounceInLeft" data-wow-delay="500ms">Online Book Writers is the perfect place to
                            bring your creative vision to life and extend your research impact. Publish your
                            professional work with us and keep the rights to your work!</p>
                    </div>
                    <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:(254) 500-3042 ">Toll Free <span>-</span>(254) 500-3042 </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
                        <img src="assets/images/wri-edi-simg.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="why-hire" class="why-sec-hire">
    <div class="types-of-videos">
        <div class="container">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms"> Why Choose Us? </h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">We believe in quality over quantity and for such reason,
                    we ensure to fulfill the <br> following commitments towards our clients;</p>
            </div>
            <div class="core-main">
                <!-- <div class="col-md-4 core-img-center no-padding">
         <div class="bg_circle"> <img src="assets/images/resume/resume_types_01.jpg" alt=""> </div>
         
         </div>
         
         -->
                <div class="col-md-3"></div>
                <div class="col-md-4 core-left ">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                            <h2>Affordable</h2>
                            <p>We keep your feasibility as our utmost priority and offer rates that match your budget.
                            </p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                            <h2>Privacy</h2>
                            <p>At the online book writers, we guarantee to guard every confidential information of our
                                clients. </p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                            <h2>Authentic Research</h2>
                            <p>Our writers perform a detailed and extensive research to understand your book and to
                                ensure that the work is authentic. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 core-left right">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                            <h2>Profitability</h2>
                            <p>You are the sole owner of your book and the profit you earn from it. We don’t charge any
                                royalty commissions</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-4 core-disc no-padding-right">
                            <h2>Qualified Experts</h2>
                            <p>Every work of our client is catered by an experienced professional to ensure that the
                                work is perfect</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-6 core-disc no-padding-right">
                            <h2>Deadline</h2>
                            <p>Poor quality and late delivery of services is something that puts customers off, and we
                                would never want to let our customers down. We always deliver on time and with
                                consistency!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of testomonial; trackBy: trackByTestomonial"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>