<app-banner [pagename]="pname"></app-banner>

<section class="banner-sec book-ebook serv-bnr-st" id="bnr-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">

                    <h2>EBOOK WRITING SERVICES</h2>

                    <h3>WE TRANSFORM IDEAS <br> INTO BESTSELLERS</h3>

                    <p>Online Book Writers is where your boundless imagination comes alive on the page, skillfully
                        guided <br> by our team of book writing wizards.</p>

                    <div class="bnr-btn">

                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>

                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section id="satisfied-sec" class="satify-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">

                    <img src="assets/images/logo-img-client.png">

                </div>

            </div>

        </div>

    </div>

</section>



<section id="promote-book" class="promote-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 pad-col-rem">

                <div class="hd-txt text-center">

                    <h2 class=" wow fadeInUp text-center" data-wow-delay="500ms">WEAVING WORDS INTO EXTRAORDINARY TALES
                        <br> YOUR BOOK WRITING PARTNER!
                    </h2>

                    <p class=" wow fadeInUp text-center" data-wow-delay="600ms">Weaving words into extraordinary tales
                        is our passion and expertise at Online Book Writers, and we are thrilled to be your dedicated
                        partner on this literary journey. With our team of skilled writers by your side, we will
                        meticulously craft each sentence, sculpt each character, and paint vivid landscapes, ensuring
                        that your book transcends the ordinary and captivates readers' hearts and minds.

                    </p>

                </div>

            </div>

            <div class="col-sm-12 promot-bx-col">

                <div class="col-sm-offset-1 col-sm-3">

                    <div class="promote-box">

                        <div class="img-promote">

                            <img src="assets/images/ebok-prm-icon1.png">

                        </div>

                        <div class="promote-txt">

                            <h4>Custom</h4>

                            <p>Personalized work as per your requirements.</p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-3">

                    <div class="promote-box">

                        <div class="img-promote">

                            <img src="assets/images/ebok-prm-icon2.png">

                        </div>

                        <div class="promote-txt">

                            <h4>Revisions</h4>

                            <p>Unlimited revisions until you're satisfied.</p>

                        </div>

                    </div>

                </div>

                <!-- <div class="col-sm-3">

             <div class="promote-box">

              <div class="img-promote">

                <img src="assets/images/ebok-prm-icon3.png">

              </div>

              <div class="promote-txt">

                <h4>Copyrights</h4>

                <p>All copyrights for original bookwritten work transferred to you</p>

              </div>

            </div>

          </div>
-->
                <div class="col-sm-3">

                    <div class="promote-box">

                        <div class="img-promote">

                            <img src="assets/images/ebok-prm-icon4.png">

                        </div>

                        <div class="promote-txt">

                            <h4>Uniqueness</h4>

                            <p>Copyscape approved 100% unique work.</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>





<section id="writer-genre" class="genre-sec">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="hd-txt">

                    <h2 class="wow fadeInUp" data-wow-delay="500ms">GENRES WE SPECIALIZE IN</h2>

                    <p class="wow fadeInUp" data-wow-delay="600ms">Our custom eBook writers specialize in writing on the
                        following genres:



                    </p>

                </div>

            </div>

            <div class="col-sm-12">

                <div class="genre-box-st">

                    <ul class="ul-genre-first">

                        <li>



                            <div class="gnre-bx-f-1 card">

                                <img src="assets/images/genre/genre-icon-1.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-1-crd.png"></div>

                                <h4>Action & Adventure</h4>

                            </div>

                        </li>

                        <li>

                            <div class="gnre-bx-f-2 card">

                                <img src="assets/images/genre/genre-icon-2.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-2-crd.png"></div>

                                <h4>Drama</h4>

                            </div>

                        </li>

                        <li>

                            <div class="gnre-bx-f-3 card">

                                <img src="assets/images/genre/genre-icon-3.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-3-crd.png"></div>

                                <h4>Mystery</h4>

                            </div>

                        </li>

                    </ul>

                    <ul class="ul-genre-second">

                        <li>

                            <div class="gnre-bx-s-1 card">

                                <img src="assets/images/genre/genre-icon-4.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-4-crd.png"></div>

                                <h4>Children & Teens</h4>

                            </div>

                        </li>

                        <li>

                            <div class="gnre-bx-s-2 card">

                                <img src="assets/images/genre/genre-icon-5.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-5-crd.png"></div>

                                <h4>Health</h4>

                            </div>

                        </li>

                        <li>

                            <div class="gnre-bx-s-3 card">

                                <img src="assets/images/genre/genre-icon-6.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-6-crd.png"></div>

                                <h4>Romance</h4>

                            </div>

                        </li>

                    </ul>

                    <ul class="ul-genre-third">

                        <li>

                            <div class="gnre-bx-t-1 card">

                                <img src="assets/images/genre/genre-icon-7.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-7-crd.png"></div>

                                <h4>Comics</h4>

                            </div>

                        </li>

                        <li>

                            <div class="gnre-bx-t-2 card">

                                <img src="assets/images/genre/genre-icon-8.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-8-crd.png"></div>

                                <h4>History</h4>

                            </div>

                        </li>

                    </ul>

                    <ul class="ul-genre-fourth">

                        <li>

                            <div class="gnre-bx-fo-1 card">

                                <img src="assets/images/genre/genre-icon-9.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-9-crd.png"></div>

                                <h4>Dictionary</h4>

                            </div>

                        </li>

                        <li>

                            <div class="gnre-bx-fo-2 card">

                                <img src="assets/images/genre/genre-icon-10.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-10-crd.png"></div>

                                <h4>Horror</h4>

                            </div>

                        </li>

                        <li class="genre-li-fo-st-3">

                            <div class="gnre-bx-fo-3 card">

                                <img src="assets/images/genre/genre-icon-11.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-11-crd.png"></div>

                                <h4>Science Fiction</h4>

                            </div>

                        </li>

                        <li class="genre-li-fo-st-4">

                            <div class="gnre-bx-fo-4 card">

                                <img src="assets/images/genre/genre-icon-12.png">

                                <div class="side back"><img src="assets/images/genre/g-sec-12-crd.png"></div>

                                <h4>Travel</h4>

                            </div>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</section>





<section class="sec_portfolio services-portfolio ">

    <div class="container-fluid">

        <div class="row">

            <div class="hd-txt">

                <h2 class=" wow fadeInUp" data-wow-delay="500ms">OUR PORTFOLIO</h2>

                <p class=" wow fadeInUp" data-wow-delay="600ms">Check out some of our work that landed amongst the
                    bestsellers.</p>

            </div>

            <div class="services-port">

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInLeft">

                        <a href="assets/images/portfolio/t-1.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-1.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInLeft">

                        <a href="assets/images/portfolio/t-2.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-2.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInUp">

                        <a href="assets/images/portfolio/t-3.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-3.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInUp">

                        <a href="assets/images/portfolio/t-4.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-4.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInRight">

                        <a href="assets/images/portfolio/t-5.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-5.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>



                <div class="col-md-2">

                    <div class="resume_box box18 wow bounceInRight">

                        <a href="assets/images/portfolio/t-6.png" class="fancybox" rel="ligthbox">

                            <img src="assets/images/portfolio/t-6.png">

                            <div class="box-content">

                                <i class="fa fa-plus"></i>

                            </div>

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>


<section id="mrkt-services" class="mrkt-serv">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="hd-txt">

                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">WE HAVE CRAFTED 1000S OF <br> EBOOKS SINCE 2007
                    </h2>

                </div>

            </div>

            <div class="col-sm-12">

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-1.png">

                        </div>

                        <div class="markt-sev-txt">


                            <p>Delivering flawlessly formatted books across multiple publishing platforms since 2007.
                            </p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-6.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>Our eBooks seamlessly adapt to any smart device, ensuring compatibility for all readers.
                            </p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-3.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>Our customers have experienced substantial sales and increased profitability.</p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-4.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>We provide unlimited edits, tailoring each book precisely to our clients' instructions.
                            </p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-2.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>Receive a complimentary, beautifully designed eBook cover featuring your name.</p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="market-serv-box">

                        <div class="mrkt-icon-img">

                            <img src="assets/images/mrkt-icon-5.png">

                        </div>

                        <div class="markt-sev-txt">

                            <!-- <h4>Review Direct Program</h4> -->

                            <p>We guarantee timely delivery of work, prioritizing punctuality for our valued clients.

                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>



<section id="writer-edi-sec" class="wri-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInLeft" data-wow-delay="400ms">UNLEASH YOUR STORYTELLING POTENTIAL WITH
                            OUR PROVEN BOOK WRITING EXPERTISE!</h2>
                        <p class=" wow bounceInLeft" data-wow-delay="500ms">Ready to unleash your storytelling
                            potential? Harness the power of our proven book writing expertise and embark on your journey
                            as an author today!</p>
                    </div>
                    <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:844-387-1932 ">Toll Free <span>-</span>844-387-1932 </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
                        <img src="assets/images/wri-edi-simg.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="why-hire" class="why-sec-hire">
    <div class="types-of-videos">
        <div class="container">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms"> Why Choose Us? </h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">Online Book Writers is a leading eBook writing company
                    known for crafting captivating books that mesmerize readers. Following are some of the many reasons
                    why you should work with us: </p>
            </div>
            <div class="core-main">
                <div class="col-md-3"></div>
                <div class="col-md-4 core-left ">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                            <h2>Experienced Writers</h2>
                            <p>Our agency is home to highly professional and experienced writers proficient in different
                                writing genres with an impeccable track record of delivering premium content.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                            <h2>Customized Solutions</h2>
                            <p>We offer custom solutions to our clients to meet their needs and requirements. We take
                                time to comprehend our clients' needs and work closely to deliver the best results.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                            <h2>Timely Delivery</h2>
                            <p>We work around fast turnaround times as we understand the importance of timely delivery.
                                We strive to maintain efficiency in all our projects and ensure timely delivery.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 core-left right">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                            <h2>Affordable Pricing</h2>
                            <p>We have kept our prices affordable to make sure that the clients get value for their
                                money. We also have flexible pricing options to make our services available to all.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-4 core-disc no-padding-right">
                            <h2>Excellent Customer Service</h2>
                            <p>Our dedicated team of customer service representatives is available round-the-clock to
                                attend to all your queries and concerns and ensure that you're fully satisfied.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-6 core-disc no-padding-right">
                            <h2>Quality Assurance</h2>
                            <p>The content is not just delivered to the client; it undergoes a rigorous quality
                                assurance process to ensure that it is of the highest quality and contains no errors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of ebookWriting; trackBy: trackByEbookWriting"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cta-section" class="cta-sec2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">Are You Ready to Become An Author?</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">Hire us today to become a celebrated author. </p>
                </div>
                <div class="cta-btn wow fadeInUp" data-wow-delay="550ms">
                    <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                    <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                </div>
                <div class="edit-call wow fadeInUp" data-wow-delay="550ms">
                    <a style="line-height: 25px;" href="tel:844-387-1932">Toll Free <span>-</span>844-387-1932</a><br>
                    <a href="/cdn-cgi/l/email-protection#4330222f2630030c2d2f2a2d26012c2c2814312a372631306d202c2e"
                        class=""><span class="__cf_email__"
                            data-cfemail="cebdafa2abbd8e81a0a2a7a0ab8ca1a1a599bca7baabbcbde0ada1a3">[email&#160;protected]</span></a>
                </div>
            </div>
        </div>
    </div>
</section>