<app-banner [pagename]="pname"></app-banner>
<section class="banner-sec book-video serv-bnr-st" id="bnr-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
                    <h2>BOOK TRAILER SERVICES</h2>
                    <h3>FROM PAGES TO MOTION <br> TRAILERIZE YOUR BOOK</h3>
                    <p>Lights, camera, books! Discover the magic of book trailers.</p>
                    <div class="bnr-btn">
                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="satisfied-sec" class="satify-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/images/logo-img-client.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="promote-book" class="promote-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-col-rem">
                <div class="col-sm-5">

                    <div class="box18 wow bounceInLeft">
                        <div class="bok-vid-side ">
                            <a href="https://www.youtube.com/embed/xpICpbGWzU8" class="fancybox" rel="ligthbox">
                                <img src="assets/images/book-video-side-img.jpg">
                                <div class="box-content">
                                    <img src="assets/images/play-icon-gren.png">
                                </div>
                            </a>
                        </div>

                    </div>
                    <!--  <div class="bok-vid-side">
              <img src="assets/images/book-video-side-img.jpg">
            </div> -->
                </div>
                <div class="col-sm-7">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInRight">IGNITE CURIOSITY WITH A COMPELLING BOOK VIDEO TRAILER</h2>
                        <h5 class=" wow bounceInRight">Captivate readers from the first frame with our compelling video
                            trailers for your book. Ignite curiosity and draw them into your story with cinematic
                            visuals and enticing snippets that leave them hungry for more.
                            Our expert team crafts each trailer with precision, carefully selecting key moments,
                            gripping dialogue, and breathtaking imagery showcasing your book's essence. Through the
                            power of music and evocative narration, we create an immersive experience that resonates
                            with viewers on an emotional level.

                        </h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 promot-bx-col">
                <div class="col-sm-3">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/vidbok-prm-icon1.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Video Quality</h4>
                            <p>Boast movie-level quality, perfectly tailored to your budgetary needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/vidbok-prm-icon2.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Animation Experts</h4>
                            <p>Craft an exceptional book trailer that showcases the essence of your work.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/vidbok-prm-icon3.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Engaging and Immersive</h4>
                            <p>Deliver a captivating experience that deeply engages viewers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/vidbok-prm-icon4.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Endless Iterations</h4>
                            <p>Enjoy the flexibility of unlimited revisions until you are fully satisfied.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pricing-sec" class="price-sec new-priicng-st-srv">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">Services & Pricing</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Standard</h3>
                            <ul class="audio-books-pricing">
                                <li> Research by our team of creative designers’ to provide maximum different designs.
                                </li>
                                <li> Professional typesetting. </li>
                                <li> Collaborative work of our team and client</li>
                            </ul>
                            <h2>$599.00</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="popUpBtn btn-sts livcht-btn">Request
                                a Quote</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Premium</h3>
                            <ul class="audio-books-pricing">
                                <li> Extensive research by our team of creative designers’ to provide maximum different
                                    designs and concepts.</li>
                                <li> Unique and pioneering cover design. </li>
                                <li> Professional and organized typesetting, skillfully achieved result.</li>
                                <li>Collaborative work of our team and client.</li>
                            </ul>
                            <h2>$999.00</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="popUpBtn btn-sts livcht-btn">Request
                                a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ebook-portfolio" class="ebok-port">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="400ms">Ebook Portfolio</h2>
                    <p class=" wow fadeInUp" data-wow-delay="500ms">There may be a plethora of reasons causing obstacles
                        between you and the achievement of your dream.</p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-7 col-pd-rm-port">
                    <div class="col-sm-12 col-pd-rm-port ebk-port-1">
                        <div class="box18 wow bounceIn">
                            <div class="bok-vid-side ">
                                <a href="https://www.youtube.com/embed/mzSzHpTGYbQ" class="fancybox" rel="ligthbox">
                                    <img class="ebk-img-p" src="assets/images/ebook-port/port-1.png">
                                    <div class="box-content">
                                        <img src="assets/images/play-icon-gren.png">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-pd-rm-port ">
                        <div class="col-sm-12 col-pd-rm-port ebk-port-2">
                            <div class="box18 wow bounceIn">
                                <div class="bok-vid-side ">
                                    <a href="https://www.youtube.com/embed/J08MnhD0if4" class="fancybox" rel="ligthbox">
                                        <img class="ebk-img-p" src="assets/images/ebook-port/port-2.png">
                                        <div class="box-content">
                                            <img src="assets/images/play-icon-gren.png">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-pd-rm-port ebk-port-3">
                            <div class="box18 wow bounceIn">
                                <div class="bok-vid-side ">
                                    <a href="https://www.youtube.com/embed/GZlXaoh_8y8" class="fancybox" rel="ligthbox">
                                        <img class="ebk-img-p" src="assets/images/ebook-port/port-3.png">
                                        <div class="box-content">
                                            <img src="assets/images/play-icon-gren.png">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-pd-rm-port ebk-port-4">
                        <div class="box18 wow bounceIn">
                            <div class="bok-vid-side ">
                                <a href="https://www.youtube.com/embed/KsmELwsv31M" class="fancybox" rel="ligthbox">
                                    <img class="ebk-img-p" src="assets/images/ebook-port/port-4.png">
                                    <div class="box-content">
                                        <img src="assets/images/play-icon-gren.png">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-pd-rm-port">
                    <div class="col-sm-12 col-pd-rm-port ebk-port-5">
                        <div class="box18 wow bounceIn">
                            <div class="bok-vid-side ">
                                <a href="https://www.youtube.com/embed/eU9zf3iinYc" class="fancybox" rel="ligthbox">
                                    <img class="ebk-img-p" src="assets/images/ebook-port/port-5.png">
                                    <div class="box-content">
                                        <img src="assets/images/play-icon-gren.png">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-pd-rm-port ebk-port-6">
                        <div class="box18 wow bounceIn">
                            <div class="bok-vid-side ">
                                <a href="https://www.youtube.com/embed/Ba35JJ5z4Ew" class="fancybox" rel="ligthbox">
                                    <img class="ebk-img-p" src="assets/images/ebook-port/port-6.png">
                                    <div class="box-content">
                                        <img src="assets/images/play-icon-gren.png">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-pd-rm-port ebk-port-7">
                        <div class="box18 wow bounceIn">
                            <div class="bok-vid-side ">
                                <a href="https://www.youtube.com/embed/C8p9gK1Q6eE" class="fancybox" rel="ligthbox">
                                    <img class="ebk-img-p" src="assets/images/ebook-port/port-7.png">
                                    <div class="box-content">
                                        <img src="assets/images/play-icon-gren.png">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="what-get" class="what-gt-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="400ms">WHAT A BOOK TRAILER CAN DO FOR YOU</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Increased Book Visibility</h4>
                                <p>Grab attention with a visually compelling trailer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Enhanced Reader Engagement</h4>
                                <p>Ignite curiosity and captivate readers from the start.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Emotional Connection</h4>
                                <p>Evoke powerful emotions that resonate with viewers.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Memorable Impressions</h4>
                                <p>Leave a lasting impact on viewers' minds.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Expanded Audience Reach</h4>
                                <p>Attract a broader audience through visual storytelling.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Social Media Buzz</h4>
                                <p>Generate excitement and shares on various platforms.


                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Higher Book Sales</h4>
                                <p>Drive conversions and boost book purchase rates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="what-gt-box">
                            <div class="what-gt-icon">
                                <img src="assets/images/trust-star-icon.png">
                            </div>
                            <div class="what-gt-txt">
                                <h4>Professional Branding</h4>
                                <p>Establish a polished and professional image for your book.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="writer-edi-sec" class="wri-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInLeft" data-wow-delay="400ms">WATCH YOUR READERSHIP SOAR WITH
                            PROFESSIONAL VIDEO TRAILERS FOR YOUR BOOK</h2>
                        <p class=" wow bounceInLeft" data-wow-delay="500ms">Let your words come alive on the screen and
                            drive readers to dive into the pages of your captivating book. </p>
                    </div>
                    <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:(254) 500-3042 ">Toll Free <span>-</span>(254) 500-3042 </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
                        <img src="assets/images/wri-edi-simg.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<<section id="why-hire" class="why-sec-hire">
    <div class="types-of-videos">
        <div class="container">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms"> Why Choose Us? </h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">Following are some of the many reasons why you should
                    work with our book trailer video agency:</p>
            </div>
            <div class="core-main">
                <!-- <div class="col-md-4 core-img-center no-padding">
         <div class="bg_circle"> <img src="assets/images/resume/resume_types_01.jpg" alt=""> </div>
         
         </div>
         
         -->
                <div class="col-md-3"></div>
                <div class="col-md-4 core-left ">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                            <h2>Expertise</h2>
                            <p>Industry-leading professionals ensure top-notch quality and innovative solutions for your
                                book promotion.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                            <h2>Customization</h2>
                            <p>Tailored services to match your specific needs, delivering personalized and impactful
                                book video trailers.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                            <h2>Timely Delivery</h2>
                            <p>Prompt and efficient execution, meeting deadlines without compromising on the quality of
                                our work.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 core-left right">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                            <h2>Affordable Pricing</h2>
                            <p>Competitive rates that fit your budget, providing exceptional value for your investment.
                            </p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-4 core-disc no-padding-right">
                            <h2>Customer Satisfaction</h2>
                            <p>Dedicated to exceeding your expectations with unlimited revisions and a commitment to
                                your happiness.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-6 core-disc no-padding-right">
                            <h2>Proven Track Record</h2>
                            <p>Trusted by numerous authors, our successful projects speak for themselves.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


    <section id="testimonial-sec" class="testi-sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="hd-txt">
                        <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                        <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers
                            become published authors. <br> Check out some of our clients' feedback: </p>
                    </div>
                    <div class="testi-slider">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                            (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem *ngFor="let slide of testomonial; trackBy: trackByTestomonial"
                                class="col-sm-12 slide">
                                <div class="testi-box">
                                    <img src="{{ slide.thumbnail }}" />
                                    <div class="testi-text">
                                        <h4>{{slide.title}}</h4>
                                        <p>
                                            {{slide.desciption}}
                                        </p>
                                        <div class="author-name">
                                            <div class="aut-nm">
                                                <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                    aria-hidden="true"></i><i class="fa fa-star"
                                                    aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <h5>{{slide.name}}</h5>
                                            </div>
                                            <div class="autor-trust">
                                                <img src="{{ slide.autorTrust }}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cta-section" class="cta-sec2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="hd-txt">
                        <h2 class="wow fadeInUp" data-wow-delay="400ms">GET YOUR BOOK TRAILER PRODUCED BY EXPERTS!</h2>
                        <p class="wow fadeInUp" data-wow-delay="500ms">Hire our book video trailer company and enthrall
                            readers through a dynamic book trailer.</p>
                    </div>
                    <div class="cta-btn wow fadeInUp" data-wow-delay="550ms">
                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                    </div>
                    <div class="edit-call wow fadeInUp" data-wow-delay="550ms">
                        <a style="line-height: 25px;" href="tel:(254) 500-3042">Toll Free
                            <span>-</span>(254) 500-3042</a><br>
                        <a href="/cdn-cgi/l/email-protection#90e3f1fcf5e3d0dffefcf9fef5d2fffffbc7e2f9e4f5e2e3bef3fffd"
                            class=""><span class="__cf_email__"
                                data-cfemail="d0a3b1bcb5a3909fbebcb9beb592bfbfbb87a2b9a4b5a2a3feb3bfbd">[email&#160;protected]</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>