<app-banner [pagename]="pname"></app-banner>

<section id="satisfied-sec" class="satify-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/images/logo-img-client.png" />
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services-section" class="serv-sec">
    <div class="container">
        <div class="hd-txt">
            <h2 class="wow fadeInUp" data-wow-delay="400ms">Our Services</h2>
            <p class="wow fadeInUp" data-wow-delay="500ms">
                Our all-encompassing eBook publishing service offers book writing, editing, cover design, publication,
                marketing, and book video trailers to bring your story to life and connect with your audience.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="serv-box wow fadeInLeft" data-wow-delay="400ms">
                    <div class="col-sm-4">
                        <div class="serv-img">
                            <img src="assets/images/serv-icon-1.png" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="serv-txt">
                            <h4>MANUSCRIPT CREATION</h4>
                            <p>We transform your ideas and vision into a compelling manuscript that captivates readers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serv-box">
                    <div class="col-sm-4">
                        <div class="serv-img">
                            <img src="assets/images/serv-icon-2.png" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="serv-txt">
                            <h4>CUSTOM COVER DESIGN</h4>
                            <p>We design tailored covers that align with your book's genre and style, captivating
                                potential readers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serv-box wow fadeInRight" data-wow-delay="400ms">
                    <div class="col-sm-4">
                        <div class="serv-img">
                            <img src="assets/images/serv-icon-3.png" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="serv-txt">
                            <h4>PROFESSIONAL EDITING</h4>
                            <p>Our skilled editors refine your book, ensuring a polished, error-free manuscript.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serv-box wow fadeInLeft" data-wow-delay="500ms">
                    <div class="col-sm-4">
                        <div class="serv-img">
                            <img src="assets/images/serv-icon-4.png" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="serv-txt">
                            <h4>SEAMLESS PUBLICATION</h4>
                            <p>We guide your book from manuscript to publication, making it accessible to a global
                                audience.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serv-box">
                    <div class="col-sm-4">
                        <div class="serv-img">
                            <img src="assets/images/serv-icon-5.png" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="serv-txt">
                            <h4>EFFECTIVE BOOK MARKETING</h4>
                            <p>Our marketing expertise helps you expand your readership and boost book sales.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serv-box wow fadeInRight" data-wow-delay="500ms">
                    <div class="col-sm-4">
                        <div class="serv-img">
                            <img src="assets/images/serv-icon-6.png" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="serv-txt">
                            <h4>ENGAGING BOOK VIDEO TRAILERS</h4>
                            <p>Our book trailers capture the essence of your story, enticing readers to explore further.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec_portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="hd-txt">
                <h2 class="wow fadeInUp" data-wow-delay="500ms">Our Portfolio</h2>
                <p class="wow fadeInUp" data-wow-delay="600ms">Check out some of our published works.</p>
            </div>
            <div class="resume_inner">
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInLeft">
                        <a href="assets/images/portfolio/t-1.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-1.png" />
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInLeft">
                        <a href="assets/images/portfolio/t-2.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-2.png" />
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInUp">
                        <a href="assets/images/portfolio/t-3.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-3.png" />
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInUp">
                        <a href="assets/images/portfolio/t-4.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-4.png" />
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInRight">
                        <a href="assets/images/portfolio/t-5.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-5.png" />
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInRight">
                        <a href="assets/images/portfolio/t-6.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-6.png" />
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="industry-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">Covering A Wide Range Of Genres</h2>
                </div>
                <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-tabs-horizontal">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab" aria-expanded="false">
                            <img src="assets/images/tab/icon-1.png" /> Action & Adventure
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab2" data-toggle="tab" aria-expanded="false">
                            <img src="assets/images/tab/icon-2.png" />Comics
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab3" data-toggle="tab" aria-expanded="false">
                            <img src="assets/images/tab/icon-3.png" />Dictionaries
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab4" data-toggle="tab" aria-expanded="false">
                            <img src="assets/images/tab/icon-4.png" />Drama
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab5" data-toggle="tab" aria-expanded="false">
                            <img src="assets/images/tab/icon-5.png" />Health
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab6" data-toggle="tab" aria-expanded="false">
                            <img src="assets/images/tab/icon-6.png" />Horror
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab7" data-toggle="tab" aria-expanded="false">
                            <img src="assets/images/tab/icon-7.png" />Romance
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab8" data-toggle="tab" aria-expanded="false">
                            <img src="assets/images/tab/icon-8.png" />Science Fiction
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab9" data-toggle="tab" aria-expanded="false">
                            <img src="assets/images/tab/icon-9.png" />Travel
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-bg-st">
        <div class="container">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="serv-box-tab">
                                <div class="hd-txt">
                                    <h2>ACTION & ADVENTURE</h2>
                                    <p>
                                        Immerse your readers in the excitement of action and adventure with a narrative
                                        that sparks their curiosity and sense of wonder. This highly sought-after genre
                                        appeals to a wide and diverse readership. At our ebook publishing service, we
                                        ensure that every aspect of your story captures the spirit of your thrilling
                                        narrative.
                                    </p>
                                </div>
                                <div class="bnr-btn"><a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get
                                        Started</a> <a href="javascript:;" onclick="setButtonURL();"
                                        class="btn-sts livcht-btn">Live Chat</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ser-tab-img">
                                <img src="assets/images/tab/tab-img-1.png" />
                                <img src="assets/images/tab/tab-img-2.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab2">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="serv-box-tab">
                                <div class="hd-txt">
                                    <h2>COMICS</h2>
                                    <p>
                                        Comics, renowned for their vibrant art and captivating narratives, enchant
                                        readers of all generations. Whether it's a comic book or a magazine, their
                                        distinctive fusion of visuals and storytelling maintains reader engagement from
                                        start to finish. At our ebook publishing service, our skilled team of writers
                                        and designers specializes in crafting the ideal comic book guaranteed to
                                        resonate with readers of all age groups.
                                    </p>
                                </div>
                                <div class="bnr-btn"><a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get
                                        Started</a> <a href="javascript:;" onclick="setButtonURL();"
                                        class="btn-sts livcht-btn">Live Chat</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ser-tab-img">
                                <img src="assets/images/home-tab-img/comic-1.png" />
                                <img src="assets/images/home-tab-img/comic-2.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab3">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="serv-box-tab">
                                <div class="hd-txt">
                                    <h2>DICTIONARIES</h2>
                                    <p>
                                        Provide your readers with an accessible dictionary meticulously created by our
                                        team of skilled writers. With their language expertise and meticulous attention
                                        to detail, our professionals guarantee that your dictionary is presented in a
                                        straightforward and concise manner, facilitating effortless comprehension and
                                        utilization for readers.
                                    </p>
                                </div>
                                <div class="bnr-btn"><a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get
                                        Started</a> <a href="javascript:;" onclick="setButtonURL();"
                                        class="btn-sts livcht-btn">Live Chat</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ser-tab-img">
                                <img src="assets/images/home-tab-img/dic-1.png" />
                                <img src="assets/images/home-tab-img/dic-2.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab4">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="serv-box-tab">
                                <div class="hd-txt">
                                    <h2>DRAMA</h2>
                                    <p>
                                        While drama literature falls under the realm of fiction, it's a genre that
                                        passionately explores genuine emotions and human experiences. Our ebook
                                        publishing service is dedicated to enhancing your story's essence by infusing it
                                        with genuine and poignant dialogues that connect with readers on a profound and
                                        intimate level.
                                    </p>
                                </div>
                                <div class="bnr-btn"><a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get
                                        Started</a> <a href="javascript:;" onclick="setButtonURL();"
                                        class="btn-sts livcht-btn">Live Chat</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ser-tab-img">
                                <img src="assets/images/home-tab-img/drama-1.png" />
                                <img src="assets/images/home-tab-img/drama-2.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab5">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="serv-box-tab">
                                <div class="hd-txt">
                                    <h2>HEALTH</h2>
                                    <p>
                                        The health genre holds tremendous importance, as readers rely on this
                                        information to address their daily health needs and medical inquiries. At our
                                        ebook publishing service, we have a team of skilled writers with backgrounds in
                                        medical and health sciences, guaranteeing that the content in your book is both
                                        credible and pertinent.
                                    </p>
                                </div>
                                <div class="bnr-btn"><a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get
                                        Started</a> <a href="javascript:;" onclick="setButtonURL();"
                                        class="btn-sts livcht-btn">Live Chat</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ser-tab-img">
                                <img src="assets/images/home-tab-img/health-1.png" />
                                <img src="assets/images/home-tab-img/health-2.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab6">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="serv-box-tab">
                                <div class="hd-txt">
                                    <h2>HORROR</h2>
                                    <p>
                                        Enhance your readers' literary journey with a hair-raising horror tale
                                        meticulously crafted by an accomplished and award-winning ghostwriter. The
                                        horror genre captivates readers of various tastes, and when combined with other
                                        niches, it has the potential to create a masterpiece worth savoring. Our team of
                                        skilled ebook publishing service experts specializes in delivering an unmatched
                                        horror reading experience that keeps readers gripped and enthralled.
                                    </p>
                                </div>
                                <div class="bnr-btn"><a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get
                                        Started</a> <a href="javascript:;" onclick="setButtonURL();"
                                        class="btn-sts livcht-btn">Live Chat</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ser-tab-img">
                                <img src="assets/images/home-tab-img/horror-1.png" />
                                <img src="assets/images/home-tab-img/horror-2.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab7">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="serv-box-tab">
                                <div class="hd-txt">
                                    <h2>ROMANCE</h2>
                                    <p>
                                        Indulge in the ideal combination of passion and sentiment through an enchanting
                                        romantic novel expertly authored by our team of accomplished ghostwriters. Our
                                        writers are dedicated to creating a romantic masterpiece that deeply connects
                                        with your audience. We will artfully infuse your narrative with relatable
                                        characters, compelling story arcs, and evocative descriptions that touch the
                                        hearts and minds of your readers.
                                    </p>
                                </div>
                                <div class="bnr-btn"><a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get
                                        Started</a> <a href="javascript:;" onclick="setButtonURL();"
                                        class="btn-sts livcht-btn">Live Chat</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ser-tab-img">
                                <img src="assets/images/home-tab-img/romance-1.png" />
                                <img src="assets/images/home-tab-img/romance-2.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab8">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="serv-box-tab">
                                <div class="hd-txt">
                                    <h2>SCIENCE FICTION</h2>
                                    <p>
                                        Embark on an enthralling journey into the intriguing and imaginative realm of
                                        science fiction with a book created by our skilled writers. This distinctive
                                        genre draws a diverse readership eager to delve into the cutting-edge
                                        developments in science and technology, fostering their creativity. You can rely
                                        on our ebook publishing service to produce a science fiction book that
                                        captivates your readers' intellects and expands their imaginations.
                                    </p>
                                </div>
                                <div class="bnr-btn"><a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get
                                        Started</a> <a href="javascript:;" onclick="setButtonURL();"
                                        class="btn-sts livcht-btn">Live Chat</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ser-tab-img">
                                <img src="assets/images/home-tab-img/science-1.png" />
                                <img src="assets/images/home-tab-img/science-2.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab9">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="serv-box-tab">
                                <div class="hd-txt">
                                    <h2>TRAVEL</h2>
                                    <p>
                                        Embark on an exciting and immersive adventure with a captivating travel
                                        narrative. A skillfully crafted travel ebook can span across multiple genres,
                                        resulting in an engaging and entertaining experience for your readers. We
                                        possess in-depth expertise in various destinations, guaranteeing that your book
                                        is enriched with vibrant details and compelling storytelling.
                                    </p>
                                </div>
                                <div class="bnr-btn"><a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get
                                        Started</a> <a href="javascript:;" onclick="setButtonURL();"
                                        class="btn-sts livcht-btn">Live Chat</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ser-tab-img"><img src="assets/images/home-tab-img/travel-1.png" /> <img
                                    src="assets/images/home-tab-img/travel-2.png" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="why-hire" class="why-sec-hire">
    <div class="types-of-videos">
        <div class="container">
            <div class="hd-txt">
                <h2 class="wow fadeInUp" data-wow-delay="500ms">Why Choose Us?</h2>
                <p class="wow fadeInUp" data-wow-delay="600ms">
                    Blue Whale Publishers serves as the comprehensive solution for all your ebook writing, publishing,
                    and marketing requirements. Here are several compelling reasons to select our services:
                </p>
            </div>
            <div class="core-main">
                <div class="col-md-3"></div>
                <div class="col-md-4 core-left">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                            <h2>EXPERIENCED WRITERS</h2>
                            <p>Our ebook publishing service boasts a team of highly professional and seasoned writers,
                                proficient in various writing genres, and with a proven track record of delivering
                                top-notch content.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                            <h2>CUSTOMIZED SOLUTIONS</h2>
                            <p>We provide tailor-made solutions to our clients, catering to their specific needs and
                                requirements. We take the time to fully understand our clients' needs and work closely
                                with them to deliver the best outcomes.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                            <h2>TIMELY DELIVERY</h2>
                            <p>We prioritize swift turnaround times, recognizing the significance of timely delivery.
                                Our commitment to efficiency ensures that we meet deadlines and deliver projects
                                promptly.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 core-left right">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                            <h2>AFFORDABLE PRICING</h2>
                            <p>We maintain competitive and accessible pricing to ensure that our clients receive
                                excellent value for their investments. We also offer flexible pricing options to
                                accommodate diverse budgets.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-4 core-disc no-padding-right">
                            <h2>EXCELLENT CUSTOMER SERVICE</h2>
                            <p>Our dedicated team of customer service representatives is available 24/7 to address all
                                your inquiries and concerns, ensuring your complete satisfaction.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-6 core-disc no-padding-right">
                            <h2>QUALITY ASSURANCE</h2>
                            <p>Our content doesn't just reach the client; it undergoes a rigorous quality assurance
                                process to guarantee the highest quality and error-free content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="writer-edi-sec" class="wri-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="hd-txt">
                        <h2 class="wow bounceInLeft" data-wow-delay="400ms">READY TO TRANSFORM YOUR MANUSCRIPT INTO A
                            MASTERPIECE? LET'S GET STARTED!</h2>
                        <p class="wow bounceInLeft" data-wow-delay="500ms">Reach out to us today and take the first step
                            toward becoming a published author.</p>
                    </div>
                    <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:844-387-1932 ">Toll Free <span>-</span>{{companyContact}} </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="edit-img wow bounceInRight" data-wow-delay="600ms">
                        <img src="assets/images/wri-edi-simg.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="process-sec" id="pro-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">Our Process</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="process-box active wow fadeInUp" data-wow-delay="400ms">
                        <div class="round-div"></div>
                        <h2>01</h2>
                        <h4>CONSULTATION</h4>
                        <p>We initiate the process with a consultation, where we engage with you to gain insights into
                            your ebook publishing goals, genre, and target audience. This consultation serves as the
                            foundation for creating a personalized plan aligned with your preferences and objectives.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="process-box wow fadeInUp" data-wow-delay="450ms">
                        <div class="round-div"></div>
                        <h2>02</h2>
                        <h4>WRITING</h4>
                        <p>Our team of seasoned writers collaborates closely with you to bring your creative vision to
                            fruition. Through a cooperative approach, we ensure that every aspect of your ebook aligns
                            seamlessly with your vision and preferences.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="process-box wow fadeInUp" data-wow-delay="500ms">
                        <div class="round-div"></div>
                        <h2>03</h2>
                        <h4>EDITING</h4>
                        <p>
                            Upon completion of the writing phase, our expert editors meticulously review your
                            manuscript. Their objective is to eliminate errors and refine your content, upholding the
                            highest standards of quality. Our rigorous editing process ensures your ebook is flawless.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="process-box pr-bx-4 wow fadeInUp" data-wow-delay="550ms">
                        <div class="round-div"></div>
                        <h2>04</h2>
                        <h4>PUBLISHING</h4>
                        <p>Our dedicated team will assist you throughout the ebook publishing process, offering guidance
                            on the most suitable publishing options for your book. We provide comprehensive support to
                            help you successfully publish your ebook.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">CLIENT TESTIMONIALS</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">
                        Discover what our clients have to say about their experiences with us. We've supported numerous
                        aspiring writers in their journey to becoming published authors. Explore the feedback from some
                        of our satisfied clients:
                    </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of clientTestomonials; trackBy: trackByClientsTestomonial"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cta-section" class="cta-sec2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">Aspiring to Be an Author?</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">Take the first step towards your aspiration of
                        becoming a bestselling author by hiring us today.</p>
                </div>
                <div class="cta-btn wow fadeInUp" data-wow-delay="550ms">
                    <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                    <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                </div>
                <div class="edit-call wow fadeInUp" data-wow-delay="550ms">
                    <a style="line-height: 25px;" href="tel:844-387-1932">Toll Free
                        <span>-</span>{{companyContact}}</a><br />
                    <a href="cdn-cgi/l/email-protection.html#bbc8dad7dec8fbf4d5d7d2d5def9d4d4d0ecc9d2cfdec9c895d8d4d6"
                        class="">
                        <span class="__cf_email__"
                            data-cfemail="aad9cbc6cfd9eae5c4c6c3c4cfe8c5c5c1fdd8c3decfd8d984c9c5c7">[email&#160;protected]</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>