<app-banner [pagename]="pname"></app-banner>



<section class="banner-sec book-ebook serv-bnr-st" id="bnr-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
                    <h2>AUDIO BOOK SERVICES</h2>
                    <h3>GIVE YOUR WORDS A VOICE</h3>
                    <p>Turn your words into a captivating audio experience with the best audio book company. </p>
                    <div class="bnr-btn">
                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="satisfied-sec" class="satify-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/images/logo-img-client.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="distribute-markting" class="marketing-dis">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 text-center">
                    <div class="lft-col-mrkt text-center">
                        <div class="hd-txt">
                            <h2 class="wow fadeInLeft text-center" data-wow-delay="500ms">WE’LL HELP YOUR STORY SOAR IN
                                SOUND</h2>
                            <p class="wow fadeInLeft text-center" data-wow-delay="550ms">Whether you're an aspiring
                                author or a seasoned writer, we'll bring your book to life in a whole new way. Our team
                                of talented narrators and audio engineers are ready to transform your written
                                masterpiece into an immersive audio journey.</p>
                        </div>
                        <div class="bnr-btn  wow fadeInLeft" data-wow-delay="600ms">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="#" class="btn-sts livcht-btn ">Live Chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="promote-book" class="promote-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-col-rem">
                <div class="hd-txt text-center">
                    <h2 class=" wow fadeInUp text-center" data-wow-delay="500ms">EXPAND YOUR REACH, ENCHANT THEIR SENSES
                    </h2>
                    <p class=" wow fadeInUp text-center" data-wow-delay="600ms">Imagine your readers experiencing your
                        book on long drives, during workouts, or while relaxing at home. With our online audio books
                        service, your words can now reach a wider audience and captivate them through the power of
                        sound.
                        <br><br>
                        We handle everything from professional narration to seamless audio production, delivering a
                        high-quality finished product that meets industry standards.

                    </p>
                </div>
            </div>
            <div class="col-sm-12 promot-bx-col">
                <div class="col-sm-3">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/ebok-prm-icon1.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Professional Narration</h4>
                            <p>Captivating voices and skilled storytelling techniques.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/ebok-prm-icon2.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Immersive Audio Experience</h4>
                            <p>An immersive audio journey that engages listeners.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/ebok-prm-icon3.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Enhanced Storytelling</h4>
                            <p>Infuse emotions, character nuances, and dramatic effects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="promote-box">
                        <div class="img-promote">
                            <img src="assets/images/ebok-prm-icon4.png">
                        </div>
                        <div class="promote-txt">
                            <h4>Accessible and Engaging</h4>
                            <p>Allow listeners to enjoy your story anytime, anywhere.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="pricing-sec" class="price-sec new-priicng-st-srv">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">Services & Pricing</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Standard</h3>
                            <ul class="audio-books-pricing">
                                <li> Research by our team of creative designers’ to provide maximum different designs.
                                </li>
                                <li> Professional typesetting. </li>
                                <li> Collaborative work of our team and client</li>
                            </ul>
                            <h2>$599.00</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="popUpBtn btn-sts livcht-btn">Request
                                a Quote</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Premium</h3>
                            <ul class="audio-books-pricing">
                                <li> Extensive research by our team of creative designers’ to provide maximum different
                                    designs and concepts.</li>
                                <li> Unique and pioneering cover design. </li>
                                <li> Professional and organized typesetting, skillfully achieved result.</li>
                                <li>Collaborative work of our team and client.</li>
                            </ul>
                            <h2>$999.00</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="popUpBtn btn-sts livcht-btn">Request
                                a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="writer-genre" class="genre-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="500ms">Audiobook Genres</h2>
                    <p class="wow fadeInUp" data-wow-delay="600ms">We create impeccable audiobooks in a multitude of
                        genres</p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="genre-box-st">
                    <ul class="ul-genre-first">
                        <li>

                            <div class="gnre-bx-f-1 card">
                                <img src="assets/images/genre/genre-icon-1.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-1-crd.png"></div>
                                <h4>Action & Adventure</h4>
                            </div>
                        </li>
                        <li>
                            <div class="gnre-bx-f-2 card">
                                <img src="assets/images/genre/genre-icon-2.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-2-crd.png"></div>
                                <h4>Drama</h4>
                            </div>
                        </li>
                        <li>
                            <div class="gnre-bx-f-3 card">
                                <img src="assets/images/genre/genre-icon-3.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-3-crd.png"></div>
                                <h4>Mystery</h4>
                            </div>
                        </li>
                    </ul>
                    <ul class="ul-genre-second">
                        <li>
                            <div class="gnre-bx-s-1 card">
                                <img src="assets/images/genre/genre-icon-4.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-4-crd.png"></div>
                                <h4>Children & Teens</h4>
                            </div>
                        </li>
                        <li>
                            <div class="gnre-bx-s-2 card">
                                <img src="assets/images/genre/genre-icon-5.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-5-crd.png"></div>
                                <h4>Health</h4>
                            </div>
                        </li>
                        <li>
                            <div class="gnre-bx-s-3 card">
                                <img src="assets/images/genre/genre-icon-6.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-6-crd.png"></div>
                                <h4>Romance</h4>
                            </div>
                        </li>
                    </ul>
                    <ul class="ul-genre-third">
                        <li>
                            <div class="gnre-bx-t-1 card">
                                <img src="assets/images/genre/genre-icon-7.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-7-crd.png"></div>
                                <h4>Comics</h4>
                            </div>
                        </li>
                        <li>
                            <div class="gnre-bx-t-2 card">
                                <img src="assets/images/genre/genre-icon-8.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-8-crd.png"></div>
                                <h4>History</h4>
                            </div>
                        </li>
                    </ul>
                    <ul class="ul-genre-fourth">
                        <li>
                            <div class="gnre-bx-fo-1 card">
                                <img src="assets/images/genre/genre-icon-9.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-9-crd.png"></div>
                                <h4>Dictionary</h4>
                            </div>
                        </li>
                        <li>
                            <div class="gnre-bx-fo-2 card">
                                <img src="assets/images/genre/genre-icon-10.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-10-crd.png"></div>
                                <h4>Horror</h4>
                            </div>
                        </li>
                        <li class="genre-li-fo-st-3">
                            <div class="gnre-bx-fo-3 card">
                                <img src="assets/images/genre/genre-icon-11.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-11-crd.png"></div>
                                <h4>Science Fiction</h4>
                            </div>
                        </li>
                        <li class="genre-li-fo-st-4">
                            <div class="gnre-bx-fo-4 card">
                                <img src="assets/images/genre/genre-icon-12.png">
                                <div class="side back"><img src="assets/images/genre/g-sec-12-crd.png"></div>
                                <h4>Travel</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec_portfolio services-portfolio ">
    <div class="container-fluid">
        <div class="row">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms">AUDIOBOOK PORTFOLIO</h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">Check out some of the audiobooks we have worked on.</p>
            </div>
            <div class="services-port">
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInLeft">
                        <a href="assets/images/portfolio/t-1.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-1.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInLeft">
                        <a href="assets/images/portfolio/t-2.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-2.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInUp">
                        <a href="assets/images/portfolio/t-3.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-3.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInUp">
                        <a href="assets/images/portfolio/t-4.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-4.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInRight">
                        <a href="assets/images/portfolio/t-5.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-5.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInRight">
                        <a href="assets/images/portfolio/t-6.png" class="fancybox" rel="ligthbox">
                            <img src="assets/images/portfolio/t-6.png">
                            <div class="box-content">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- <div class="slider-bnt-st">
              <a href="#" class="btn-sts strd-btn">View More</a>
            </div> -->

        </div>
    </div>
</section>

<section id="mrkt-services" class="mrkt-serv">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">HOW AN AUDIOBOOK CAN HELP YOU</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-1.png">
                        </div>
                        <div class="markt-sev-txt">
                            <!-- <h4>Review Direct Program</h4> -->
                            <p>Reach new listeners and broaden your reader base.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-6.png">
                        </div>
                        <div class="markt-sev-txt">
                            <!-- <h4>Review Direct Program</h4> -->
                            <p>Reach new listeners and broaden your reader base.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-3.png">
                        </div>
                        <div class="markt-sev-txt">
                            <!-- <h4>Review Direct Program</h4> -->
                            <p>Reach new listeners and broaden your reader base.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-4.png">
                        </div>
                        <div class="markt-sev-txt">
                            <!-- <h4>Review Direct Program</h4> -->
                            <p>Make your story accessible to visually impaired individuals.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-2.png">
                        </div>
                        <div class="markt-sev-txt">
                            <!-- <h4>Review Direct Program</h4> -->
                            <p>Tap into the growing audiobook market for additional revenue.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/mrkt-icon-5.png">
                        </div>
                        <div class="markt-sev-txt">
                            <!-- <h4>Review Direct Program</h4> -->
                            <p>Stand out with a professional audiobook version of your work.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="writer-edi-sec" class="wri-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInLeft" data-wow-delay="400ms">LET YOUR BOOK BE HEARD!</h2>
                        <p class=" wow bounceInLeft" data-wow-delay="500ms">Turn your masterpiece into a captivating
                            audio book with our expert narration.</p>
                    </div>
                    <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:844-387-1932 ">Toll Free <span>-</span>844-387-1932 </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
                        <img src="assets/images/wri-edi-simg.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="why-hire" class="why-sec-hire">
    <div class="types-of-videos">
        <div class="container">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms"> Why Choose Us? </h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">Here’s why you need to choose Online Book Writers to
                    convert your books into online audio books:</p>
            </div>
            <div class="core-main">
                <!-- <div class="col-md-4 core-img-center no-padding">
         <div class="bg_circle"> <img src="assets/images/resume/resume_types_01.jpg" alt=""> </div>
         
         </div>
         
         -->
                <div class="col-md-3"></div>
                <div class="col-md-4 core-left ">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                            <h2>Professional Excellence</h2>
                            <p>Our team delivers exceptional quality, ensuring your book is transformed into a top-tier
                                audio experience.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                            <h2>Personalized Approach</h2>
                            <p>We tailor our services to capture the essence of your unique story, reflecting your
                                vision and style.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                            <h2>Experienced Narrators</h2>
                            <p>Our skilled narrators bring depth, emotion, and authenticity to every word, enhancing the
                                listener's experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 core-left right">
                    <div class="core-details wow bounceIn">
                        <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                            <h2>Seamless Production</h2>
                            <p>We handle the entire process, from recording to editing, ensuring a smooth and
                                professional audiobook production.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-4 core-disc no-padding-right">
                            <h2>Timely Delivery</h2>
                            <p>We understand your deadlines and work efficiently to deliver your completed audiobook on
                                schedule.</p>
                        </div>
                    </div>
                    <div class="core-details wow bounceIn" id="animations">
                        <div class="col-md-12 core-num-6 core-disc no-padding-right">
                            <h2>Competitive Pricing</h2>
                            <p>Our affordable rates ensure you receive outstanding value for your investment in bringing
                                your book to life.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of testomonial; trackBy: trackByTestomonial"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cta-section" class="cta-sec2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">HIRE US TODAY</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We offer the best audio books service in town!!</p>
                </div>
                <div class="cta-btn wow fadeInUp" data-wow-delay="550ms">
                    <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                    <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                </div>
                <div class="edit-call wow fadeInUp" data-wow-delay="550ms">
                    <a style="line-height: 25px;" href="tel:844-387-1932">Toll Free <span>-</span>844-387-1932</a><br>
                    <a href="/cdn-cgi/l/email-protection#c4b7a5a8a1b7848baaa8adaaa186ababaf93b6adb0a1b6b7eaa7aba9"
                        class=""><span class="__cf_email__"
                            data-cfemail="384b59545d4b7877565451565d7a5757536f4a514c5d4a4b165b5755">[email&#160;protected]</span></a>
                </div>
            </div>
        </div>
    </div>
</section>