<app-banner [pagename]="pname"></app-banner>

<section id="satisfied-sec" class="satify-sec">
 <div class="container">
   <div class="row">
     <div class="col-sm-12">
      <div class="client-logo wow fadeInUp" data-wow-delay="300ms">
       <img src="assets/images/logo-img-client.png">
      </div>
     </div>
   </div>
 </div>
</section>

<section id="testimonials-sec" class="testis-sec">
 <div class="container">
   <div class="row">
     <div class="col-sm-12">
       <div class="hd-txt">
         <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
         <p class="wow fadeInUp" data-wow-delay="500ms">Discover what our clients have to say about their experiences with us. We've supported numerous aspiring writers in their journey to becoming published authors. Explore the feedback from some of our satisfied clients.</p>
       </div>
     </div>
     <div class="col-sm-12">
       <div class="col-sm-6">
         <div class="testi-box wow fadeInUp" data-wow-delay="400ms">
           <img class="testi-cl-img" src="assets/images/testi-img1.png">
           <div class="testi-text">
             <h4>Compelling Ghostwriting</h4>
                 <p>Blue Whale Publishers brilliantly transformed my raw ideas into a captivating story. Kudos to their talented team for making my once-distant dream a vivid reality!</p>
             <div class="author-name">
               <div class="aut-nm">
                 <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                 <h5>Sarah Thompson - Author</h5>
               </div> 
               <div class="autor-trust">
                 <img src="assets/images/trust-img.png">
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-sm-6">
         <div class="testi-box wow fadeInUp" data-wow-delay="400ms">
           <img class="testi-cl-img" src="assets/images/testi-img2.png">
           <div class="testi-text">
             <h4>Exemplary Editing</h4>
                 <p> Thanks to the Blue Whale Publishers team, my manuscript now gleams with excellence. Their meticulous work has elevated my writing to new heights. </p>
             <div class="author-name">
               <div class="aut-nm">
                 <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                 <h5>John Mitchell - Author</h5>
               </div> 
               <div class="autor-trust">
                 <img src="assets/images/trust-img.png">
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-sm-6">
         <div class="testi-box wow">
           <img class="testi-cl-img" src="assets/images/testi-img3.png">
           <div class="testi-text">
              <h4>Stress-Free Publishing</h4>
                 <p> Blue Whale Publishers's publishing service went beyond my expectations. They orchestrated a smooth, stress-free process that I wholeheartedly recommend to fellow authors.</p>
             <div class="author-name">
               <div class="aut-nm">
                 <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                 <h5>Emily Davis - Author</h5>
               </div> 
               <div class="autor-trust">
                 <img src="assets/images/trust-img.png">
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-sm-6">
         <div class="testi-box wow ">
           <img class="testi-cl-img" src="assets/images/testi-img4.png">
           <div class="testi-text">
             <h4>Effective Book Marketing</h4>
                 <p>I owe the success of my book's reach to Blue Whale Publishers. Their marketing expertise granted my work the exposure it required, broadening its audience.</p>
             <div class="author-name">
               <div class="aut-nm">
                 <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                 <h5>David Rodriguez – Author</h5>
               </div> 
               <div class="autor-trust">
                 <img src="assets/images/trust-img.png">
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-sm-6 blogBox moreBoxthree">
         <div class="testi-box ">
           <img class="testi-cl-img" src="assets/images/t-44.png">
           <div class="testi-text">
             <h4>Stunning Cover Design</h4>
             <p>Blue Whale Publishers's cover design service exceeded my wildest hopes, giving my book a visual identity that truly stands out. Their creativity knows no bounds!</p>
             <div class="author-name">
               <div class="aut-nm">
                 <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                 <h5>Emma Turner  – Author</h5>
               </div> 
               <div class="autor-trust">
                 <img src="assets/images/awards-winning-img5.png">
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-sm-6 blogBox moreBoxthree">
         <div class="testi-box ">
           <img class="testi-cl-img" src="assets/images/science-11.png">
           <div class="testi-text">
             <h4>Engaging Video Trailers</h4>
             <p>The book video trailer created by Blue Whale Publishers breathed life into my story. It's an engaging masterpiece that irresistibly draws readers into my narrative.</p>
             <div class="author-name">
               <div class="aut-nm">
                 <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                 <h5>Michael Harris – Author</h5>
               </div> 
               <div class="autor-trust">
                 <img src="assets/images/awards-winning-img5.png">
               </div>
             </div>
           </div>
         </div>
       </div>
       
     </div>
     <div class="col-sm-12">
       <div class="slider-bnt-st tesi-monials">
         <a href="javascript:;" id="loadMore" class="btn-sts strd-btn">View More</a>
       </div>
     </div>

   </div>
 </div>
 
</section>


 <section id="writer-edi-sec" class="wri-sec">
   <div class="container">
     <div class="row">
       <div class="col-sm-12">
         <div class="col-sm-8">
           <div class="hd-txt">
             <h2 class=" wow bounceInLeft" data-wow-delay="400ms">READY TO TRANSFORM YOUR MANUSCRIPT INTO A MASTERPIECE? LET'S GET STARTED!</h2>
             <p class=" wow bounceInLeft" data-wow-delay="500ms">Reach out to us today and take the first step toward becoming a published author.</p>
           </div>
           <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
             <div class="bnr-btn">
               <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
               <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
             </div>
             <div class="edit-call">
               <a href="tel:844-387-1932 ">Toll Free <span>-</span>844-387-1932 </a>
             </div>
           </div>
         </div>
         <div class="col-sm-4">
           <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
             <img src="assets/images/wri-edi-simg.png">
           </div>
         </div>
       </div>
     </div>
   </div>
</section>      
<section id="why-hire" class="why-sec-hire">
<div class="types-of-videos">
<div class="container">
  <div class="hd-txt">
     <h2 class=" wow fadeInUp" data-wow-delay="500ms"> Why Choose Us? </h2>
     <p class=" wow fadeInUp" data-wow-delay="600ms" >Blue Whale Publishers serves as the comprehensive solution for all your ebook writing, publishing, and marketing requirements. Here are several compelling reasons to select our services:</p>
  </div>
  <div class="core-main">    
     <div class="col-md-3"></div>
     <div class="col-md-4 core-left ">
        <div class="core-details wow bounceIn">
           <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
              <h2>EXPERIENCED WRITERS</h2>
              <p>Our ebook publishing service boasts a team of highly professional and seasoned writers, proficient in various writing genres, and with a proven track record of delivering top-notch content. </p>
           </div>
        </div>
        <div class="core-details wow bounceIn">
           <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
              <h2>CUSTOMIZED SOLUTIONS</h2>
              <p>We provide tailor-made solutions to our clients, catering to their specific needs and requirements. We take the time to fully understand our clients' needs and work closely with them to deliver the best outcomes </p>
           </div>
        </div>
        <div class="core-details wow bounceIn">
           <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
              <h2>TIMELY DELIVERY</h2>
              <p>We prioritize swift turnaround times, recognizing the significance of timely delivery. Our commitment to efficiency ensures that we meet deadlines and deliver projects promptly.</p>
           </div>
        </div>
     </div>
     <div class="col-md-4 core-left right">
        <div class="core-details wow bounceIn">
           <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
              <h2>AFFORDABLE PRICING</h2>
              <p>We maintain competitive and accessible pricing to ensure that our clients receive excellent value for their investments. We also offer flexible pricing options to accommodate diverse budgets.</p>
           </div>
        </div>
        <div class="core-details wow bounceIn" id="animations">
           <div class="col-md-12 core-num-4 core-disc no-padding-right">
              <h2>EXCELLENT CUSTOMER SERVICE</h2>
              <p>Our dedicated team of customer service representatives is available 24/7 to address all your inquiries and concerns, ensuring your complete satisfaction.</p>
           </div>
        </div>
        <div class="core-details wow bounceIn" id="animations">
           <div class="col-md-12 core-num-6 core-disc no-padding-right">
              <h2>QUALITY ASSURANCE</h2>
              <p>Our content doesn't just reach the client; it undergoes a rigorous quality assurance process to guarantee the highest quality and error-free content.</p>
           </div>
        </div>
     </div>
  </div>
</div>
</div>
</section>





<!-- <section id="testimonial-sec" class="testi-sec">
<div class="container">
<div class="row">
  <div class="col-sm-12">
     <div class="hd-txt">
        <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
        <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become published authors. <br> Check out some of our clients' feedback: </p>
     </div>
     <div class="testi-slider">
        <div>
           <div class="col-sm-12">
              <div class="testi-box">
                 <img src="assets/images/testi-img1.png">
                 <div class="testi-text">
                    <h4>Magnificent Work!!</h4>
                    <p>I had an amazing experience working with team Online Book Writers. Everything was smooth and seamless from the initial consultation to the final product. The writers brought my story to life in a way that I never thought possible. Highly recommended!</p>
                    <div class="author-name">
                       <div class="aut-nm">
                          <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                          <h5>Rema Larrison</h5>
                       </div>
                       <div class="autor-trust">
                          <img src="assets/images/trust-img.png">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div>
           <div class="col-sm-12">
              <div class="testi-box">
                 <img src="assets/images/testi-img2.png">
                 <div class="testi-text">
                    <h4 >Flawless Editing Services</h4>
                    <p>The cover design service at this agency is top-notch. The designers truly captured the essence of my book and created a cover that is not only visually stunning but also perfectly represents the content inside.</p>
                    <div class="author-name">
                       <div class="aut-nm">
                          <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                          <h5>Hailey Francis</h5>
                       </div>
                       <div class="autor-trust">
                          <img src="assets/images/trust-img.png">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div>
           <div class="col-sm-12">
              <div class="testi-box">
                 <img src="assets/images/testi-img3.png">
                 <div class="testi-text">
                    <h4>The best book Publishing</h4>
                    <p>Thanks to the book marketing services offered by this agency, my book received the attention it deserved. Their targeted approach helped to get my book in front of the right audience and generate buzz. Couldn't be happier with the results.</p>
                    <div class="author-name">
                       <div class="aut-nm">
                          <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                          <h5>Robert Tyler</h5>
                       </div>
                       <div class="autor-trust">
                          <img src="assets/images/trust-img.png">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div>
           <div class="col-sm-12">
              <div class="testi-box">
                 <img src="assets/images/testi-img4.png">
                 <div class="testi-text">
                    <h4>Great and on time work</h4>
                    <p>The book publishing process can be overwhelming, but the team at this agency made it a breeze. They walked me through each step and handled everything from formatting to distribution. I'm thrilled with the final product and grateful for their support.</p>
                    <div class="author-name">
                       <div class="aut-nm">
                          <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                          <h5>William Brown</h5>
                       </div>
                       <div class="autor-trust">
                          <img src="assets/images/trust-img.png">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        
     </div>
  </div>
</div>
</div>
</section> -->