<section class="banner-sec main-bnr-sec" id="bnr-sec" *ngIf="pagename == 'home'">
   <div class="container">
     <div class="row">
       <div class="col-sm-7">
         <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
           <h1>Award-Winning Book Writing Agency</h1>
           <h4>Are you a writer with a story to tell but struggling to find the right words to make it truly shine? We are here to turn your words into a masterpiece that will captivate readers.</h4>
           <ul>
             <li>Unlimited Revisions<span>|</span></li>
             <li>Get Accepted To Amazon. Fast</li>
           </ul>
           <div class="bnr-btn"> <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a> <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a> </div>
         </div>
       </div>
       <div class="col-sm-6"></div>
     </div>
   </div>
 </section>

 <section class="banner-sec testi-bnr" id="bnr-sec" *ngIf="pagename == 'testimonials'">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
          <h1>TESTIMONIALS</h1>
          <h4>Our Satisfied Clients Are The Core Reason Of Our Success And Reputation In The Industry</h4>
          <ul>
            <li>48 Hour Delivery<span>|</span></li>
            <li>Unlimited Revisions<span>|</span></li>
            <li>Get Accepted To Amazon. Fast</li>
          </ul>
          <div class="bnr-btn">
            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="banner-sec about-bnr" id="bnr-sec" *ngIf="pagename == 'aboutus'">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
          <h1>About</h1>
          <h2>Experience Premium Quality Services</h2>
          <h4>We Are The Best Source To Help You With Your Book Writing, Editing And Publishing Needs.</h4>
          <ul>
            <li>48 Hour Delivery<span>|</span></li>
            <li>Unlimited Revisions<span>|</span></li>
            <li>Get Accepted To Amazon Fast</li>
          </ul>
          <div class="bnr-btn">
            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="banner-sec about-bnr terms-bnr" id="bnr-sec" *ngIf="pagename == 'terms-and-conditions'">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
          <h1>Terms & Conditions</h1>
        </div>
      </div>          
    </div>
  </div>
</section>

<section class="banner-sec about-bnr terms-bnr" id="bnr-sec" *ngIf="pagename == 'privacy-policy'">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
          <h1>Privacy & Policy</h1>
        </div>
      </div>      
    </div>
  </div>
</section>