<section class="banner-sec main-bnr-sec" id="bnr-sec" *ngIf="pagename == 'home'">
   <div class="container">
     <div class="row">
       <div class="col-sm-7">
         <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
           <h1>Welcome to Blue Whale Publishers</h1>
           <h4>Transform your words into a published masterpiece with our ebook publishing service</h4>
           <p>Looking to publish your ebook and reach a vast audience on Amazon? Look no further than Blue Whale Publishers – our seamless ebook publishing services can help you achieve your goals. Get in touch with us today to learn more.</p>
           <!-- <ul>
             <li>Unlimited Revisions<span>|</span></li>
             <li>Get Accepted To Amazon. Fast</li>
           </ul> -->
           <div class="bnr-btn"> <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a> <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a> </div>
         </div>
       </div>
       <div class="col-sm-6"></div>
     </div>
   </div>
 </section>

 <section class="banner-sec testi-bnr" id="bnr-sec" *ngIf="pagename == 'testimonials'">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
          <h1>CLIENT TESTIMONIALS</h1>
          <h4>Testimonials from our delighted clients are the foundation of our industry achievements and renowned reputation</h4>
          <ul>
            <li>48 Hour Delivery<span>|</span></li>
            <li>Unlimited Revisions<span>|</span></li>
            <li>Get Accepted To Amazon. Fast</li>
          </ul>
          <div class="bnr-btn">
            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="banner-sec about-bnr" id="bnr-sec" *ngIf="pagename == 'aboutus'">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
          <h1>About</h1>
          <h2>Transforming Paper Stacks into a Bestseller Book!</h2>
          <h4>From idea to bestseller, our ghostwriting and publishing service is your ultimate partner for book success.</h4>
          <ul>
            <li>48 Hour Delivery<span>|</span></li>
            <li>Unlimited Revisions<span>|</span></li>
            <li>Get Accepted To Amazon Fast</li>
          </ul>
          <div class="bnr-btn">
            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="banner-sec about-bnr terms-bnr" id="bnr-sec" *ngIf="pagename == 'terms-and-conditions'">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
          <h1>Terms & Conditions</h1>
        </div>
      </div>          
    </div>
  </div>
</section>

<section class="banner-sec about-bnr terms-bnr" id="bnr-sec" *ngIf="pagename == 'privacy-policy'">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
          <h1>Privacy & Policy</h1>
        </div>
      </div>      
    </div>
  </div>
</section>