<app-banner [pagename]="pname"></app-banner>
<section id="satisfied-sec" class="satify-sec">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="client-logo wow fadeInUp" data-wow-delay="300ms">
               <img src="assets/images/logo-img-client.png">
            </div>
         </div>
      </div>
   </div>
</section>

<section id="who-we-are" class="who-we-sec">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="col-sm-5">
               <div class="who-we-img">
                  <img src="assets/images/who-we-are-img.jpg">
               </div>
            </div>
            <div class="col-sm-7">
               <div class="who-we-txt hd-txt">
                  <h2 class=" wow fadeInRight" data-wow-delay="400ms">Get To Know About Us</h2>
                  <p class=" wow fadeInRight" data-wow-delay="500ms">We are a trusted and esteemed brand in the realm of
                     ghostwriting and publishing services. Our dedicated team of experienced and qualified experts
                     excels in crafting compelling stories for you. Comprising professional editors, we meticulously
                     ensure the quality of your book to deliver flawless work. <br><br>
                     At our ghostwriting and publishing service, we're committed to providing a wide array of services.
                     To achieve this, we've onboarded exceptional ghostwriters with expertise in various unique niches.
                  </p>
                  <div class="bnr-btn wow fadeInRight" data-wow-delay="550ms">
                     <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                     <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section id="who-we-are" class="who-we-sec-two">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">

            <div class="col-sm-6">
               <div class="who-we-txt hd-txt">
                  <h2 class=" wow fadeInLeft" data-wow-delay="400ms">WHAT MAKES Blue Whale Publishers STAND OUT</h2>
                  <p class=" wow fadeInLeft" data-wow-delay="500ms">There might be quite a few writing services out
                     there.
                     <br><br>
                     Blue Whale Publishers offers exceptional ghostwriting and publishing services to authors looking to
                     sell their ebooks successfully. With our services, authors retain full ownership and control over
                     their work while receiving expert guidance throughout the entire publishing process. From crafting
                     a marketing strategy to distributing your book to a wider audience, our team of experts will
                     provide support every step of the way
                  </p><br>
                  <ul>
                     <li>We deliver 100% unique content</li>
                     <li>100% content ownership to our clients</li>
                     <li>Highly acclaimed and professional writers</li>
                     <li>Over 5400 books written</li>
                  </ul>
                  <div class="bnr-btn wow fadeInLeft" data-wow-delay="550ms">
                     <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                     <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="who-we-img">
                  <img src="assets/images/who-we-are-img2.png">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section id="writer-edi-sec" class="wri-sec">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="col-sm-8">
               <div class="hd-txt">
                  <h2 class=" wow bounceInLeft" data-wow-delay="400ms">READY TO TRANSFORM YOUR MANUSCRIPT INTO A
                     MASTERPIECE? LET'S GET STARTED!</h2>
                  <p class=" wow bounceInLeft" data-wow-delay="500ms">Reach out to us today and take the first step
                     toward becoming a published author.</p>
               </div>
               <div class="edi-btn-st wow bounceInLeft" data-wow-delay="600ms">
                  <div class="bnr-btn">
                     <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                     <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                  </div>
                  <div class="edit-call">
                     <a href="tel:(254) 500-3042 ">Toll Free <span>-</span>(254) 500-3042 </a>
                  </div>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="edit-img  wow bounceInRight" data-wow-delay="600ms">
                  <img src="assets/images/wri-edi-simg.png">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="why-hire" class="why-sec-hire">
   <div class="types-of-videos">
      <div class="container">
         <div class="hd-txt">
            <h2 class=" wow fadeInUp" data-wow-delay="500ms"> WHY OPT FOR OUR eBOOK PUBLISHING SERVICE? </h2>
            <p class=" wow fadeInUp" data-wow-delay="600ms">Blue Whale Publishers serves as the comprehensive solution
               for all your ebook writing, publishing, and marketing requirements. Here are several compelling reasons
               to select our services:</p>
         </div>
         <div class="core-main">
            <div class="col-md-3"></div>
            <div class="col-md-4 core-left ">
               <div class="core-details wow bounceIn">
                  <div class="col-md-12 core-num-1 core-disc no-padding-left" id="script_writing">
                     <h2>EXPERIENCED WRITERS</h2>
                     <p>Our ebook publishing service boasts a team of highly professional and seasoned writers,
                        proficient in various writing genres, and with a proven track record of delivering top-notch
                        content. </p>
                  </div>
               </div>
               <div class="core-details wow bounceIn">
                  <div class="col-md-12 core-num-3 core-disc no-padding-left" id="voice_over">
                     <h2>CUSTOMIZED SOLUTIONS</h2>
                     <p>We provide tailor-made solutions to our clients, catering to their specific needs and
                        requirements. We take the time to fully understand our clients' needs and work closely with them
                        to deliver the best outcomes. </p>
                  </div>
               </div>
               <div class="core-details wow bounceIn">
                  <div class="col-md-12 core-num-5 core-disc no-padding-left" id="voice_over">
                     <h2>TIMELY DELIVERY</h2>
                     <p>We prioritize swift turnaround times, recognizing the significance of timely delivery. Our
                        commitment to efficiency ensures that we meet deadlines and deliver projects promptly. </p>
                  </div>
               </div>
            </div>
            <div class="col-md-4 core-left right">
               <div class="core-details wow bounceIn">
                  <div class="col-md-12 core-num-2 core-disc no-padding-right" id="design">
                     <h2>AFFORDABLE PRICING</h2>
                     <p>We maintain competitive and accessible pricing to ensure that our clients receive excellent
                        value for their investments. We also offer flexible pricing options to accommodate diverse
                        budgets.</p>
                  </div>
               </div>
               <div class="core-details wow bounceIn" id="animations">
                  <div class="col-md-12 core-num-4 core-disc no-padding-right">
                     <h2>EXCELLENT CUSTOMER SERVICE</h2>
                     <p>Our dedicated team of customer service representatives is available 24/7 to address all your
                        inquiries and concerns, ensuring your complete satisfaction.</p>
                  </div>
               </div>
               <div class="core-details wow bounceIn" id="animations">
                  <div class="col-md-12 core-num-6 core-disc no-padding-right">
                     <h2>QUALITY ASSURANCE</h2>
                     <p>Our content doesn't just reach the client; it undergoes a rigorous quality assurance process to
                        guarantee the highest quality and error-free content.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>





<section id="testimonial-sec" class="testi-sec">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="hd-txt">
               <h2 class="wow fadeInUp" data-wow-delay="400ms">CLIENT TESTIMONIALS</h2>
               <p class="wow fadeInUp" data-wow-delay="500ms">Discover what our clients have to say about their
                  experiences with us. We've supported numerous aspiring writers in their journey to becoming published
                  authors. Explore the feedback from some of our satisfied clients. </p>
            </div>
            <div class="testi-slider">
               <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                  (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                  (beforeChange)="beforeChange($event)">
                  <div ngxSlickItem *ngFor="let slide of testomonial; trackBy: trackByTestomonial"
                     class="col-sm-12 slide">
                     <div class="testi-box">
                        <img src="{{ slide.thumbnail }}" />
                        <div class="testi-text">
                           <h4>{{slide.title}}</h4>
                           <p>
                              {{slide.desciption}}
                           </p>
                           <div class="author-name">
                              <div class="aut-nm">
                                 <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                    aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                    class="fa fa-star" aria-hidden="true"></i>
                                 <i class="fa fa-star" aria-hidden="true"></i>
                                 <h5>{{slide.name}}</h5>
                              </div>
                              <div class="autor-trust">
                                 <img src="{{ slide.autorTrust }}" />
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </ngx-slick-carousel>
            </div>
         </div>
      </div>
   </div>
</section>