<app-banner [pagename]="pname"></app-banner>

<section class="banner-sec bnr-publish serv-bnr-st" id="bnr-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="bnr-lft-col wow bounceInLeft" data-wow-delay="300ms">
                    <h2>Stunning Website Designs <br> & Flawless Development</h2>
                    <!-- <h3>Distribution Services</h3> -->
                    <p>Our experienced design team will work with you to create a stunning look for your website, <br>
                        while our developers will provide flawless development.</p>
                    <div class="bnr-btn">
                        <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                        <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="satisfied-sec" class="satify-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client-logo wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/images/logo-img-client.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="distribute-markting" class="marketing-dis">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 text-center">
                    <div class="lft-col-mrkt text-center">
                        <div class="hd-txt">
                            <h2 class=" wow fadeInLeft text-center" data-wow-delay="500ms">Let Us Design Your Dream
                                Website</h2>
                            <p class=" wow fadeInLeft text-center" data-wow-delay="550ms">The Internet offers numerous
                                opportunities for various businesses. Take advantage of its potential to benefit your
                                own business.
                                <br><br>
                                We can help you establish a strong digital presence and uncover your potential market
                                through our custom web design services. Our professional website design services include
                                website design and development, search engine optimization (SEO), and site maintenance,
                                ensuring that all your needs are met.
                            </p>
                        </div>
                        <div class="bnr-btn  wow fadeInLeft" data-wow-delay="600ms">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="#" class="btn-sts livcht-btn ">Live Chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="writer-edi-sec" class="wri-sec markt-cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <div class="edit-img  wow bounceInLeft" data-wow-delay="600ms">
                        <img src="assets/images/markt-cta-img.png">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="hd-txt">
                        <h2 class=" wow bounceInRight" data-wow-delay="400ms">Create A Stunning Author's Website</h2>
                        <p class=" wow bounceInRight" data-wow-delay="500ms">Online Book Writers is the perfect web
                            design agency for your work to be displayed in a way like never before. We specialize in
                            creating custom websites for authors that reflect your story and bring your book to life.
                        </p>
                    </div>
                    <div class="edi-btn-st wow bounceInRight" data-wow-delay="600ms">
                        <div class="bnr-btn">
                            <a href="javascript:;" class="popUpBtn btn-sts strd-btn">Get Started</a>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                        <div class="edit-call">
                            <a href="tel:844-387-1932">Toll Free <span>-</span>844-387-1932</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="mrkt-services" class="mrkt-serv webnseo-mrkt-serv">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">What Sets Our Website Design <br> Services Apart?
                    </h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/every-package-1.gif">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>Customized Designs</h4>
                            <p>We will provide customized designs tailored to meet your business's unique needs. It
                                implies that the design of your website will not be a cookie-cutter template but rather
                                a unique and personalized design that sets your business apart from the competition.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/every-package-2.gif">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>Responsive Design</h4>
                            <p>With the increasing use of mobile devices, your website must be designed to be
                                responsive. Your website will look great and function properly on all devices, including
                                desktops, laptops, tablets, and smartphones.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/every-package-3.gif">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>Search Engine Optimization (SEO)</h4>
                            <p>We ensure your website is optimized for search engines. Your website will be designed
                                with SEO best practices in mind, such as optimizing meta tags, using relevant keywords,
                                and creating high-quality content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/every-package-4.gif">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>User-Friendly Navigation</h4>
                            <p>As a leading web design company, we focus on creating a user-friendly navigation system
                                that makes it easy for visitors to find what they need. We use UX and UI design
                                techniques to ensure your website is user-friendly and visually appealing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="market-serv-box">
                        <div class="mrkt-icon-img">
                            <img src="assets/images/every-package-5.gif">
                        </div>
                        <div class="markt-sev-txt">
                            <h4>Integration With Third-Party Tools </h4>
                            <p>We have experience integrating your website with third-party tools and platforms
                                essential to your business, such as payment gateways, CRM systems, and marketing
                                automation software. It ensures that your website is optimized to work seamlessly.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
</section>
<section id="pricing-sec" class="price-sec new-priicng-st-srv">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class=" wow fadeInUp" data-wow-delay="500ms">Services & Pricing</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Web design Basic</h3>
                            <ul>
                                <li> 2 Stock Images </li>
                                <li> 3 Page Website </li>
                                <li> 1 jQuery Slider Banner </li>
                                <li> Contact/Query Form </li>
                                <li> Complete W3C Certified HTML </li>
                                <li> 48 to 72 hours TAT </li>
                                <li> Complete Deployment </li>
                                <li> 100% Satisfaction Guarantee </li>
                                <li> 100% Unique Design Guarantee </li>
                                <li> 100% Money Back Guarantee * </li>
                            </ul>
                            <h2>$222</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Web Design Startup</h3>
                            <ul>
                                <li> 5 Stock Photos </li>
                                <li> 5 Page Website </li>
                                <li> 3 Banner Design </li>
                                <li> 1 jQuery Slider Banner </li>
                                <li> <span>FREE</span> Google Friendly Sitemap </li>
                                <li> Complete W3C Certified HTML </li>
                                <li> 48 to 72 hours TAT </li>
                                <li> 100% Satisfaction Guarantee </li>
                                <li> 100% Unique Design Guarantee </li>
                                <li> 100% Money Back Guarantee * </li>
                                <li> Mobile Responsive will be Additional <span>$200*</span> </li>
                                <li> CMS will be Additional <span>$250*</span> </li>
                            </ul>
                            <h2>$294</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="price-box bdr-rem">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Website Design Economy </h3>
                            <ul>
                                <li> 10 Unique Pages Website </li>
                                <li> CMS / Admin Panel Support </li>
                                <li> 8 Stock images </li>
                                <li> 5 Banner Designs </li>
                                <li> 1 jQuery Slider Banner </li>
                                <li> <span>FREE</span> Google Friendly Sitemap </li>
                                <li> Complete W3C Certified HTML </li>
                                <li> 48 to 72 hours TAT </li>
                                <li> Complete Deployment </li>
                                <li> 100% Satisfaction Guarantee </li>
                                <li> 100% Unique Design Guarantee </li>
                                <li> 100% Money Back Guarantee * </li>
                                <li> Mobile Responsive will be Additional <span>$200*</span> </li>
                            </ul>
                            <h2>$644</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 new-packg-web">
                <div class="col-sm-4">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Web design Custom</h3>
                            <ul>
                                <li> Upto 15 Unique Pages Website </li>
                                <li> Conceptual and Dynamic Website </li>
                                <li> Mobile Responsive </li>
                                <li> Online Reservation/Appointment Tool (Optional) </li>
                                <li> Online Payment Integration (Optional) </li>
                                <li> Custom Forms </li>
                                <li> Lead Capturing Forms (Optional) </li>
                                <li> Striking Hover Effects </li>
                                <li> Newsletter Subscription (Optional) </li>
                                <li> Social Media Integration </li>
                                <li> Search Engine Submission </li>
                                <li> 5 Stock Photos </li>
                                <li> 3 Unique Banner Design </li>
                                <li> 1 jQuery Slider Banner </li>
                                <li> Complete W3C Certified HTML </li>
                                <li> 48 to 72 hours TAT </li>
                                <li> Complete Deployment </li>
                                <li> 100% Satisfaction Guarantee </li>
                                <li> 100% Unique Design Guarantee </li>
                                <li> 100% Money Back Guarantee * </li>
                            </ul>
                            <h2>$1194</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="price-box">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Web Design Elite</h3>
                            <ul>
                                <li> 15 to 20 Pages Website </li>
                                <li> Custom Made, Interactive, Dynamic &amp; High End Design </li>
                                <li> Custom WP (or) Custom PHP Development </li>
                                <li> 1 jQuery Slider Banner </li>
                                <li> Up to 10 Custom Made Banner Designs </li>
                                <li> 10 Stock Images </li>
                                <li> Unlimited Revisions </li>
                                <li> Special Hoover Effects </li>
                                <li> Content Management System (CMS) </li>
                                <li> Online Appointment/Scheduling/Online Ordering Integration (Optional) </li>
                                <li> Online Payment Integration (Optional) </li>
                                <li> Multi Lingual (Optional) </li>
                                <li> Custom Dynamic Forms (Optional) </li>
                                <li> Signup Area (For Newsletters, Offers etc.) </li>
                                <li> Search Bar </li>
                                <li> Live Feeds of Social Networks integration (Optional) </li>
                                <li> Mobile Responsive </li>
                                <li> FREE 5 Years Domain Name </li>
                                <li> Free Google Friendly Sitemap </li>
                                <li> Search Engine Submission </li>
                                <li> Complete W3C Certified HTML </li>
                                <li> Industry Specified Team of Expert Designers and Developers </li>
                                <li> Complete Deployment </li>
                                <li> Dedicated Accounts Manager </li>
                                <li> 100% Ownership Rights </li>
                                <li> 100% Satisfaction Guarantee </li>
                                <li> 100% Unique Design Guarantee </li>
                                <li> 100% Money Back Guarantee * </li>
                            </ul>
                            <h2>$4388</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="price-box bdr-rem">
                        <div class="price-icon-bx">
                            <img src="assets/images/price-icon-1.png">
                        </div>
                        <div class="price-txt">
                            <h3>Website Design POrtal </h3>
                            <ul>
                                <li>Complete Custom Design &amp; Development</li>
                                <li>Dating Portal, Job Portal, Professional Network Portal, Social Network Portal,
                                    Restaurant Portal, Medical</li>
                                <li>Portal, Enterprise Portal (Any One)</li>
                                <li>Unique, User Friendly, Interactive, Dynamic, High End UI Design</li>
                                <li>Unlimited Banner Designs</li>
                                <li>Interactive Sliding Banners</li>
                                <li>Special Hoover Effects</li>
                                <li>Unlimited Stock Images</li>
                                <li>User Signup Area</li>
                                <li>User Sign in Area</li>
                                <li>Client/User Dashboard Area</li>
                                <li>Custom Coding and Development</li>
                                <li>Content Management System (Custom)</li>
                                <li>Online Appointment/Scheduling/Online Ordering Integration (Optional)</li>
                                <li>Online Payment Integration (Optional)</li>
                                <li>Multi Lingual (Optional)</li>
                                <li>Custom Dynamic Forms (Optional)</li>
                                <li>Shopping Cart Integration (Optional)</li>
                                <li>Complete Database Creation</li>
                                <li>Signup Automated Email Authentication</li>
                                <li>Web Traffic Analytics Integration</li>
                                <li>3rd Party API Integrations</li>
                                <li>Signup Area (For Newsletters, Offers etc.)</li>
                                <li>Search Bar for Easy Search</li>
                                <li>Live Feeds of Social Networks integration (Optional)</li>
                                <li>Search Engine Submission</li>
                                <li>Module-wise Architecture</li>
                                <li>Extensive Admin Panel</li>
                                <li>Award Winning Team of Expert Designers and Developers</li>
                                <li>Complete Deployment</li>
                                <li>
                                    <h4><b><u>Value Added Services</u></b></h4>
                                </li>
                                <li>Complete Source Files and Codes</li>
                                <li>Devoted &amp; Enthusiastic Project Manager</li>
                                <li>100% Ownership Rights</li>
                                <li>100% Unique &amp; Custom Website Design and Development</li>
                                <li>100% Approval Assurance </li>
                                <li>30 Days Refund Warranty</li>
                                <li><strong>*NO MONTHLY OR ANY HIDDEN FEE*</strong></li>
                                <li>
                                    <h4><b><u>Add on</u></b></h4>
                                </li>
                                <li>Professional Content/Copywriting - $1340 (Up to 20 Pages) - (Per Page is $97)</li>
                                <li>Shopping Cart Integration - $250</li>
                                <li>Additional Professional Email ID - $20 (Each)</li>
                            </ul>
                            <h2>$5322</h2>
                            <a href="javascript:;" onclick="setButtonURL();" class="btn-sts livcht-btn">Live Chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec_portfolio ">
    <div class="container-fluid">
        <div class="row">
            <div class="hd-txt">
                <h2 class=" wow fadeInUp" data-wow-delay="500ms">Explore Our Work</h2>
                <p class=" wow fadeInUp" data-wow-delay="600ms">Online Book Writers has designed beautiful and
                    responsive websites for authors and businesses of all sizes. <br> We create websites that truly
                    stand out.</p>
            </div>
            <div class="resume_inner">
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInLeft"> <a href="assets/images/web/large/1.jpg"
                            class="fancybox" rel="ligthbox"> <img src="assets/images/web/small/1.jpg">
                            <div class="box-content"> <i class="fa fa-plus"></i> </div>
                        </a> </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInLeft"> <a href="assets/images/web/large/2.jpg"
                            class="fancybox" rel="ligthbox"> <img src="assets/images/web/small/2.jpg">
                            <div class="box-content"> <i class="fa fa-plus"></i> </div>
                        </a> </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInUp"> <a href="assets/images/web/large/3.jpg"
                            class="fancybox" rel="ligthbox"> <img src="assets/images/web/small/3.jpg">
                            <div class="box-content"> <i class="fa fa-plus"></i> </div>
                        </a> </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInUp"> <a href="assets/images/web/large/4.jpg"
                            class="fancybox" rel="ligthbox"> <img src="assets/images/web/small/4.jpg">
                            <div class="box-content"> <i class="fa fa-plus"></i> </div>
                        </a> </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInRight"> <a href="assets/images/web/large/5.jpg"
                            class="fancybox" rel="ligthbox"> <img src="assets/images/web/small/5.jpg">
                            <div class="box-content"> <i class="fa fa-plus"></i> </div>
                        </a> </div>
                </div>
                <div class="col-md-2">
                    <div class="resume_box box18 wow bounceInRight"> <a href="assets/images/web/large/6.jpg"
                            class="fancybox" rel="ligthbox"> <img src="assets/images/web/small/6.jpg">
                            <div class="box-content"> <i class="fa fa-plus"></i> </div>
                        </a> </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="testimonial-sec" class="testi-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hd-txt">
                    <h2 class="wow fadeInUp" data-wow-delay="400ms">WHAT OUR CLIENTS SAY ABOUT US</h2>
                    <p class="wow fadeInUp" data-wow-delay="500ms">We have helped thousands of aspiring writers become
                        published authors. <br> Check out some of our clients' feedback: </p>
                </div>
                <div class="testi-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let slide of testomonial; trackBy: trackByTestomonial"
                            class="col-sm-12 slide">
                            <div class="testi-box">
                                <img src="{{ slide.thumbnail }}" />
                                <div class="testi-text">
                                    <h4>{{slide.title}}</h4>
                                    <p>
                                        {{slide.desciption}}
                                    </p>
                                    <div class="author-name">
                                        <div class="aut-nm">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <h5>{{slide.name}}</h5>
                                        </div>
                                        <div class="autor-trust">
                                            <img src="{{ slide.autorTrust }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>